{% require_css %}
  <style>
  .card-header-cap:after {
    content: "";
    background-image: url({{ get_asset_url('/q-theme/images/qoria/q_tail_01.svg') }});
    background-position: calc(100% + 34px) calc(100% + 32px);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 50%;
}
  </style>
{% end_require_css %}
<div class="container-fluid g-0">
<div class="row row-cols-{{module.styles.responsive.breakpoints.mobile}} row-cols-md-{{module.styles.responsive.breakpoints.tablet}} row-cols-lg-{{module.styles.responsive.breakpoints.desktop}} g-3">
  {% for card in module.card %}

    <div class="col">
      <div class="card shadow {{ "h-100" if module.styles.equal_heights }}">
        {% if card.image.src %}
          <img src="{{ card.image.src }}" class="card-img-top" alt="{{ card.image.alt }}">
          <div class="card-header h5 {{card.accent_colour}}">{{card.title}}</div>
        {% else %}
          <div class="ratio ratio-16x9 {{card.accent_colour}}">
            <div class="card-header card-header-cap d-flex border-0 align-items-end">
              <p class="fs-1 lh-sm">
                {{card.title}}
              </h3>
            </div>
          </div>
        {% endif %}
        <div class="card-body">
        
          {% if card.text %}
            <p class="card-text">{{ card.text }}</p>
          {% endif %}
          {% if card.link.url.href %}
            <a href="{{card.link.url.href}}" class="{{ "stretched-link" if card.stretched_link }} text-reset text-decoration-none">{{card.link_label}}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {%endfor%}
</div>

</div>