{% require_css %}
  <style>
  .card-header-cap {position: relative;}
  .card-header-cap:after {
    content: "";
    background-image: url({{ get_asset_url('/q-theme/images/qoria/q_tail_01.svg') }});
    background-position: calc(100% + 34px) calc(100% + 32px);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 50%;
}
  </style>
{% end_require_css %}


{% macro card_body()  %}

  {% if card.multiple_text %}

    {% for text in card.text_group %}

      <div class="py-3">

      {% if text.text %}
        {{ text.text }}
      {% endif %}

      {% if text.link.url.href %}


        {% if text.cta_style %}
          {% if text.cta_style != "text-" %}
            {% set textCtaClasses = text.cta_style ~ text.cta_colour ~ "mt-3" %}
          {% else %}
            {% set textCtaClasses = "text-" ~ text.cta_colour ~ " text-decoration-none fw-semibold d-inline-block mt-3" %}
          {% endif %}
        {% else %}
          {% set textCtaClasses = "text-reset text-decoration-none fw-semibold d-inline-block mt-3" %}
        {% endif %}


        <a href="{{text.link.url.href}}" 
        class="{{ "stretched-link" if text.stretched_link }} {{textCtaClasses}}"
        {% if text.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if text.download %}
          {% if text.download_file %}
            download="{{text.download_file}}"
          {% else %}
              download
          {% endif %}
        {% endif %}
        >{{text.link_label|replace('->','<i class="fa fa-arrow-right"></i>')}}</a>
      {% endif %}

      </div>

      {% if !loop.last %}
        <hr class="my-5">
      {% endif %}

    {% endfor %}

  {% else %}
  
    {% if card.text %}
      <div class="card-text flex-grow-1">
      {{ card.text }}
      </div>
    {% endif %}
    {% if card.link.url.href %}
      {% if card.cta_style %}
        {% if card.cta_style != "text-" %}
          {% set ctaClasses = card.cta_style ~ card.cta_colour ~ " mt-3" %}
        {% else %}
          {% set ctaClasses = "text-" ~ card.cta_colour ~ " mt-2 text-decoration-none fw-semibold" %}
        {% endif %}
      {% else %}
        {% set ctaClasses = "text-reset text-decoration-none fw-semibold mt-2" %}
      {% endif %}
      {% if module.styles.textalignment == "center" %}
        {% set ctaClasses = ctaClasses ~ " mx-auto" %}
      {% elif module.styles.textalignment == "end" %}
        {% set ctaClasses = ctaClasses ~ " ms-auto" %}
      {% elif module.styles.textalignment == "start" %}
        {% set ctaClasses = ctaClasses ~ " me-auto" %}
      {% endif %}
      <a href="{{card.link.url.href}}" 
      class="{{ "stretched-link" if card.stretched_link }} {{ ctaClasses }}"
      {% if card.link.open_in_new_tab %}target="_blank"{% endif %}
      {% if card.download %}
        {% if card.download_file %}
          download="{{card.download_file}}"
        {% else %}
            download
        {% endif %}
      {% endif %}
      >{{card.link_label|replace('->','<i class="fa fa-arrow-right"></i>')}}</a>
    {% endif %}
  
  {% endif %}

{% endmacro %}




<div class="container-fluid g-0 {{module.advanced.additional_classes}}" style="{{module.styles.spacing_field.css}}" id="cards-{{name}}">
<div class="row row-cols-{{module.styles.responsive.mobile.cards}} row-cols-md-{{module.styles.responsive.tablet.cards}} row-cols-lg-{{module.styles.responsive.desktop.cards}} g-3">
  {% for card in module.card %}

    <div class="col">
      <div class="card {{ module.styles.card_colour }} {{ module.styles.shadow }} {{ "h-100 d-flex flex-column" if module.styles.equal_heights }}">


          {% if module.styles.image_header && module.styles.image_header_fit == "cover" %}
            {% if card.image.src %}
              <img src="{{ card.image.src }}" class="card-img-top" alt="{{ card.image.alt }}">
            {% endif %}
          {% endif %}




          {% if module.styles.title_accent %}

            {% if card.title != "" %}
            <div class="card-header {{ "card-header-cap" if module.styles.q_accent }} {{ "card-image-overlap card-image-overlap-padding" if card.image_overlap }} d-flex border-0 align-items-end justify-content-{{ module.styles.textalignment }} {{ "pt-7" if !card.image_overlap && module.styles.q_accent }} {{ card.title_size if card.title_size else "h5" }} {{card.accent_colour}} text-{{ module.styles.textalignment }} lh-sm" style="{{ "padding-bottom: calc(var(--q-card-cap-padding-y) + " ~ card.overlap ~ "rem);" if card.image_overlap }}">
            <div {{ "class='py-3'" if card.image_overlap }}>{{card.title}}</div>
            </div>
            {% endif %}

          {% else %}
            {% unless card.accent_colour == "none" %}
           <div class="{{card.accent_colour}}"><div style="display: block; height: 1em;"></div></div>
            {% endunless %}
          {% endif %}
           

           <div class="card-body {{ module.styles.card_colour }} text-{{ module.styles.textalignment }} {{ "pt-0" if card.image_overlap }} {{ "d-flex flex-column" if module.styles.equal_heights }}">
           
          {% if module.styles.image_header && module.styles.image_header_fit == "contain" %}
            {% if card.image.src %}
              
              <img src="{{ card.image.src }}" class="img-fluid mb-3" alt="{{ card.image.alt }}">
              
            {% endif %}
          {% endif %}

          
          {% if !module.styles.title_accent %}
            {% if card.title != "" %}
                <h5 class="text-{{module.styles.textalignment}} mb-3 {{ card.title_size if card.title_size else "h5" }}">{{ card.title }}</h5>
            {% endif %}
          {% endif %}

          {% if !module.styles.image_header %}
            {% if card.image.src %}
              <div>
                <img src="{{ card.image.src }}" class="img-fluid mb-3 {{ "position-relative card-image-overlap card-image-overlap-margin" if card.image_overlap }}" alt="{{ card.image.alt }}" style="{{ "margin-top: -" ~ card.overlap ~ "rem;" if card.image_overlap }}">
              </div>
            {% endif %}
          {% endif %}
               
              {{ card_body() }}

         </div>
 

      </div>
    </div>
  {%endfor%}
</div>

</div>

<script>

document.addEventListener("DOMContentLoaded", () => {
  $(window).on('load resize orientationchange', normaliseHeights("#cards-{{name}} .card-header"));

      
  
});
</script>