@property --spotlight-t {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

.spotlight-overlay {
  --spotlight-t: 0;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #000000;
  opacity: 95%;
  transition: --spotlight-t 300ms linear;
}

.js-enabled .spotlight-overlay {
    display: block;
}