<div id="{{name}}"></div>
{% if is_in_editor %}
    {% editor_placeholder %}
{% endif %}
<script>

    document.addEventListener("DOMContentLoaded", function() {
        let e = document.getElementById("{{name}}");

        {% if module.apply_to_element == "column" %}
            let eToFind = "dnd-column";
        {% elif module.apply_to_element == "row" %}
            let eToFind = "dnd-row";
        {% elif module.apply_to_element == "section" %}
            let eToFind = "dnd-section";
        {% endif %}

        let cToAdd = "{{module.classes}}";

        cToAdd = cToAdd.replace(/\s+/g, ' ');

        applyClassesToParent(e, eToFind, cToAdd);

    });
    
</script>