{% if module.video_source == "youtube" %}
  <div class="ratio ratio-{{module.aspect_ratio}}">
    {% set embed = module.embed_code %}
    {% set embedParts = embed|split('src="', 1) %}
    
    {% if embedParts|length > 1 %}
      {% set embedBefore = embedParts[0] %}
      {% set embedAfterParts = embedParts[1]|split('"', 1) %}
      {% set embedSrc = embedAfterParts[0] %}
      {% set embedAfter = embedAfterParts[1] %}

        {% if embedSrc is string_containing "youtube.com/embed" %}
          {% if embedSrc is string_containing "?" %}
            {% set embedSrc = embedSrc ~ '&enablejsapi=1' %}
          {% else %}
            {% set embedSrc = embedSrc ~ '?enablejsapi=1' %}
          {% endif %}
        {% endif %}

        {% set embed = embedBefore ~ 'src="' ~ embedSrc ~ '"' ~ embedAfter %}
    {% endif %}

    {{embed|raw}}
  </div>
{% else %}
  {% if module.modal != true %}
    
    <div class="position-relative">
      <video id="video_{{ name }}" width="100%" class="d-block {{ "rounded-3" if module.style.rounded_corners }}" preload="{{ module.style.preload }}" {% if module.style.loop %}loop{% endif %}{% if module.style.autoplay %} autoplay{% endif %}{% if module.style.muted %} muted{% endif %}{% if module.custom_thumbnail.src %} poster="{{ module.custom_thumbnail.src }}"{% endif %}  controlsList="nodownload noremoteplayback">
        
        {% set videoUrl = module.video_file|lower %}
        {% if videoUrl is string_containing ".mp4" %}
        {% set type = 'type="video/mp4"' %}
        {% elif videoUrl is string_containing ".ogg" %}
        {% set type = 'type="video/ogg"' %}
        {% elif videoUrl is string_containing ".webm" %}
        {% set type = 'type="video/webm"' %}
        {% endif %}
        <source src="{{ module.video_file }}" {{ type }}>
        {% for item in module.subtitles %}
        <track label="{{ item.subs_label }}" kind="captions" src="{{ item.subtitle_file }}" {% if loop.first %}default{% endif %} />
        {% endfor %}
      Your browser does not support the video tag.
      </video>
      {% if module.style.controls %}
          <div class="play-button play-button-{{module.style.play_button_colour}} position-absolute top-50 start-50 translate-middle">
            <div class="w-100 h-100 position-absolute" onclick="playVideo('video_{{ name }}')">
              </div>
          </div>
      {% endif %}
    </div>

  {% else %}

    <div class="position-relative">
      <img src="{{ module.custom_thumbnail.src }}" alt="{{ module.custom_thumbnail.alt }}" width="100%" class="d-block {{ "rounded-3" if module.style.rounded_corners }}">
      {% if module.style.controls %}
          <div class="play-button play-button-{{module.style.play_button_colour}} position-absolute top-50 start-50 translate-middle">
              <div class="w-100 h-100 position-absolute" data-bs-toggle="modal" data-bs-target="#videoModal-{{name}}" onclick="playVideo('video{{name}}')"></div>
          </div>
      {% endif %}
    </div>

    <div class="modal fade" id="videoModal-{{name}}" tabindex="-1" aria-labelledby="videoModal-{{name}}" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content overflow-hidden">
                <div class="modal-body p-0">
                    <div class="position-relative">
                        <video id="video{{ name }}" width="100%" class="d-block" preload="{{ module.style.preload }}" {% if module.style.loop %}loop{% endif %}{% if module.style.autoplay %} autoplay{% endif %}{% if module.style.muted %} muted{% endif %}{% if module.custom_thumbnail.src %} poster="{{ module.custom_thumbnail.src }}"{% endif %}  controlsList="nodownload noremoteplayback">
                        {% set videoUrl = module.video_file|lower %}
                        {% if videoUrl is string_containing ".mp4" %}
                        {% set type = 'type="video/mp4"' %}
                        {% elif videoUrl is string_containing ".ogg" %}
                        {% set type = 'type="video/ogg"' %}
                        {% elif videoUrl is string_containing ".webm" %}
                        {% set type = 'type="video/webm"' %}
                        {% endif %}
                        <source src="{{ module.video_file }}" {{ type }}>
                        {% for item in module.subtitles %}
                        <track label="{{ item.subs_label }}" kind="captions" src="{{ item.subtitle_file }}" {% if loop.first %}default{% endif %} />
                        {% endfor %}
                        Your browser does not support the video tag.
                        </video>                        
                        <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close" onclick="pauseVideo('video{{name}}')"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>

  {% endif %}
{% endif %}

<script>

//  console.log("{{module.video_file|pprint}}");

</script>

{% if is_in_blog_post_editor %}
  
  <script>

    function getVideoDuration(el, id) {
      var video = window.document.getElementById(id);
      var duration = video.duration;
      el.innerHTML = duration;
    }

    window.document.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {
        
        if (window.document.getElementById("video_duration")) {
          getVideoDuration(window.document.getElementById("video_duration"), "video_{{ name }}");
        } else {
          const newSpan = window.document.createElement("span");
          newSpan.id = "video_duration";
          newSpan.classList.add("d-none");

          const video = window.document.getElementById("video_{{ name }}");
          const duration = video.duration;
          newSpan.innerHTML = duration;
          const blogPostBody = window.document.getElementById("hs_cos_wrapper_post_body");
          blogPostBody.appendChild(newSpan);
        }

      }, 4000);
    })


  </script>

{% endif %}
