{% set articleIds = [] %}

    {% for article in module.articles %}  
        {% do articleIds.add(article.blog_entry) %}
    {% endfor %}
    
    {% set articles = content_by_ids(articleIds) %}

<style>
{% for content in module.articles %}    
        .bg-image-{{name}}-{{loop.index}}:before {
            background-image: url("{{articles[content.blog_entry].featured_image}}");
            background-position: center center;
        }
{% endfor %}
</style>

<section class="{{ module.style.shadow_style if module.style.shadow }} bg-image-{{name}}" style="transform-style: preserve-3d; {{"position: relative; z-index: 2; margin-bottom: -24px; transform: translateY(-24px);" if module.style.overlay }} {{module.style.spacing_field.css}}" id="trending-{{name}}">
    <div class="container-fluid g-0 position-relative " style="">
        <div class="row row-cols-{{module.style.responsive.mobile.cards}} row-cols-md-{{module.style.responsive.tablet.cards}} row-cols-lg-{{module.style.responsive.desktop.cards}} g-3">
            {% for content in module.articles %}    
                <div class="col">
                    <div class="content-container bg-image-faded bg-image-{{name}}-{{loop.index}} {{ "h-100" if module.style.equal_heights }} p-3 p-md-5 pb-md-8 pt-md-6 position-relative {{ article.background_colour if article.background_colour != "none" }} ">
                        <div class="position-relative">
                            <p class="mb-3"><strong>{{ article.pre_heading }}</strong></p>
                            <h4 class="fw-bold">{{articles[content.blog_entry].title}}</h4>
                            {% if articles[content.blog_entry].widgets.description %}
                                <p class="my-3">{{ articles[content.blog_entry].widgets.description.body.text}}</p>
                            {% else %}
                                <p class="my-3">{{ articles[content.blog_entry].post_summary|striptags|truncate(180, "...") }}</p>
                            {% endif %}
                            <p><strong>By {{articles[content.blog_entry].blog_post_author.display_name}}</strong></p>
                            <a href="{{ articles[content.blog_entry].absolute_url }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>