<section class="{{ module.style.shadow_style if module.style.shadow }}" style="transform-style: preserve-3d; -webkit-transform-style: preserve-3d; position-relative;">
    <div style="{{module.style.spacing_field.css}}" class="container-fluid g-0 position-relative {{ module.style.background_colour if module.style.background_colour != "none" }}{{ " bg-q-tail-1" if module.style.background_image == "q-tail-1" }}">
        <div class="row g-0 align-items-start">
            <div class="col-12 {{ "col-md-7" if module.image.src }} p-5 order-2 order-md-1">
                <div class="content-container">
                {{module.text}}
                {% if module.cta.link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" ~ module.cta.link.url.href %}
                {% else %}
                {% unless (module.cta.link.url.href is string_containing "//") 
                    or (!module.cta.link is string_startingwith "tel:") 
                    or !module.cta.link.url.href 
                %}
                    {% set href = "//" ~ module.cta.link.url.href %}
                {% else %}
                    {% set href = module.cta.link.url.href || "" %}
                {% endunless %}
                {% endif %}
                
                {% set rel = (module.cta.link.open_in_new_tab ? "noopener " : null) ~ (module.cta.link.no_follow ? "nofollow" : null) %}
                {% if href %}
                    <div class="d-block">
                        <a class="btn btn{{ module.cta.button_style }}{{module.cta.button_colour}} {{module.cta.button_size}} {% if module.cta.button_style != "-" %}{{module.cta.text_colour}}{% endif %} {{ module.cta.advanced.additional_classes }}" href="{{ href }}"
                            id="button_{{ name }}"
                            {% if module.cta.link.open_in_new_tab %}target="_blank"{% endif %}
                            {% if module.cta.download %}
                            {% if module.cta.download_file %}
                                download="{{module.cta.download_file}}"
                            {% else %}
                                download
                            {% endif %}
                            {% endif %}
                            rel="{{ rel }}">
                        {{ module.cta.button_text }}
                        </a>
                  </div>
                {% endif %}
                {{ module.post_text }}
                
                {% if module.back %}
                <button type="button" class="btn btn-link text-decoration-none text-reset p-0" onclick="javascript:history.back()">Go back</button>
                {% endif %}
                </div>
            </div>
            {% if module.image.src %}
                <div class="col-12 col-md-5 order-1 order-md-2">
                    <div class="content-container p-5 pe-5 pb-0 pb-md-5">

                        {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
                        {% if module.image.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}" style="max-width: 100%; height: auto;"' %}
                        {% elif module.image.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}

                        <img src="{{ module.image.src }}" class="img-fluid d-block" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    </div>
                </div>
        {% endif %}
        </div>
                <div class="bg-gradient-primary w-100" style="height: 12px;">&nbsp;</div>
    </div>
</section>


{% if !is_in_editor %}
    {% if module.cta.download_on_page_load && module.cta.download %}
        {% require_js %}
            <script>
                $(document).ready(function () {
                setTimeout(function(){
                    document.getElementById("button_{{ name }}").click();
                }, 2000);
                });
            </script>
        {% end_require_js %}
    {% endif %}
  {% endif %}