<!--
    templateType: none
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    <meta name="description" content="{{ content.meta_description }}">

    {# ===== Twitter Card ===== #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page_meta.html_title or pageTitle }}">
    <meta name="twitter:description" content="{{ content.meta_description }}">

    {# Use featured image if exists, else fallback #}
    {% if content.featured_image %}
      <meta name="twitter:image" content="{{ content.featured_image }}">
    {% else %}
      <meta name="twitter:image" content="{{ get_asset_url('../../images/qoria/opengraph/Linewize-OG.png') }}">
    {% endif %}

    {# Preload main theme CSS earlier for faster discovery #}
    {{ require_css(get_asset_url('/q-theme/css/qoria-theme.min.css'), { async: true }) }}
    {{ require_js(get_asset_url("../../child.js")) }}
    {{ standard_header_includes }}
    {{ require_css(get_public_template_url("../../child.css")) }}

    {% block head %}
    {% endblock %}
  </head>
  <body data-bs-spy="scroll" data-bs-target="#pageContents">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8QZ3RJD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  
    {% block header %}
      <div class="header-wrapper sticky-top shadow-sm">
        {% global_partial path='../partials/header.html', label="Header" %}
      </div>
    {% endblock header %}

    <div class="content-wrapper">
    {% block body %}
    {% endblock body %}
    </div>
    
    {% block footer %}
      <div class="footer-wrapper">
        {% global_partial path='../partials/footer.html', label="Footer" %}
      </div>
    {% endblock footer %}

    {% global_partial path='../partials/region-select-popup.html', label="Region Select Modal" %}
    {{ standard_footer_includes }}
    {{ require_js(get_asset_url('/q-theme/js/bootstrap.bundle.min.js')) }}
  </body>
</html>