
{% require_css %}
    <style>
    {% scope_css %}
        {% if module.style.carousel %}
            .testimonial-container {
            display: grid !important;
            {% if module.style.carousel_settings.controls %}
            grid-template-columns: 60px 1fr 60px;
            margin: 0 -60px;
            {%else%}
                grid-template-columns: 1fr;
            {%endif%}
            {%if module.style.carousel_settings.indicators %}
            padding-bottom: 2rem;
            {% endif %}
            }
        {% endif %}

        {% if module.style.testimonial_style && module.style.testimonial_style == "2" %}
            {% if module.style.quote_size %}
                {% if module.style.quote_size == "none" %}
                    svg.testimonial-quote {
                    display: none;
                }
                {% else %}
                    svg.testimonial-quote {
                    min-width: {{module.style.quote_size / 2}}px;
                    width: 20%;
                    max-width: {{module.style.quote_size}}px;
                    display: block;
                    margin-bottom: 32px;
                }
                {% endif %}
            {% else %}
                svg.testimonial-quote {
                min-width: 80px;
                width: 20%;
                max-width: 150px;
                display: block;
                margin-bottom: 32px;
            }
            {% endif %}

        {% else %}

        svg.testimonial-quote {
            max-width: 80%;
            width: 20%;
            display: block;
            margin-bottom: 10px;
        }

        {% endif %}

        .testimonial-photo {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    {% end_scope_css %}
    </style>
{% end_require_css %}

{% macro testimonial()  %}

    <div class="col p-2">
    <div class="card-testimonial h-100">
        <div class="card-header">
            {% if item.image.src != "" %}

                {% set sizeCSS = '' %}
                {% if item.image.size_type == 'auto' %}
                    {% set sizeCSS = 'max-width: {{ item.image.width }}px; max-height: {{ item.image.height }}px;' %}
                {% elif item.image.size_type == 'auto_custom_max' %}
                    {% set sizeCSS = 'max-width: {{ item.image.max_width }}px; max-height: {{ item.image.max_height }}px;' %}
                {% endif %}
                {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}

         <!--  <img src="{{item.image.src}}" alt="{{ item.image.alt }}" style=" {{ sizeCSS }}" {{ loadingAttr }} {{ sizeAttrs }}> -->

            {% endif %}
            {% if item.image_fit == "contain" %}
                <div class="card-img-contain ">
                    <img src="{{item.image.src}}" style="{{ sizeCSS }}" class="w-100 h-100 {{ "filter-grayscale" if module.style.greyscale_images }}" alt="{{ item.image.alt }}" {{ loadingAttr }}>
                </div>
            {% else %}            
                <img src="{{item.image.src}}" class="card-img-cover {{ "filter-grayscale" if module.style.greyscale_images }}" alt="{{ item.image.alt }}" {{ loadingAttr }}>
            {% endif %}
            <div class="card-title {{ module.style.author_alignment }}">
            {%if item.author %} <p class="card-author fs-6 fw-bold mb-0 lh-sm">{{item.author}}</p> {%endif%}
                {% if item.role%}<p class="card-role fs-6 mt-3 mb-0 lh-sm">{{item.role}}</p> {%endif%}
            </div>
        </div>
        <div class="position-relative card-body {{ "fw-light" if !module.style.quote_weight else "fw-" ~ module.style.quote_weight }}">
            <!-- quote graphic -->
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 27.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" class="testimonial-quote" id="quote" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 80 47.2" style="enable-background:new 0 0 80 47.2;" xml:space="preserve">
                <path class="fill-{{ item.accent_colour }}" d="M12.8,1.1c-1.5-1.4-3.9-1.4-5.4,0L1.1,7.3c-1.5,1.4-1.5,3.8,0,5.2l34.4,33.6c1.5,1.4,3.9,1.4,5.4,0l6.4-6.2
                c1.5-1.4,1.5-3.8,0-5.2L12.8,1.1z"/>
                <path class="fill-{{ item.accent_colour }}" d="M44.5,1.1c-1.5-1.4-3.9-1.4-5.4,0l-6.4,6.2c-1.5,1.4-1.5,3.8,0,5.2l34.4,33.6c1.5,1.4,3.9,1.4,5.4,0l6.4-6.2
                c1.5-1.4,1.5-3.8,0-5.2L44.5,1.1z"/>
                </svg>
            <!-- end quote graphic -->
            {{item.quote}}
        {% if item.read_more_url.href %}
            <br>
            <a href="{{ item.read_more_url.href }}" class="text-reset text-decoration-none fw-bold d-block mt-2">More +</a>
        {% endif %}
        
        </div>
    </div>
</div>

{% endmacro %}



{% macro testimonialStyle2()  %}

    <div class="col p-2">
        <div class="row align-items-center">
            {% if item.image.src != "" %}
                <div class="col-12 col-md-4 order-md-2 text-center">
                
                {% if item.image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif item.image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
                    <img src="{{item.image.src}}" {{loadingAttr}} alt="{{item.image.alt}}" class="img-fluid d-inline-block {{ "filter-grayscale" if module.style.greyscale_images }}" {{ sizeAttrs }}>
                </div>
            {% endif %}
            <div class="col-12 {{ "col-md-8" if item.image.src != "" }} order-md-1 text-{{module.style.dark_light}}">
                    <!-- quote graphic -->
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 27.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" class="testimonial-quote" id="quote" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 80 47.2" style="enable-background:new 0 0 80 47.2; transform: scale(-1, 1);" xml:space="preserve">
                    <path class="fill-{{ item.accent_colour if module.style.dark_light != "light" else "light" }}" d="M12.8,1.1c-1.5-1.4-3.9-1.4-5.4,0L1.1,7.3c-1.5,1.4-1.5,3.8,0,5.2l34.4,33.6c1.5,1.4,3.9,1.4,5.4,0l6.4-6.2
                    c1.5-1.4,1.5-3.8,0-5.2L12.8,1.1z"/>
                    <path class="fill-{{ item.accent_colour if module.style.dark_light != "light" else "light" }}" d="M44.5,1.1c-1.5-1.4-3.9-1.4-5.4,0l-6.4,6.2c-1.5,1.4-1.5,3.8,0,5.2l34.4,33.6c1.5,1.4,3.9,1.4,5.4,0l6.4-6.2
                    c1.5-1.4,1.5-3.8,0-5.2L44.5,1.1z"/>
                    </svg>
                <!-- end quote graphic -->
                
                <div class="{{ "fs-4" if !module.style.quote_fs else "fs-" ~ module.style.quote_fs }} mb-5 {{ "fw-light" if !module.style.quote_weight else "fw-" ~ module.style.quote_weight }} lh-sm">{{item.quote}}
                
                {% if item.read_more_url.href %}
                    <br>
                    <a href="{{ item.read_more_url.href }}" class="text-reset fs-5 text-decoration-none fw-bold d-block mt-2">More +</a>
                {% endif %}
                </div>
                <div class=" {{ module.style.author_alignment }}">
                {% if item.author %}<p class="fw-semibold mb-1 lh-sm">{{item.author}}</p> {% endif %}
                {% if item.role %}<p class="mb-0 lh-sm">{{item.role}}</p> {% endif %}
                </div>
                
            </div>
        </div>
    </div>


{% endmacro %}







<div class="testimonial-container {{ "collapse" if module.style.collapse && not is_in_page_editor }}" id="testimonial-container-{{name}}">
{% if module.style.carousel %}
    {% if module.style.carousel_settings.controls %}
    <div class="slider-arrow-container align-self-center text-center">
        <a class="" aria-label="Previous" type="button" style="" aria-disabled="false" id="prevArrow-{{name}}">
            <span class="fa-stack fa-2x fs-6 {{module.style.carousel_settings.dark_or_light}}">
            <i class="fal fa-circle fa-stack-2x"></i>
            <i class="fas fa-chevron-left fa-stack-1x"></i>
            </span>
        </a>
    </div>
    {%endif%}

    <div class="testimonial-slider {{module.style.dark_or_light}} {{ "section-shadow" if module.style.shadow == "section-shadow" }}" style="{{ "transform-style: preserve-3d; position: relative; z-index: 2;" if module.style.shadow == "section-shadow" }}" id="testimonial-{{name}}">
        {% for item in module.slide %}
            <div class="slide">
            {% if module.style.testimonial_style && module.style.testimonial_style == "1" %}

                {{ testimonial()  }}
            
            {% elif module.style.testimonial_style && module.style.testimonial_style == "2" %}

                {{ testimonialStyle2()  }}

            {% else %}

                {{ testimonial()  }}

            {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if module.style.carousel_settings.controls %}
    <div class="slider-arrow-container align-self-center text-center">
        <a class="" aria-label="Next" type="button" style="" aria-disabled="false" id="nextArrow-{{name}}">
            <span class="fa-stack fa-2x fs-6 {{module.style.carousel_settings.dark_or_light}}">
            <i class="fal fa-circle fa-stack-2x"></i>
            <i class="fas fa-chevron-right fa-stack-1x"></i>
            </span>
        </a>
    </div>
    {% endif %}
{% else %}

    <div class="container-fluid g-0" style="{{module.styles.spacing_field.css}}" id="testimonial-{{name}}">
        <div class="row row-cols-{{module.style.cards_settings.cards_responsive.mobile.cards}} row-cols-md-{{module.style.cards_settings.cards_responsive.tablet.cards}} row-cols-lg-{{module.style.cards_settings.cards_responsive.desktop.cards}} g-3">

        {% for item in module.slide %}

            {% if module.style.testimonial_style && module.style.testimonial_style == "1" %}

                {{ testimonial()  }}
            
            {% elif module.style.testimonial_style && module.style.testimonial_style == "2" %}

                {{ testimonialStyle2()  }}

            {% else %}

                {{ testimonial()  }}

            {% endif %}
        {% endfor %}
        </div>
    </div>


{% endif %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const smallBreakpoint = window.getComputedStyle(document.documentElement).getPropertyValue('--q-breakpoint-sm');
        const largeBreakpoint = window.getComputedStyle(document.documentElement).getPropertyValue('--q-breakpoint-lg');
        {% if module.style.carousel %}
            $('#testimonial-{{name}}').slick({
                dots: {{ module.style.carousel_settings.indicators }},
                speed: 300,
                infinite: {{ module.style.carousel_settings.infinite }},
                prevArrow: '#prevArrow-{{name}}',
                nextArrow: '#nextArrow-{{name}}',
                dotsClass: "slider-indicators",
                autoplay: {{ module.style.carousel_settings.autoplay }},
                {% if module.style.carousel_settings.autoplay %} autoplaySpeed: {{ module.style.carousel_settings.interval }}, {% endif %}
                arrows: {{ module.style.carousel_settings.controls }},
                slidesToShow: {{ module.style.carousel_settings.responsive.desktop.slides_to_display }},
                slidesToScroll: {{ module.style.carousel_settings.responsive.desktop.slides_to_slide }},
                responsive: [
                    {
                        breakpoint: parseInt(largeBreakpoint),
                        settings: {
                            slidesToShow: {{ module.style.carousel_settings.responsive.tablet.slides_to_display }},
                            slidesToScroll: {{ module.style.carousel_settings.responsive.tablet.slides_to_slide }}
                        }
                    },
                    {
                        breakpoint: parseInt(smallBreakpoint),
                        settings: {
                            slidesToShow: {{ module.style.carousel_settings.responsive.mobile.slides_to_display }},
                            slidesToScroll: {{ module.style.carousel_settings.responsive.mobile.slides_to_slide }}
                        }
                    }
                ]
            });
            {% else %}

        {% endif %}

        {% if module.style.collapse %}
            const collapse{{name|replace("-","_")}} = document.getElementById('testimonial-container-{{name}}')
            collapse{{name|replace("-","_")}}.addEventListener('shown.bs.collapse', event => {
                normaliseHeights("#testimonial-{{name}} .card-header");
                normaliseHeights("#testimonial-{{name}} .card-body");
            })
        {% endif %}
        
        const handleHeightNormalisation = () => {
            normaliseHeights("#testimonial-{{name}} .card-header");
            normaliseHeights("#testimonial-{{name}} .card-body");
        };

        window.addEventListener('load', handleHeightNormalisation);
        window.addEventListener('resize', handleHeightNormalisation);
        window.addEventListener('orientationchange', handleHeightNormalisation);
        
    });


</script>