<div class="row row-cols-{{module.styles.responsive.mobile.cards}} row-cols-sm-{{module.styles.responsive.tablet.cards}} row-cols-lg-{{module.styles.responsive.desktop.cards}}" style="{{module.styles.spacing_field.css}}">
    {% for person in module.team_member %}
        <div class="col">
            {% if person.image.src %}
                <img src="{{person.image.src}}" class="img-fluid w-100 mb-4 {{ "filter-grayscale" if module.styles.greyscale_filter }}">
            {% endif %}
            <p class="fs-6 fw-semibold mb-2">{{person.person_name}}</p>
            <p class="fs-6  mb-4">{{person.title}}</p>
        </div>
    {% endfor %}
</div>
<!--<hr class="mt-6 mb-4"> -->
<!-- <a href="#" class="fw-semibold text-decoration-none text-reset fs-6">View full profiles +</a> -->