<div class="row">
    {% for person in module.team_member %}
        <div class="col-6  col-sm-4 col-md-3 col-lg-2 col-xl-2">
            {% if person.image.src %}
                <img src="{{person.image.src}}" class="img-fluid w-100 mb-4">
            {% endif %}
            <p class="fs-6 fw-semibold">{{person.person_name}}</p>
            <p class="fs-6">{{person.title}}</p>
        </div>
    {% endfor %}
</div>
<hr class="mt-6 mb-4">
<a href="#" class="fw-semibold text-decoration-none text-reset fs-6">View full profiles +</a>