{% if module.event|length == 0 %}
    {% if is_in_page_editor %}
        {% editor_placeholder %}
    {% endif %}
{% else %}
    {% for event in module.event %}
    <div class="{{ 'border-bottom' if not loop.last }} py-3">    
        <p class="fs-3 fw-semibold mb-0">{{event.event_name}}</p>
        {% if event.date %}
        <p class="fs-3 mb-0 fw-light">{{event.date|format_date('MMMM YYYY')}}</p>
        {% endif %}
        {% if event.url.href %}
        <a href="{{event.url.href}}" target="_blank" class="text-decoration-none fs-6 mt-3 d-inline-block">{{event.event_site_label}} <i class="fal fa-arrow-right"></i></a>
        {% endif %}
    </div>
{% endfor %}
{% endif %}