{% if module.image.src != "" %}

    {% set imgSrc = module.image.src %}
	{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
    {% if module.image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
        {% set sizeCSS = "max-width: 100%; height: auto;" %}
        {% set imgSrc = resize_image_url(module.image.src, module.image.width) %}
    {% elif module.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}"' %}
        {% set sizeCSS = "max-width: 100%; height: auto;" %}
        {% set imgSrc = resize_image_url(module.image.src, module.image.max_width) %}
    {% endif %}
    {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}

    {% if module.style.alignment %}
        {% if module.style.alignment.horizontal_align == "CENTER" %}
            {% set alignmentCSS = " margin-left: auto; margin-right: auto; display: block;" %}
        {% elif module.style.alignment.horizontal_align == "LEFT" %}
            {% set alignmentCSS = " " %}
        {% elif module.style.alignment.horizontal_align == "RIGHT" %}
            {% set alignmentCSS = " margin-left: auto; display: block;" %}
        {% endif %}
        
    {% endif %}

    {% if module.style.rounded_corners %}
        {% set roundedClass = "rounded-" ~ module.style.rounded_option %}
    {% else %}
        {% set roundedClass = "" %}
    {% endif %}

    {% require_css %}
        <style>
            {% scope_css %}
            .img-container {
                {{module.style.spacing_field.css}}
            }
            {{theme_meta.responsive_breakpoints[0].media_query}} {
                .img-container {
                    {{module.style.spacing_field_mobile.css}}
                }
            }

            .stripe-overlay {
                position: relative;
                box-shadow: 0 0 0 3px #1a2731, 0 0 0 5px #829aa8;
                border: 3px solid #1a2731;
            }

            .stripe-overlay:after {
                content: "";
                background-image: repeating-linear-gradient(180deg,rgba(161, 152, 149, 1) 21%, rgba(242, 247, 248, 1) 40%, rgba(242, 247, 248, 1) 55%, rgba(186, 185, 191, 1) 71%, rgba(194, 193, 188, 1) 78%, rgba(194, 193, 188, 1) 86%, rgba(161, 152, 149, 1) 98%);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: auto 12px;
                background-repeat: repeat;
                filter: blur(1px);
                mix-blend-mode: multiply;
                opacity: 0.2;
            }

            .img-wrapper {
                overflow: hidden;
            }

            {% end_scope_css %}
        </style>
        {% end_require_css %}

    <div class="img-container">
        <div class="img-wrapper {{ " stripe-overlay" if module.style.stripe_overlay }} {{roundedClass}}  {{module.style.shadow}}">
            <img src="{{imgSrc}}" id="{{name}}" alt="{{ module.image.alt }}" style="{{ alignmentCSS }} {{ sizeCSS }}" class="{{"parallax-img" if module.style.parallax}} {{ "animate-" ~ module.style.animate_in if module.style.animate_in != " " }} {{ 'filter-grayscale' if module.style.greyscale_filter }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </div>
    </div>

    {% if module.style.parallax %}

        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                applyParallaxToImages('.parallax-img', 0.5, 0.1, {{module.style.no_animate_on_mobile|string}});
            });
        </script>

    {% else %}

        {% if module.style.animate_in != " " %}
            <script>
                document.addEventListener("DOMContentLoaded", function(event) {

                {% if module.style.no_animate_on_mobile != false %}
                    if (Math.max(window.screen.width, window.screen.height) > 768) {
                {% endif %}
                    {% if module.style.animate_in == "fade" %}
                        fadeInHandler();
                    {% endif %}

                    {% if module.style.animate_in == "slide slide-right" %}
                        slideInHandler("right");
                    {% endif %}

                    {% if module.style.animate_in == "slide slide-left" %}
                        slideInHandler("left");
                    {% endif %}

                    {% if module.style.animate_in == "slide slide-top" %}
                        slideInHandler("top");
                    {% endif %}

                    {% if module.style.animate_in == "slide slide-bottom" %}
                        slideInHandler("bottom");
                    {% endif %}

                {% if module.style.no_animate_on_mobile != false %}
                    }
                {% endif %}
                });
            </script>
        {% endif %}
    
    {% endif %}

{% else %}

    {% if is_in_page_editor %}
        {% editor_placeholder %}
    {% endif %}

{% endif %}