{% if module.selection == "auto" %}

    {# select the blog #}
    {% if module.blog_field %}
        {% set blogId = module.blog_field %}
    {% else %}
        {% set blogId = "default" %}
    {% endif %}
    {% set blog = blog_by_id(blogId) %}

    {% if module.post_type == "popular" %}
        {# get popular posts if sorting by popular #}
        {% set blog_posts = blog_popular_posts(blogId, module.tag_field, module.timeframe) %}
    
    {% elif module.post_type == "latest" %}
        {# get latest posts if sorting by latest #}
        {% if (module.tag_field) && (module.tag_field|length > 0) %}
            {# if filtered by tag we can get them all with this function #}
            {% set blog_posts = blog_recent_tag_posts(blogId, module.tag_field) %}
        {% else %}
            {% set totalBlogCount = blog_total_post_count(blogId) %}
             {% if is_listing_view %}
                {# we can get all the posts if we're on the listing page #}
                {% set blog_posts = contents %}

            {% elif totalBlogCount > 200 %}
                {# if we have more than 200 blog posts we need to use api #} 
                {# we currently don't have a function for this lol so just grab the most recent 200 #}
                {# {% set useApi = true %} 
                {% set urlQueryArray = [] %}
                {% do urlQueryArray.append("contentGroupId__eq=" ~ blogId) %} #}
                {% set blog_posts = blog_recent_posts(blogId, 200) %}
            {% else %}
                {# we can use hubl if we have less than 200 posts (this function has a limit) #}
                {% set blog_posts = blog_recent_posts(blogId, totalBlogCount) %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if module.exclude_tag_field %}
        {# exclude some tags #}
        {% set blog_posts_tag_excluded = [] %}
        {% for blog_post in blog_posts %}
            {# filter the blog posts, removing posts excluded based on their tag #}
            {% unless blog_post.tag_list|map("slug")|intersect(module.exclude_tag_field) != [] %}
                {% do blog_posts_tag_excluded.append(blog_post) %}
            {% endunless %}
        {% endfor %}
        {% set blog_posts = blog_posts_tag_excluded %}
    {% endif %}
    
    {# include pullouts #}
    {% set pulloutIds = [] %}
    {% if module.pullouts != [] && blog_posts != null %}

        {% for pullout in module.pullouts %}
            {% do pulloutIds.append(pullout.blog_entry) %}
        {% endfor %}
        {# remove the existing articles if we're including them as pullouts #}
        {% set blog_posts.objects = blog_posts.objects|rejectattr('id', 'in', pulloutIds) %}
        
        {# get all the pullouts contents #}
        {% set pulloutContents = content_by_ids(pulloutIds) %}

        {# add in pullouts #}
        {% for pullout in module.pullouts %} 
            {% set pulloutBlog = {} %}
            
            {% do pulloutBlog.putAll(pulloutContents[pullout.blog_entry]|tojson|fromjson) %}
                    
           {% do pulloutBlog.update({
            "preHeading": pullout.pre_heading, 
            "pulloutType": pullout.type, 
            "backgroundColour": pullout.background_colour
            }) %} 

            {% if pullout.background_image.src != "" %}
                {% do pulloutBlog.update({
                 "backgroundImage": pullout.background_image.src
                 }) %} 
            {% endif %}

            {# set pullout background styles #} 
            <style>
                    .bg-image-{{pulloutBlog.id}}:before {
                        {% if pulloutBlog.backgroundImage %}
                            background-image: url("{{pulloutBlog.backgroundImage}}");
                        {% else %}
                            {% if pulloutBlog.useFeaturedImage == true %}
                            background-image: url("{{ resize_image_url(pulloutBlog.featuredImage, 800) }}");
                            {% endif %}
                        {% endif %}
                    }
            </style>
            {% do blog_posts.objects.insert((pullout.position - 1), pulloutBlog) %}
        {% endfor %}
    {% endif %}
    
    {# here is where the api call would go IF I HAD ONE #}
    {#
    {% if useApi %}
    {% set urlQuery = urlQueryArray|join("&") %}
    <script>
        const url = 'https://api.hubapi.com/cms/v3/blogs/posts?' + "{{urlQuery}}";
        const options = {method: 'GET',   headers: {'private-app': 'access-blog', Authorization: 'Bearer <token>'}, body: undefined};

        try {
            const response = await fetch(url, options);
            const data = await response.json();
            console.log(data);
        } catch (error) {
            console.error(error);
        }
    </script>
    {% endif %}#}

{% elif module.selection == "manual" %}
    {% if module.manual_selection %}
        {% set blog_posts_content = content_by_ids(module.manual_selection) %}
            {% set blog_posts = {"objects": []} %}
            {% for post in blog_posts_content %}
                {% do blog_posts.objects.append(post) %}
            {% endfor %}
    {% endif %}
{% endif %}

{# set posts per page #}
{% if module.custom_limit %}
    {% set postsPerPage = module.number_of_posts|int %}
{% elif module.selection == "auto" %}
    {% set postsPerPage = blog.posts_per_listing_page %}
{% else %}
    {% set postsPerPage = 6 %}
{% endif %}


{% if blog_posts %}
{% if blog_posts.objects %}
<script>
    // build blogPosts object
    const blogPostsJS_{{name|replace("-","_")}} = {
        objects: [
            {% for blog in blog_posts.objects %}
                {
                    name: "{{blog.name|escape_js}}",
                    {%- if module.styles.card_style == "video" %}
                        card_style: "video",
                    {% elif module.styles.card_style == "blog" %}
                        card_style: "blog_post",
                    {% elif module.styles.card_style == "card" %}
                        card_style: "blog_card",
                    {% endif -%}
                        {%- if module.pullouts is defined && module.pullouts != [] && (blog.id is in pulloutIds) %}
                        pre_heading: "{{blog.preHeading}}",
                        pullout_type: "{{blog.pulloutType}}",
                        background_colour: "{{blog.backgroundColour}}", 
                        background_image: "{{blog.backgroundImage.src}}",
                        pullout: "true",
                        {%- else -%}
                            pullout: "false",
                        {% endif -%}
                    id: "{{blog.id|escape_js}}",
                    {%- if blog.useFeaturedImage %}
                        featured_image: "{{ resize_image_url(blog.featuredImage, 800)|escape_js }}",
                    {% endif -%}
                    length: "{{ ((blog.postBody|regex_replace("{%.*%}", "")|striptags|wordcount)/225)|round(0, "ceil")|escape_js }}",
                    {%- if blog.blogPostAuthor.displayName %}
                        author_name: "{{blog.blogPostAuthor.displayName|escape_js}}",
                    {% endif -%}
                    absolute_url: "{{blog.absoluteUrl|escape_js}}",
                    {%- if blog.widgets.blurb %}
                        description: "{{blog.widgets.blurb.body.html|escape_js}}",
                    {% elif blog.widgets.description %}
                        description: "{{blog.widgets.description.body.text|escape_js}}",
                    {% else %}
                        description: "{{blog.postSummary|regex_replace("{%.*%}", "")|striptags|truncate(180, "...")|escape_js}}",
                    {% endif -%}
                    tags: [
                    {%- for tag in blog.tagList -%}
                        "{{tag.name|escape_js}}"{{"," if !loop.last }}
                    {%- endfor -%}
                    ],
                    tag_slugs: [
                    {%- for tag in blog.tagList -%}
                        "{{tag.slug|escape_js}}"{{"," if !loop.last }}
                    {%- endfor -%}
                    ],
                    {# does the blog contain a video? #}
                    {%- if (blog.post_body|escape_jinjava|string) is string_containing "video_file" %}
                        has_video: "true",
                        video_url: videoUrl(`{{blog.post_body|escape_jinjava|string}}`),
                    {% else %}
                        has_video: "false",
                    {% endif -%}  
                    {%- if blog.widgets.blog_type.body.value == "case_study" %}
                        type: "Case study",
                        type_colour: "text-bg-primary",
                    {% elif blog.widgets.blog_type.body.value == "video" %}
                        type: "Video",
                        type_colour: "text-bg-red",
                    {% elif blog.widgets.blog_type.body.value == "whitepaper" %}
                        type: "Whitepaper",
                        type_colour: "text-bg-blue",
                    {% else %}
                        type: "{{'Artículo' if curLang is string_startingwith 'es' else 'Article'}}",
                        type_colour: "text-bg-secondary",
                    {% endif -%}
                    }{{ "," if !loop.last }}
            {% endfor %}
        ]}; 
    const blogPosts_{{name|replace("-","_")}} = JSON.stringify(blogPostsJS_{{name|replace("-","_")}}.objects);

</script>
{% endif %}
{% endif %}

<div class="container-fluid blog-listing g-0 {{module.advanced.additional_classes}}" style="{{module.styles.spacing_field.css}}  transition-property: height; transition-duration: 500ms; scroll-margin-top: 150px;" id="bloglisting_{{name|replace("-","_")}}">
    {% if module.enable_tag_filtering %}    
    <div class="row">
            <div class="col filter-tags-container text-center pb-4">
                    <a href="#" data-filter="all" class="btn btn-blog-filter-secondary me-2 mb-2 active" aria-pressed="true">All</a>
                    {% for tag in module.tag_filter_option %}
                        <a href="#" data-filter="{{tag.slug}}" class="btn btn-blog-filter-secondary me-2 mb-2">{{tag.name}}</a>
                    {% endfor %}
            </div>
        </div>
    {% endif %}        
    <div class="row g-0">
        <div class="col" id="pagesContainer" style="transition-property: height; transition-duration: 500ms; overflow: hidden; filter: drop-shadow({{module.styles.shadow}});">
            <div id="blogsContainer_{{name}}" class="row flex-wrap row-cols-{{module.styles.responsive.mobile.cards}} row-cols-md-{{module.styles.responsive.tablet.cards}} row-cols-lg-{{module.styles.responsive.desktop.cards}} g-3 pages-container">

            </div>
        </div>
    </div>
    {% if module.styles.pagination %}
        <div class="row pt-4 mt-auto">
            <div class="col text-center">
                <nav class="pagination-container" id="pagination" aria-label="Blog Listing Pagination">
                </nav>
            </div>
        </div>
    {% endif %}
</div>

<script>
window.addEventListener("load", function() {
    if(document.readyState == 'complete') {
        blogListing(
        "bloglisting_{{name|replace("-","_")}}",
        blogPosts_{{name|replace("-","_")}},
        {
            postsPerPage: {{postsPerPage}},
            cardColourSeq: {{ '["' ~ module.styles.card_colour|split(" ")|join('","') ~ '"]' if module.styles.card_colour != " " else "[]" }},
            filterEnabled: {{ "true" if module.enable_tag_filtering == true else "false"}},
            equalHeights: {{ "true" if module.styles.equal_height_img == true else "false"}},
            minuteRead: "{{ module.min_read if module.custom_min_read else " minute read" }}",
            showTag: {{ "true" if module.styles.show_tag == true else "false"}}
        }
        );
    }
});
</script>