<div class="row g-0">
    <div class="col-12 p-3 p-md-4 h-100 border-top border-bottom text-center">
        <h4>Stay in touch</h4>
        <p>Sign up for our updates to get all the latest product information.</p>
        <a href="#" data-bs-toggle="modal" data-bs-target="#subscribeModal" class="btn btn-primary mt-3">Subscribe</a>
    </div>
</div>




    <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-gradient-primary text-white">
                <div class="modal-header border-0 p-3">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-5 py-4 pt-2">
                    {% if module.heading %}
                    <h3 class="mb-6 border-top border-bottom border-dark py-3 border-2 fw-semibold px-2">
                    {{ module.heading}}
                    </h3>
                    {% endif %}
                    {% if module.sub_heading %}
                    <p class="lead">
                    {{ module.sub_heading }}
                    </p>
                    {% endif %}
                    
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                        portalId: "{{hub_id}}",
                        formId: "{{module.form.form_id}}",
                        submitButtonClass: "btn btn-light d-block ms-auto mt-2 rounded-0",
                        cssClass: 'hs-form form-light'
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
