<!-- module html  -->
<div>
{%if module.style.sizing == "relative" %}
  {% set globalSizing = module.style.relative_icon_size %}
{% elif module.style.sizing == "absolute" %}
  {% set globalSizing = module.style.absolute_icon_size %}
{% endif %}

<div class="row gx-3 gy-4 row-cols-{{module.style.responsive.mobile.stats}} row-cols-md-{{module.style.responsive.tablet.stats}} row-cols-lg-{{module.style.responsive.desktop.stats}} g-3 justify-content-{{module.style.row_alignment}}" style="{{ module.style.spacing_field.css }}">
{% for item in module.statistic %}
 {%if item.icon.icon_colour != "inherit" %}
   {% set iconColour = item.icon.icon_colour %}
 {% else %}
   {% set iconColour = module.style.icon_colour %}
 {%endif%}
 {%if item.stat_colour != "inherit" %}
   {% set statColour = item.stat_colour %}
 {% else %}
   {% set statColour = module.style.stat_colour %}
 {%endif%}
 {% set itemAlignment = "center" %}
 {%if module.style.alignment && item.alignment && item.alignment != "inherit" %}
   {% set textAlignment = item.alignment %}
 {% else %}
   {% set textAlignment = module.style.alignment %}
 {%endif%}
 <div class="col text-{{textAlignment}}">
 {% if item.icon.icon_code != "none" %}
    <div class="{% if item.icon.icon_shape != "icon-only" %}ratio ratio-1x1 {{ item.icon.icon_shape }} bg-{{iconColour}} text-dark {% endif %} flex-shrink-0" {% if item.icon.icon_shape != "icon-only" %}style="max-width: {{ item.icon.max_width }}px; max-height: {{ item.icon.max_width }}px;"{%endif%}>
      {% if item.icon.custom_image.src %}
        {% set sizeAttrs = 'width="{{ item.icon.custom_image.width }}" height="{{ item.icon.custom_image.height }}"' %}
        {% if item.icon.custom_image.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.icon.custom_image.width }}" height="{{ item.icon.custom_image.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif item.icon.custom_image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.icon.custom_image.max_width }}" height="{{ item.icon.custom_image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
          {% set loadingAttr = item.icon.custom_image.loading != 'disabled' ? 'loading="{{ item.icon.custom_image.loading }}"' : '' %}
        <img src="{{ item.icon.custom_image.src }}" alt="{{ item.icon.custom_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% else %}
        <div style="content-sizing: border-box;" class="d-flex justify-content-center align-items-center">
          {% if item.icon.icon_code %}
          {% set iconCode = "fa-" ~ item.icon.icon_code %}
          {% else %}
            {% set iconCode = "fa-" ~ item.icon.icon_field.name|lower|replace(" ", "-") %}
          {% endif %}
          {% if item.icon.sizing == "inherit" %}
          {% set sizing = globalSizing %}
          {%elif item.icon.sizing == "relative" %}
          {% set sizing = item.icon.relative_icon_size %}
        {% elif item.icon.sizing == "absolute" %}
          {% set sizing = item.icon.absolute_icon_size %}
        {% endif %}
          <i class="{{ 'text-{{iconColour}} fa-fw' if item.icon.icon_shape == "icon-only" }} {{ item.icon.icon_style }} {{ sizing }} {{ iconCode }}"></i>
        </div>
      {% endif %}
    </div>
  {% endif %}
           <div class="{{ "pt-3" if item.icon.icon_code != "none"}}">
          {# Is the number from the number field or the number text field? #} 
          {% if item.number_type && item.number_type == "variable" %}
            {% set number = item.number_text %}
          {% else %}
            {% set number = item.number %}
          {% endif %}
          {% if number != "" %}
              <p class="display-{{ module.style.stat_size if module.style.stat_size else "1" }} text-{{statColour}} fw-semibold text-sans-serif mb-0">{{("<span class='animate-from-0' data-value=" + number + " id='stat-" + name + "-" + loop.index + "'>") if item.animate_stat}}{{"0" if item.animate_stat else number}}{{"</span>" if item.animate_stat}}{{ item.unit }}</p>
          {% endif %}
          {% if item.statistic_header != "" %}
              <p class="fs-4 text-{{statColour}} fw-semibold mb-2 lh-1">{{ item.statistic_header }}</p>
          {%endif%}
          {% if item.description != "" %}
              <p class=" text-{{statColour}}">{{ item.description }}</p>
          {%endif%}

      </div>
 </div>
{% endfor %}
</div>
</div>
<script>



document.addEventListener("DOMContentLoaded", () => {

var animatedStats = document.getElementsByClassName("animate-from-0");


Array.from(animatedStats).forEach((item, index) => {
  let id = "#" + item.id;
  let number = item.dataset.value;
  whenInViewport(item, () => counterAnim(item, 0, number, 1000, "{{ content.language if content.language else "en-US" }}"));
});


});

</script>