<!--
  templateType: page
  isAvailableForNewContent: false
  label: Linewize NZ Our Impact
  screenshotPath: ../../images/template-previews/landing-page.png
-->
{% extends "../layouts/base.html" %}


{% block body %}
{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-hidden"
%}

{% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/hero",
        offset=0,
        width=12,
        cta=[ ],
        header="Our impact",
        hero_type="full-image",
        image={
          "alt" : "LWZ-NZ-Our-impact-banner",
          "height" : 1414,
          "loading" : "disabled",
          "max_height" : 1333.3333333333333,
          "max_width" : 2000,
          "size_type" : "auto_custom_max",
          "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/Linewize%20-%20NZ%20-%20Web%20Banners/LWZ-NZ-Our-impact-banner.png",
          "width" : 2121
        },
        menu=123441695658,
        page_contents=[ {
          "anchor" : "#intro",
          "content_label" : "Intro"
        }, {
          "anchor" : "#difference",
          "content_label" : "Making a difference"
        }, {
          "anchor" : "#testimonials",
          "content_label" : "What our customers say"
        } ],
        pre_header="About us:",
        show_breadcrumbs=true,
        show_share_price=false,
        style={
          "heading_location" : "bottom-left"
        },
        video=""
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=1,
    width=10
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="intro"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p class="lead" style="text-align: center; font-weight: normal;">Making a difference in children’s lives, and empowering those who care for them, are the reasons we exist.</p>
          <p class="lead" style="text-align: center; font-weight: normal;">The more children, schools and families we engage with, the more we understand the pace and scale of the challenges they face and the better placed we are to help them - in a meaningful way.</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/cursive-heading",
        offset=0,
        width=12,
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : {
                "units" : "px",
                "value" : 40
              }
            }
          }
        }
      %}
        {% module_attribute "heading" %}
          <div style="text-align: center;">it's all about partnership</div>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=11,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="difference"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          We are a partner for New Zealand schools <strong>- in every sense&nbsp;&nbsp;</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=1
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12,
            hidden={
              "mobile" : true
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=1,
        width=10
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p style="font-size: 18px; text-align: center;">The schools who choose Linewize refuse to accept the status quo.</p>
              <p style="font-size: 18px; text-align: center;">They are steadfastly determined to go above and beyond for the wellbeing of their students. And they want to empower their communities to do the same. They know we can help them get there.&nbsp; Below is a snapshot of the impact Linewize is having around the world.&nbsp;</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=11,
        width=1
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12,
            hidden={
              "mobile" : true
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/statistic",
        offset=0,
        width=12,
        statistic=[ {
          "animate_stat" : true,
          "description" : "work hand-in-hand, across 3 continents and multiple disciplines, to keep children safer.",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "users",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Wired Network",
              "type" : "SOLID",
              "unicode" : "f6ff"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "number" : 550,
          "stat_colour" : "inherit",
          "statistic_description" : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.",
          "statistic_header" : "Qoria staff"
        }, {
          "animate_stat" : true,
          "description" : "are supported and protected every day by our technologies.",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "users",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Wired Network",
              "type" : "SOLID",
              "unicode" : "f6ff"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "number" : 22,
          "stat_colour" : "inherit",
          "statistic_description" : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.",
          "statistic_header" : "million children",
          "unit" : ""
        }, {
          "animate_stat" : true,
          "description" : "have greater visibility and control of their child's online behaviours and screen time.",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "users",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Wired Network",
              "type" : "SOLID",
              "unicode" : "f6ff"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "number" : 6,
          "stat_colour" : "inherit",
          "statistic_description" : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.",
          "statistic_header" : "parents",
          "unit" : "m"
        }, {
          "animate_stat" : true,
          "description" : "give better digital safety and wellbeing support because of our solutions.",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "users",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Wired Network",
              "type" : "SOLID",
              "unicode" : "f6ff"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "number" : 25.1,
          "stat_colour" : "inherit",
          "statistic_description" : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.",
          "statistic_header" : "schools",
          "unit" : "k"
        }, {
          "animate_stat" : true,
          "description" : "have safer children as a result of our technologies.",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "users",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Wired Network",
              "type" : "SOLID",
              "unicode" : "f6ff"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "number" : 196,
          "stat_colour" : "inherit",
          "statistic_description" : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.",
          "statistic_header" : "countries"
        }, {
          "animate_stat" : true,
          "description" : "facing the highest risk, including to their health or life, were spotted by our solutions in 2022.",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "users",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Wired Network",
              "type" : "SOLID",
              "unicode" : "f6ff"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "number" : 7.2,
          "stat_colour" : "inherit",
          "statistic_description" : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.",
          "statistic_header" : "children",
          "unit" : "k"
        }, {
          "animate_stat" : true,
          "description" : "at potential serious risk, including mental health and self-harm, were spotted by our solutions in 2022.",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "users",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Wired Network",
              "type" : "SOLID",
              "unicode" : "f6ff"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "number" : 188,
          "stat_colour" : "inherit",
          "statistic_description" : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.",
          "statistic_header" : "children",
          "unit" : "k"
        }, {
          "animate_stat" : true,
          "description" : "at potential risk of violence or bullying were found by our solutions in 2022.",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "users",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Wired Network",
              "type" : "SOLID",
              "unicode" : "f6ff"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "number" : 48.7,
          "stat_colour" : "inherit",
          "statistic_description" : "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.",
          "statistic_header" : "children",
          "unit" : "k"
        } ],
        style={
          "icon_colour" : "dark",
          "responsive" : {
            "desktop" : {
              "stats" : 4
            },
            "mobile" : {
              "stats" : 1
            },
            "tablet" : {
              "stats" : 2
            }
          },
          "sizing" : "absolute",
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="intro"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="testimonials"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        style={
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          What our <strong>customers say</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/testimonial-carousel",
        offset=0,
        width=12,
        slide=[ {
          "accent_colour" : "primary",
          "author" : "",
          "image" : {
            "alt" : "Wellesley_logo",
            "height" : 400,
            "loading" : "lazy",
            "max_height" : 200,
            "max_width" : 200,
            "size_type" : "auto_custom_max",
            "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/images/Wellesley_logo.svg",
            "width" : 400
          },
          "quote" : "Our goal is to protect every student from online harm while still allowing them to take advantage of the incredible possibilities the Internet has opened up. That’s why we partnered with Linewize.”",
          "read_more_url" : {
            "href" : "",
            "type" : "EXTERNAL"
          },
          "role" : "Principal, Wellesley College"
        } ],
        style={
          "cards_settings" : {
            "cards_responsive" : {
              "desktop" : {
                "cards" : 1
              },
              "tablet" : {
                "cards" : 1
              }
            }
          },
          "carousel" : false,
          "greyscale_images" : false,
          "testimonial_style" : "2"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}





{% end_dnd_area %}
{% global_partial path="./partials/lets-connect.html" %}
{% endblock body %}

{% block footer %}
    {% global_partial path="./partials/footer.html" %}
{% endblock footer %}
