<!--
  templateType: page
  isAvailableForNewContent: true
  label: Qoria EU WP with CTA
  screenshotPath: ../../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}


{% block body %}
{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-hidden"
%}

  {% include_dnd_partial
    path="../../sections/hero-banner.html"
  %}

  {% include_dnd_partial
    path="../../sections/introduction.html"
  %}


{% end_dnd_area %}
{% global_partial path="./partials/lets-connect.html" %}
{% endblock body %}

{% block footer %}
    {% global_partial path="./partials/footer.html" %}
{% endblock footer %}
