{% require_css %}
  <style>
  .card-header-cap {position: relative;}
  .card-header-cap:after {
    content: "";
    background-image: url({{ get_asset_url('/q-theme/images/qoria/q_tail_01.svg') }});
    background-position: calc(100% + 34px) calc(100% + 32px);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 50%;
}
  {% scope_css %}
    .card {
      {% if module.styles.background.background_type == "color" and module.styles.background.color.color %}
        background-color: rgba({{ module.styles.background.color.color|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
      {% elif module.styles.background.background_type == "gradient" %}
        background: {{ module.styles.background.gradient.css }};
      {% elif module.styles.background.background_type == "image" %}
        background-image: url({{ module.styles.background.image.src }}); 
        background-size: cover;"
      {% endif %}
    }
  {% end_scope_css %}
  </style>
{% end_require_css %}


{% macro card_body()  %}

  {% if card.multiple_text %}

    {% for text in card.text_group %}

      <div class="py-3 {{ "position-relative" if text.stretched_link }}">

      {% if text.text %}
        {{ text.text }}
      {% endif %}

      {% if text.link.url.href %}


        {% if text.cta_style %}
          {% if text.cta_style != "text-" %}
            {% set textCtaClasses = text.cta_size ~ " " ~ text.cta_style ~ text.cta_colour ~ " mt-3" %}
          {% else %}
            {% set textCtaClasses = "text-" ~ text.cta_colour ~ " text-decoration-none fw-semibold d-inline-block mt-3" %}
          {% endif %}
        {% else %}
          {% set textCtaClasses = "text-reset text-decoration-none fw-semibold d-inline-block mt-3" %}
        {% endif %}


        <a href="{{text.link.url.href}}" 
        class="{{ "stretched-link" if text.stretched_link }} {{textCtaClasses}}"
        {% if text.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if text.download %}
          {% if text.download_file %}
            download="{{text.download_file}}"
          {% else %}
              download
          {% endif %}
        {% endif %}
        >{{text.link_label|replace('->','<i class="fa fa-arrow-right"></i>')}}</a>
      {% endif %}

      </div>

      {% if !loop.last %}
        <hr class="my-5">
      {% endif %}

    {% endfor %}

  {% else %}
  
    {% if card.text %}
      <div class="card-text flex-grow-1">
      {{ card.text }}
      </div>
    {% endif %}
    {% if card.link.url.href %}
      {% if card.cta_style %}
        {% if card.cta_style != "text-" %}
          {% set ctaClasses = card.cta_size ~ " " ~ card.cta_style ~ card.cta_colour ~ " mt-3" %}
        {% else %}
          {% set ctaClasses = "text-" ~ card.cta_colour ~ " mt-3 text-decoration-none fw-semibold" %}
        {% endif %}
      {% else %}
        {% set ctaClasses = "text-reset text-decoration-none fw-semibold mt-2" %}
      {% endif %}
      {% if (card.cta_alignment) && (card.cta_alignment != "inherit") %}
        {% if card.cta_alignment == "center" %}
          {% set ctaClasses = ctaClasses ~ " mx-auto" %}
        {% elif card.cta_alignment == "end" %}
          {% set ctaClasses = ctaClasses ~ " ms-auto" %}
        {% elif card.cta_alignment == "start" %}
          {% set ctaClasses = ctaClasses ~ " me-auto" %}
        {% endif %}
      {% else %}
        {% if module.styles.textalignment == "center" %}
          {% set ctaClasses = ctaClasses ~ " mx-auto" %}
        {% elif module.styles.textalignment == "end" %}
          {% set ctaClasses = ctaClasses ~ " ms-auto" %}
        {% elif module.styles.textalignment == "start" %}
          {% set ctaClasses = ctaClasses ~ " me-auto" %}
        {% endif %}
      {% endif %}

      <a href="{{ "#" if card.trigger_modal else card.link.url.href|render}}" 
      class="{{ "stretched-link" if card.stretched_link }} {{ ctaClasses }}"
      {% if card.link.open_in_new_tab %}target="_blank"{% endif %}
      {% if card.download %}
        {% if card.download_file %}
          download="{{card.download_file}}"
        {% else %}
            download
        {% endif %}
      {% endif %}
      {% if card.trigger_modal %}
           data-bs-toggle="modal"
         data-bs-target="#{{ card.modal_id }}"
       {% endif %}
      >
      {% if (card.link_label|striptags) is string_containing "->" %}
        {% set linkLabel = card.link_label|replace('->','<i class="fa fa-arrow-right"></i>') %}
      {% elif (card.link_label|striptags) is string_containing " >" %}
        {% set linkLabel = card.link_label|replace(' >',' <i class="fa fa-chevron-right"></i>') %}
      {% else %}
        {% set linkLabel = card.link_label %}
      {% endif %}
      {{linkLabel}}</a>
    {% endif %}
  
  {% endif %}

{% endmacro %}

{%if module.styles.icon.sizing == "relative" %}
  {% set globalSizing = module.styles.icon.relative_icon_size %}
{% elif module.styles.icon.sizing == "absolute" %}
  {% set globalSizing = module.styles.icon.absolute_icon_size %}
{% endif %}


<div class="container-fluid g-0 {{module.advanced.additional_classes}}" style="{{module.styles.spacing_field.css}}" id="{{ module.advanced.custom_id if module.advanced.custom_id else "cards-{{name}}" }}" {{module.advanced.additional_markup}}>
<div class="row {{ "row-overlap" if module.styles.overlap }} row-cols-{{module.styles.responsive.mobile.cards}} row-cols-md-{{module.styles.responsive.tablet.cards}} row-cols-lg-{{module.styles.responsive.desktop.cards}} {{ "gx-0 gy-3" if module.styles.overlap else "g-3" }} justify-content-{{module.styles.row_alignment}}">
  {% for card in module.card %}

    {% if card.background.background_type != "inherit" %}
        {% if card.background.background_type == "color" and card.background.color.color %}
          {% set cardStyles = "background-color: rgba({{ card.background.color.color|convert_rgb }}, {{ card.background.color.opacity / 100 }});" %}
        {% elif card.background.background_type == "gradient" %}
          {% set cardStyles = "background: {{ card.background.gradient.css }};" %}
        {% elif card.background.background_type == "image" %}
          {% set cardStyles = "background-image: url({{ card.background.image.src }}); background-size: cover;" %}
        {% else %}
          {% set cardStyles = "" %}
        {% endif %}
    {% endif %}

    <div class="col {{ card.advanced.col_classes }}">
      <div class="card {{"animate-card" if module.styles.animate_in }} bg-transparent {{ "h-100 d-flex flex-column" if module.styles.equal_heights }} {{ card.advanced.card_classes }}" style="{{cardStyles}}">

          {% if module.styles.image_header && module.styles.image_header_fit == "cover" %}
            {% if card.image.src %}
              {% set imageStyle = "" %}
              {% if card.override_image_fit && card.override_image_fit != "inherit" %}
                {% set imageStyle = imageStyle ~ "object-fit: " ~ card.override_image_fit ~ "; " %}
              {% endif %}
              {% set loadingAttr = card.image.loading != 'disabled' ? 'loading="{{ card.image.loading }}"' : '' %}
              <img src="{{ resize_image_url(card.image.src, 0, 0, card.image.width) }}" class="card-img-top" alt="{{ card.image.alt }}" style="{{ imageStyle }}" {{loadingAttr}}>
            {% endif %}
          {% endif %}

          {% set headingColour = " " %}
          {% set preHeadingColour = " " %}
          {% if module.styles.accent_heading %}
              {% if card.accent_colour == "none" %}
                {% set headingColour = " " %}
              {% elif card.accent_colour == "bg-gradient-primary text-white" %}
                {% set headingColour = "text-gradient-primary" %}
              {% elif card.accent_colour == "bg-primary text-white" %}
                {% set headingColour = "text-primary" %}
              {% elif card.accent_colour == "bg-secondary text-white" %}
                {% set headingColour = "text-secondary" %}
              {% elif card.accent_colour == "bg-teal text-white" %}
                {% set headingColour = "text-teal" %}
              {% elif card.accent_colour == "bg-indigo text-white" %}
                {% set headingColour = "text-indigo" %}
              {% elif card.accent_colour == "bg-orange text-white" %}
                {% set headingColour = "text-orange" %}
              {% elif card.accent_colour == "bg-red text-white" %}
                {% set headingColour = "text-red" %}
              {% elif card.accent_colour == "bg-gray-700 text-white" %}
                {% set headingColour = "text-dark" %}
              {% endif %}
          {% endif %}
          {% if module.styles.accent_preheading %}
              {% if card.accent_colour == "none" %}
                {% set preHeadingColour = " " %}
              {% elif card.accent_colour == "bg-gradient-primary text-white" %}
                {% set preHeadingColour = "text-gradient-primary" %}
              {% elif card.accent_colour == "bg-primary text-white" %}
                {% set preHeadingColour = "text-primary" %}
              {% elif card.accent_colour == "bg-secondary text-white" %}
                {% set preHeadingColour = "text-secondary" %}
              {% elif card.accent_colour == "bg-teal text-white" %}
                {% set preHeadingColour = "text-teal" %}
              {% elif card.accent_colour == "bg-indigo text-white" %}
                {% set preHeadingColour = "text-indigo" %}
              {% elif card.accent_colour == "bg-orange text-white" %}
                {% set preHeadingColour = "text-orange" %}
              {% elif card.accent_colour == "bg-red text-white" %}
                {% set preHeadingColour = "text-red" %}
              {% elif card.accent_colour == "bg-gray-700 text-white" %}
                {% set preHeadingColour = "text-dark" %}
              {% endif %}
          {% endif %}

          {% set icon = false %}
            {% if card.icon_toggle == true %}

              {% set icon = true %}

            {% endif %}

          {% if module.styles.title_accent && module.styles.accent == True %}
            
            {% if card.title != "" || card.pre_header != "" || icon == true %}

              {% if card.accent_colour == "none" %}
                {% set accentColour = " " %}
              {% elif card.accent_colour == "bg-gradient-primary text-white" %}
                {% set accentColour = "bg-gradient-primary text-white" %}
              {% elif card.accent_colour == "bg-primary text-white" %}
                {% set accentColour = "text-bg-primary" %}
              {% elif card.accent_colour == "bg-secondary text-white" %}
                {% set accentColour = "text-bg-secondary" %}
              {% elif card.accent_colour == "bg-teal text-white" %}
                {% set accentColour = "text-bg-teal" %}
              {% elif card.accent_colour == "bg-indigo text-white" %}
                {% set accentColour = "text-bg-indigo" %}
              {% elif card.accent_colour == "bg-orange text-white" %}
                {% set accentColour = "text-bg-orange" %}
              {% elif card.accent_colour == "bg-red text-white" %}
                {% set accentColour = "text-bg-red" %}
              {% elif card.accent_colour == "bg-gray-700 text-white" %}
                {% set accentColour = "text-bg-dark bg-gray-700" %}
              {% else %}
                {% set accentColour = card.accent_colour %}
              {% endif %}

              <div class="card-header {{ "card-header-cap" if module.styles.q_accent }} {{"align-self-start" if !module.styles.accent_full_width}} {{ "card-image-overlap card-image-overlap-padding" if card.image_overlap }} d-flex border-0 align-items-center justify-content-{{ module.styles.textalignment }} {{ "pt-7" if !card.image_overlap && module.styles.q_accent }}  {{accentColour}} text-{{ module.styles.textalignment }} lh-sm" style="{{ "padding-bottom: calc(var(--q-card-cap-padding-y) + " ~ card.overlap ~ "rem);" if card.image_overlap }}">
                <div {{ "class='py-3'" if card.image_overlap }}>
                  {% if card.preheader_toggle && card.pre_header != "" %}
                    <div class="{{card.preheader_size if card.preheader_size else "h6"}} mb-0 fw-normal {{ preHeadingColour }}">{{ card.pre_header }}</div>
                  {% endif %}
                  {% if card.title != "" %}                  
                    <h5 class="text-{{module.styles.textalignment}} {{ card.title_size if card.title_size else "h5" }} {{ headingColour }} mb-0">{{ card.title }}</h5>
                  {% endif %}
                </div>
                {% if icon == true %}
                  {% if card.icon.icon_colour != "inherit" %}
                    {% set iconColour = card.icon.icon_colour %}
                  {% else %}
                    {% set iconColour = module.styles.icon.icon_colour %}
                  {% endif %}
                  <div class="{{ 'py-3' if card.image_overlap }} flex-shrink-0 ms-auto">
                    {% if card.icon.custom_image.src %}
                      {% set sizeAttrs = 'width="{{ card.icon.custom_image.width }}" height="{{ card.icon.custom_image.height }}"' %}
                      {% if card.icon.custom_image.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ card.icon.custom_image.width }}" height="{{ card.icon.custom_image.height }}" style="max-width: 100%; height: auto;"' %}
                      {% elif card.icon.custom_image.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ card.icon.custom_image.max_width }}" height="{{ card.icon.custom_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                      {% endif %}
                      {% set loadingAttr = card.icon.custom_image.loading != 'disabled' ? 'loading="{{ card.icon.custom_image.loading }}"' : '' %}
                      <img src="{{ card.icon.custom_image.src }}" alt="{{ card.icon.custom_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    {% else %}
                      <div style="content-sizing: border-box;" class="d-flex justify-content-center align-items-center">
                        {% if card.icon.icon_code != "none" %}
                          {% if card.icon.icon_code %}
                            {% set iconCode = "fa-" ~ card.icon.icon_code %}
                          {% else %}
                            {% set iconCode = "fa-" ~ card.icon.icon_field.name|lower|replace(" ", "-") %}
                          {% endif %}
                          {% if card.icon.sizing == "inherit" %}
                            {% set sizing = globalSizing %}
                          {%elif card.icon.sizing == "relative" %}
                            {% set sizing = card.icon.relative_icon_size %}
                          {% elif card.icon.sizing == "absolute" %}
                            {% set sizing = card.icon.absolute_icon_size %}
                          {% endif %}
                          {% if card.icon.icon_style != "inherit" %}
                            {% set iconStyle = card.icon.icon_style %}
                          {% else %}
                            {% set iconStyle = module.styles.icon.icon_style %}
                          {% endif %}
                        <i class="text-{{iconColour}} fa-fw {{ "lh-base" if module.styles.icon.sizing == "relative" }} {{ iconStyle }} {{ sizing }} {{ iconCode }}" style="{{ "line-height: " + (card.icon.icon_height * 4) + "px;" if card.icon.custom_icon_height }}"></i>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% endif %}

          {% else %}
            {% unless card.accent_colour == "none" || module.styles.accent == False %}
           <div class="{{card.accent_colour}}"><div style="display: block; height: 1em;"></div></div>
            {% endunless %}
          {% endif %}
           
           <div class="card-body {{ module.styles.shadow }} {{ module.styles.card_colour  if (card.override_colour == " " || !card.override_colour) else card.override_colour }} text-{{ module.styles.textalignment }} {{ "pt-0" if card.image_overlap }} {{ "d-flex flex-column" if module.styles.equal_heights }}">
           
          {% if module.styles.image_header && module.styles.image_header_fit != "cover" %}
            {% if card.image.src %}
              {% set imageStyle = "" %}
              {% if card.override_image_fit && card.override_image_fit != "inherit" %}
                {% set imageStyle = imageStyle ~ "object-fit: " ~ card.override_image_fit ~ "; " %}
              {% else %}
                {% if module.styles.image_header_fit == "contain-cover" %}
                  {% set imageStyle = imageStyle ~ "object-fit: cover; " %}
                {% elif module.styles.image_header_fit == "contain" %}
                  {% set imageStyle = imageStyle ~ "object-fit: contain; " %}
                {% elif module.styles.image_header_fit == "contain-variable" %}
                  {% if card.image.size_type == "auto_custom_max" %}
                    {% set max_width = card.image.max_width %}
                    {% set max_height = card.image.max_height %}
                  {% else %}
                    {% set max_width = card.image.width %}
                    {% set max_height = card.image.height %}
                  {% endif %}
                  {% set imageStyle = imageStyle ~ "object-fit: contain; width: 100%; max-width: " ~ max_width ~ "px; " %}
                {% endif %}
              {% endif %}
              {% set loadingAttr = card.image.loading != 'disabled' ? 'loading="{{ card.image.loading }}"' : '' %}
              <img src="{{ resize_image_url(card.image.src, 0, 0, card.image.width) }}" class="img-fluid mb-3 img-header" style="{{ imageStyle }}" alt="{{ card.image.alt }}" {{loadingAttr}}>
            {% endif %}
          {% endif %}

          {% if (!module.styles.title_accent || module.styles.accent == False) && ((card.preheader_toggle && card.pre_header != "") || (icon == true) || (card.title != ""))  %}
            <div class="d-flex justify-content-{{ module.styles.textalignment }} mb-3 align-items-center">
              <div>
                {% if card.preheader_toggle && card.pre_header != "" %}
                  <div class="{{card.preheader_size if card.preheader_size else "h6"}} mb-0 fw-normal {{ preHeadingColour }}">{{ card.pre_header }}</div>
                {% endif %}
                {% if card.title != "" %}
                  <h5 class="text-{{module.styles.textalignment}} {{ card.title_size if card.title_size else "h5" }} {{ headingColour }} mb-0">{{ card.title }}</h5>
                {% endif %}
              </div>
            
              {% if icon == true %}
                {% if card.icon.icon_colour != "inherit" %}
                  {% set iconColour = card.icon.icon_colour %}
                {% else %}
                  {% set iconColour = module.styles.icon.icon_colour %}
                {% endif %}
                <div class="{{ 'py-3' if card.image_overlap }} flex-shrink-0 ms-auto ps-3">
                  {% if card.icon.custom_image.src %}
                    {% set sizeAttrs = 'width="{{ card.icon.custom_image.width }}" height="{{ card.icon.custom_image.height }}"' %}
                    {% if card.icon.custom_image.size_type == 'auto' %}
                      {% set sizeAttrs = 'width="{{ card.icon.custom_image.width }}" height="{{ card.icon.custom_image.height }}" style="max-width: 100%; height: auto;"' %}
                    {% elif card.icon.custom_image.size_type == 'auto_custom_max' %}
                      {% set sizeAttrs = 'width="{{ card.icon.custom_image.max_width }}" height="{{ card.icon.custom_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = card.icon.custom_image.loading != 'disabled' ? 'loading="{{ card.icon.custom_image.loading }}"' : '' %}
                    <img src="{{ card.icon.custom_image.src }}" alt="{{ card.icon.custom_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% else %}
                    <div style="content-sizing: border-box;" class="d-flex justify-content-center align-items-center">
                      {% if card.icon.icon_code != "none" %}
                        {% if card.icon.icon_code %}
                          {% set iconCode = "fa-" ~ card.icon.icon_code %}
                        {% else %}
                          {% set iconCode = "fa-" ~ card.icon.icon_field.name|lower|replace(" ", "-") %}
                        {% endif %}
                        {% if card.icon.sizing == "inherit" %}
                          {% set sizing = globalSizing %}
                        {%elif card.icon.sizing == "relative" %}
                          {% set sizing = card.icon.relative_icon_size %}
                        {% elif card.icon.sizing == "absolute" %}
                          {% set sizing = card.icon.absolute_icon_size %}
                        {% endif %}
                        {% if card.icon.icon_style != "inherit" %}
                          {% set iconStyle = card.icon.icon_style %}
                        {% else %}
                          {% set iconStyle = module.styles.icon.icon_style %}
                        {% endif %}
                      <i class="text-{{iconColour}} fa-fw {{ "lh-base" if module.styles.icon.sizing == "relative" }} {{ iconStyle }} {{ sizing }} {{ iconCode }}" style="{{ "line-height: " + (card.icon.icon_height * 4) + "px;" if card.icon.custom_icon_height }}"></i>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if !module.styles.image_header %}
            {% if card.image.src %}
              {% set loadingAttr = card.image.loading != 'disabled' ? 'loading="{{ card.image.loading }}"' : '' %}
              <div>
                <img src="{{ resize_image_url(card.image.src, 0, 0, card.image.width) }}" class="img-fluid mb-3 {{ "position-relative card-image-overlap card-image-overlap-margin" if card.image_overlap }}" alt="{{ card.image.alt }}" style="{{ "margin-top: -" ~ card.overlap ~ "rem;" if card.image_overlap }}" {{loadingAttr}}>
              </div>
            {% endif %}
          {% endif %}
               
              {{ card_body() }}

         </div>
      </div>
    </div>
  {%endfor%}
</div>

</div>

<script>
  const handleHeaderHeightNormalisation{{name|replace("-","_")}} = () => {
      normaliseHeights('#{{ module.advanced.custom_id if module.advanced.custom_id else "cards-{{name}}" }} .card-header', "md");
  };

  window.addEventListener('load', handleHeaderHeightNormalisation{{name|replace("-","_")}});
  
  {% if module.styles.normalise_image_headers %}
    {% if module.styles.image_header_fit == "cover" %}

        const handleImageHeightNormalisation{{name|replace("-","_")}} = () => {
            normaliseHeights("#{{ module.advanced.custom_id if module.advanced.custom_id else "cards-{{name}}" }} .card-img-top", "md")
        };

        window.addEventListener('load', handleImageHeightNormalisation{{name|replace("-","_")}});

    {% elif module.styles.image_header_fit == "contain" || module.styles.image_header_fit == "contain-variable" || module.styles.image_header_fit == "contain-cover" %}

        const handleImageHeightNormalisation{{name|replace("-","_")}} = () => {
            normaliseHeights("#{{ module.advanced.custom_id if module.advanced.custom_id else "cards-{{name}}" }} .card-body .img-header", "md")
        };
        
        window.addEventListener('load', handleImageHeightNormalisation{{name|replace("-","_")}});

    {% endif %}
  {% endif %}
</script>


{% if module.styles.animate_in %}
  <script>
      document.addEventListener("DOMContentLoaded", function(event) {

      {% if module.styles.no_animate_on_mobile != false %}
          if (Math.max(window.screen.width, window.screen.height) > 768) {
      {% endif %}
          {% if module.styles.animate_in %}
              cardAnimateHandler();
          {% endif %}

      {% if module.styles.no_animate_on_mobile != false %}
          }
      {% endif %}
      });
  </script>
{% endif %}


