{% if module.style.layout == "podcast" %}

    {% if module.custom_cta == true && module.cta_link.url.href != "" %}
        {% set ctaUrl = module.cta_link.url.href %}
    {% elif module.blog_entry %}
        {% set article = content_by_id(module.blog_entry) %}
        {% set ctaUrl = article.absolute_url %}
    {% endif %}

        <section class="{{ module.style.shadow_style if module.style.shadow }}" style="transform-style: preserve-3d; {{"position: relative; z-index: 2; margin-bottom: -24px; transform: translateY(-24px);" if module.style.overlay }} {{module.style.spacing_field.css}}">
            <div class="{{ module.style.background_colour if module.style.background_colour != "none" }} position-absolute top-0 h-100 w-100 d-block" style=""></div>
            <div class="container-fluid g-0 position-relative {{ "text-white" if module.style.background_colour != "none" }}" style="">
                <div class="row g-0">
                    <div class="col p-3 p-md-5 px-3 px-md-6">
                    <div class="row align-items-center gx-md-6 gy-4">
                        <div class="col-12 col-md-6">
                            <a href="{{ctaUrl}}">
                                <img src="{{ module.background_image.src if module.background_image.src}}" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="content-container">
                                <h6 class="fw-semibold">{{module.section_title if module.custom_section_title else "Featured article" }}
                                    {% if module.custom_min_read %}
                                        {% if module.min_read %}
                                            | {{ module.min_read }}
                                        {% endif %}
                                    {% endif %}
                                    </h6>
                                    <div class="mt-5">
                                        {% if module.custom_preheader %}
                                            {% if module.preheader %}
                                                <p class="my-0">{{ module.preheader }}</p>
                                            {% endif %}
                                        {% endif %}

                                        {% if module.custom_heading %}
                                            <div class="mb-4">
                                            {% if module.heading %}
                                                {{ module.heading }}
                                            {% endif %}
                                            </div>
                                        {% endif %}
                                        
                                        
                                        {% if module.custom_description %}
                                            <div class="mb-4">
                                            {% if module.description %}
                                                {{ module.description }}
                                            {% endif %}
                                            </div>
                                        {% endif %}

                                        {% if ctaUrl %}
                                            <a href="{{ctaUrl}}"  {{ "target='blank'" if module.cta_link.open_in_new_tab == true }} class="btn btn-dark rounded-pill mb-2 mt-3 me-3 align-bottom" style="--q-btn-bg: #424242; --q-btn-border-color: #424242; --q-btn-hover-bg: #424242; --q-btn-hover-border-color: #424242; --q-btn-active-bg: #424242; --q-btn-active-border-color: #424242;">Watch</a>
                                        {% endif %}
                                        {% if module.youtube_link.url.href %}
                                        <a href="{{ module.youtube_link.url.href }}" class="d-inline-block mb-2 mt-3 me-3" {{ "target='blank'" if module.youtube_link.open_in_new_tab == true }}><img src="{{ get_asset_url('/q-theme/images/qoria/icons/YouTube Icon.png') }}" style="width: 100%; max-width: 52px;" class=""></a>
                                        {% endif %}
                                        {% if module.spotify_link.url.href %}
                                        <a href="{{ module.spotify_link.url.href }}" class="d-inline-block mb-2 mt-3 me-3" {{ "target='blank'" if module.spotify_link.open_in_new_tab == true }}><img src="{{ get_asset_url('/q-theme/images/qoria/icons/Spotify Icon.png') }}" style="width: 100%; max-width: 52px;" class=""></a>
                                        {% endif %}
                                        {% if module.audible_link.url.href %}
                                        <a href="{{ module.audible_link.url.href }}" class="d-inline-block mb-2 mt-3 me-3" {{ "target='blank'" if module.audible_link.open_in_new_tab == true }}><img src="{{ get_asset_url('/q-theme/images/qoria/icons/Audible Icon.png') }}" style="width: 100%; max-width: 52px;" class=""></a>
                                        {% endif %} 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% elif module.style.layout == "blog" || !module.style.layout %}

    {% if module.source == "file" %}

        {% if module.file_field %}
            
        
            <style>
            .bg-image-{{name}}:after{
            background-image: url("{{ module.background_image.src if module.background_image.src else article.featured_image}}");
                filter: grayscale(1) contrast(0.9) brightness(1.1);
                background-position: center center;
                background-size: cover;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
            }
            </style>
        
            <section class="{{ module.style.shadow_style if module.style.shadow }} bg-image-{{name}}" style="transform-style: preserve-3d; {{"position: relative; z-index: 2; margin-bottom: -24px; transform: translateY(-24px);" if module.style.overlay }} {{module.style.spacing_field.css}}">
                <div class="{{ module.style.background_colour if module.style.background_colour != "none" }} fade-45 position-absolute top-0 h-100 w-100 d-block" style=""></div>
                <div class="container-fluid g-0 position-relative {{ "text-white" if module.style.background_colour != "none" }}" style="">
                    <div class="row g-0">
                        <div class="col p-3 p-md-5 px-4 px-md-6">
                            <div class="content-container">
                                <h3><strong>{{module.section_title if module.custom_section_title else "Featured article" }}</strong></h3>
                                <hr>
                                <div class="mt-7 mb-3">
                                    {% if module.preheader %}
                                        <p class="my-0">{{ module.preheader }}</p>
                                    {% endif %}
                                </div>
                                <div class="{{ module.heading_width }}"><h2><strong>{{module.heading}}</strong></h2></div>
                                    {% if module.custom_cta %}
                                        {% if (module.cta_label|striptags|unescape_html) is string_containing "->" %}
                                            {% set ctaLabel = module.cta_label|striptags|unescape_html|replace('->','<i class="fa fa-arrow-right fa-xs"></i>') %}
                                        {% elif (module.cta_label|striptags|unescape_html) is string_containing " >" %}
                                            {% set ctaLabel = module.cta_label|striptags|unescape_html|replace(' >',' <i class="fa fa-chevron-right fa-xs"></i>') %}
                                        {% else %}
                                            {% set ctaLabel = module.cta_label %}
                                        {% endif %}
                                    {% else %}
                                        {% set ctaLabel = "Read more" %}
                                    {% endif %}
                                <a href="{{ module.cta_link.href if module.cta_link.href else module.file_field }}" {{ "download" if module.download }} class="btn {{module.cta_style if module.custom_cta else "btn-outline-"}}{{module.cta_colour if module.custom_cta else "light"}}  mt-3">{{ctaLabel}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            {% endif %}
        
    {% else %}

        {% if module.blog_entry %}
            
        {% set article = content_by_id(module.blog_entry) %}
        <style>
        .bg-image-{{name}}:after{
            background-image: url("{{ module.background_image.src if module.background_image.src else article.featured_image}}");
            filter: grayscale(1) contrast(0.9) brightness(1.1);
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
        }
        </style>

        <section class="{{ module.style.shadow_style if module.style.shadow }} bg-image-{{name}}" style="transform-style: preserve-3d; {{"position: relative; z-index: 2; margin-bottom: -24px; transform: translateY(-24px);" if module.style.overlay }} {{module.style.spacing_field.css}}">
            <div class="{{ module.style.background_colour if module.style.background_colour != "none" }} fade-45 position-absolute top-0 h-100 w-100 d-block" style=""></div>
            <div class="container-fluid g-0 position-relative {{ "text-white" if module.style.background_colour != "none" }}" style="">
                <div class="row g-0">
                    <div class="col p-3 p-md-5 px-4 px-md-6">
                        <div class="content-container">
                            <h3><strong>{{module.section_title if module.custom_section_title else "Featured article" }}</strong></h3>
                            <hr>
                            <div class="mt-7 mb-3">
                                {% if module.custom_preheader %}
                                    {% if module.preheader %}
                                        <p class="my-0">{{ module.preheader }}</p>
                                    {% endif %}
                                {% else %}
                                    {% if article.post_body %}
                                    <p class="my-0"><i class="fa fas fa-pencil me-1"></i> {{ ((article.post_body|regex_replace("{%.*%}", "")|striptags|wordcount)/225)|round(0, "ceil") }} 
                                        {% if module.custom_min_read %}
                                            {% if module.min_read %}
                                                {{ module.min_read }}
                                            {% endif %}
                                        {% else %}
                                            min read
                                        {% endif %}
                                    | By {{article.blog_post_author.display_name}}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="{{ module.heading_width }}"><h2><strong>{{article.name}}</strong></h2></div>
                            {% if module.custom_cta %}
                                {% if (module.cta_label|striptags|unescape_html) is string_containing "->" %}
                                    {% set ctaLabel = module.cta_label|striptags|unescape_html|replace('->','<i class="fa fa-arrow-right fa-xs"></i>') %}
                                {% elif (module.cta_label|striptags|unescape_html) is string_containing " >" %}
                                    {% set ctaLabel = module.cta_label|striptags|unescape_html|replace(' >',' <i class="fa fa-chevron-right fa-xs"></i>') %}
                                {% else %}
                                    {% set ctaLabel = module.cta_label %}
                                {% endif %}
                            {% else %}
                                {% set ctaLabel = "Read more" %}
                            {% endif %}
                            <a href="{{ article.absolute_url }}" class="btn {{module.cta_style if module.custom_cta else "btn-outline-"}}{{module.cta_colour if module.custom_cta else "light"}} mt-3">{{ctaLabel}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endif %}

    {% endif %}

{% endif %}