<!--
    templateType: none
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    <meta name="description" content="{{ content.meta_description }}">

    {# Preload main theme CSS earlier for faster discovery #}
    {{ require_css(get_asset_url('/q-theme/css/qoria-theme.min.css'), { async: true }) }}
    {{ require_js(get_asset_url("../../child.js")) }}
    {{ standard_header_includes }}
    {{ require_css(get_public_template_url("../../child.css")) }}
  </head>
  <body data-bs-spy="scroll" data-bs-target="#pageContents">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJQTKNC9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {% block header %}
      <div class="header-wrapper sticky-top shadow-sm">
        {% global_partial path='../partials/header.html', label="Header" %}
      </div>
    {% endblock header %}

    <div class="content-wrapper">
    {% block body %}
    {% endblock body %}
    </div>
    
    {% block footer %}
      <div class="footer-wrapper">
    {% global_partial path='../partials/footer.html', label="Footer" %}
      </div>
    {% endblock footer %}

    {{ standard_footer_includes }}
    {{ require_js(get_asset_url('/q-theme/js/bootstrap.bundle.min.js')) }} 
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/alert.js'), { position: "footer", defer:true }) }}    #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/base-component.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/button.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/carousel.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/collapse.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/dropdown.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/modal.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/offcanvas.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/popover.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/scrollspy.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/tab.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/toast.js'), { position: "footer", defer:true }) }}   #}
{#    {{ require_js(get_asset_url('/q-theme/js/bootstrap/tooltip.js'), { position: "footer", defer:true }) }}    #}
  </body>
</html>