<!--
    templateType: none
-->

{% extends "./core-base.html" %}

{% block head %}
  {{ require_js(get_asset_url("../../child.js")) }}
  {{ require_css(get_public_template_url("../../child.css")) }}
  {% import '../partials/tokens.html' %}
{% endblock head %}

{% block body_top %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJQTKNC9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock body_top %}

{% block header %}
{% endblock header %}

{% block body %}
{% endblock body %}
  
{% block footer %}
  <div class="footer-wrapper">
    {% global_partial path='../partials/footer.html', label="Footer" %}
  </div>    
  {% global_partial path='../partials/region-select-popup.html', label="Region Select Modal" %}
{% endblock footer %}