
{% set blog_posts = [] %}
{% for blog in module.blog_posts %}
{% set blog_item = {"blog_title": blog.blog_title|render, "blog_description": blog.blog_description, "blog_tag": blog.blog_tag, "blog_image": blog.blog_image.src|render, "blog_url":blog.blog_link.url.href, "blog_target":blog.blog_link.open_in_new_tab} %}
{% do blog_posts.append(blog_item) %}
{% endfor %}

{# split to 2 columns/arrays #}
{% set numPerCol = (blog_posts|length / 2)|round(0, "ceil") %}

<div class="container-fluid g-0">
<div class="row row-cols-md-2 row-cols-1 g-3">
{% if blog_posts != [] %}
    {% for column in blog_posts|slice(numPerCol, " ") %}
        <div class="col">
            <div class="col-inner px-3 px-md-5 bg-white h-100">
            {% for blog in column %}
                {% if blog != " " %}
                    <div class="blog py-3 py-md-5 {{"border-bottom" if not loop.last}}">
                        <div class="row align-items-stretch">
                            <div class="col d-flex flex-column justify-content-start">
                            <h5 class="fw-semibold">{{ blog.blog_title }}</h5>
                            {% if blog.blog_tag %}
                            <p class="small fw-semibold">{{ blog.blog_tag }}</p>
                            {% endif %}
                            </div>
                            {% if blog.blog_image %}
                                <div class="col-5">
                                <img src="{{blog.blog_image}}" alt="{{ blog.blog_title }}"  class="img-fluid">
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col pt-0 pt-md-4">
                                {{blog.blog_description}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col pt-3">
                                <a href="{{blog.blog_url}}" {% if blog.blog_target == true %}target="_blank"{% endif %} {% if item.blog_link.rel %}rel="{{ item.blog_link.rel }}"{% endif %} class="text-reset fw-semibold text-decoration-none">Read more +</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
</div>
