.play-button {
  cursor: pointer;
  mix-blend-mode: multiply;
  width: 10%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 50px;
}

.play-button:after {
    content: "";
    padding-top: calc(81 / 116 * 100%);
    display: block;
}