<div class="position-relative">
    <video id="{{ module.unique_video_name }}" width="100%" class="rounded-3" preload="{{ module.style.preload }}" {% if module.style.loop %}loop{% endif %}{% if module.style.autoplay %} autoplay{% endif %}{% if module.style.muted %} muted{% endif %}{% if module.custom_thumbnail.src %} poster="{{ module.custom_thumbnail.src }}"{% endif %}>
      {% set videoUrl = module.video_file|lower %}
      {% if videoUrl is string_containing ".mp4" %}
      {% set type = 'type="video/mp4"' %}
      {% elif videoUrl is string_containing ".ogg" %}
      {% set type = 'type="video/ogg"' %}
      {% elif videoUrl is string_containing ".webm" %}
      {% set type = 'type="video/webm"' %}
      {% endif %}
      <source src="{{ module.video_file }}" {{ type }}>
      {% for item in module.subtitles %}
      <track label="{{ item.subs_label }}" kind="captions" src="{{ item.subtitle_file }}" {% if loop.first %}default{% endif %} />
      {% endfor %}
    Your browser does not support the video tag.
    </video>
{% if module.style.controls %}
    <div class="play-button position-absolute top-50 start-50 translate-middle">
      <div class="w-100 h-100 position-absolute" onclick="playVideo('{{ module.unique_video_name }}')">
        </div>
    </div>
{% endif %}
</div>

{% require_css %}

  <style>
  .play-button {
  background-image: url({{ get_asset_url('../../images/qoria/play-button.svg') }});
  }
  </style>

{% end_require_css %}