<div id="{{name}}"></div>
{% if is_in_editor %}
    {% editor_placeholder %}
{% endif %}

{% require_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let e = document.getElementById("{{name}}");

        {% if module.apply_to_element == "column" %}
            let eToFind = "dnd-column";
        {% elif module.apply_to_element == "row" %}
            let eToFind = "dnd-row";
        {% elif module.apply_to_element == "section" %}
            let eToFind = "dnd-section";
        {% endif %}

        let cToAdd = "{{module.classes}}";

        cToAdd = cToAdd.replace(/\s+/g, ' ');

        //applyClassesToParent(e, eToFind, cToAdd, appliedClassesToParent);

        if (typeof window.appliedClassesToParent === 'function') {
            applyClassesToParent(e, eToFind, cToAdd, window.appliedClassesToParent);
        } else {
            let attempts = 0;
            const maxAttempts = 10;

            const poll = setInterval(() => {
                attempts++;
                
                if (typeof window.appliedClassesToParent === 'function') {
                    clearInterval(poll);
                    applyClassesToParent(e, eToFind, cToAdd, window.appliedClassesToParent);
                } else if (attempts >= maxAttempts) {
                    clearInterval(poll);
                    applyClassesToParent(e, eToFind, cToAdd);
                }
            }, 50);
        }
    });
</script>
{% end_require_js %}