<section class="{{" mt-n5 position-relative" if module.style.overlay }}{{" section-shadow" if module.style.shadow }}" style="transform-style: preserve-3d;">
    <div class="container-fluid g-0 {{ module.style.background_colour if module.style.background_colour != "none" }}">
        {% for row in module.row %}
            <div class="row g-0 py-4">
                {% for col in row.column %}
                    <div class="col px-4 {{ col.column_styles.background_colour }}{{ " bg-q-tail-1" if col.column_styles.background_image == "q-tail-1" }} {{ col.expert_use.additional_classes }}">
                        {{"<h5><strong>{{ col.pre_heading }}</strong></h5>" if col.pre_heading }}
                        {{"<h3>{{ col.heading }}</h3>" if col.heading }}
                        {{'<span class="{{col.statistic_font_size}}">{{ col.statistic }}</span>' if col.statistic }}
                        {{ col.text }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>