<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Qoria ES - Resource Post Update
  screenshotPath: ../images/template-previews/blog-post.png
-->

{% extends "./layouts/base.html" %}

{# {% choice "listing_page_style" label='Listing page style', value="regular", choices=[['regular', 'Regular'], ['gradient', 'Gradient overlay']], export_to_template_context=True %} #}

  {% choice "blog_type" label='Blog type', value="regular", choices=[['regular', 'Regular'], ['case_study', 'Case study'], ['video', 'Video'], ['whitepaper', 'Whitepaper']], export_to_template_context=True %}

 {#   {% text "video_duration" label='Video duration', overrideable=False, value=, export_to_template_context=True %}    #}


 {% require_js %}
  <script>
    function blogFormat(blogposts) {

    var formatted = "";

      for (var i = 0; i < blogposts.length; i++) {
        var blogpost = blogposts[i];
        formatted += '<div class="col">';
          formatted += '<div class="card bg-light border-0 position-relative">';
            formatted += '<div class="card-body text-start p-3">';
                  
              if (blogpost.featuredImage){
              formatted += `<div class="ratio ratio-21x9"><img src="${blogpost.featuredImage}?width=800" class="card-img-top rounded  position-absolute" alt="${blogpost.featuredImageAltText}"></div>`;
              }
              let postBody = blogpost.postBody.replace(/(<([^>]+)>)/gi, "").replace(/(\{\%([^}]+)(%}))/gi, "");
              let postWordcount = postBody.split(' ').filter(function(n) { return n != '' }).length;
              let duration = Math.ceil(postWordcount/225);
              formatted += `<div class="row text-secondary py-3 small">`;
                formatted += `<div class="col-auto">`;
                  formatted += `<strong><i class="fa fas fa-pencil me-1"></i>Lectura de ${duration} minutos</strong>`;
                formatted += `</div>`;
                formatted += `<div class="col text-lg-end">`;
                  formatted += `<strong>${blogpost.blogAuthor.fullName}</strong>`;
                formatted += `</div>`;
              formatted += `</div>`;
              formatted += `<a href="${blogpost.url}" class="h4 text-reset pb-2 fw-medium stretched-link">${blogpost.name}</a>`;
            formatted += '</div>';
          formatted += '</div>';
        formatted += '</div>';
      }

    return formatted;
    }
  </script>
{% end_require_js %}

{% block body %}

  {% module "description" path="/q-theme/modules/blog-description", export_to_template_context=True %}
  {% module "related_articles_setting" path="/q-theme/modules/blog-related-posts-settings", label="Related Articles" %}

  <div class="main p-0 overflow-hidden">
    <section class="bg-white pt-7 pb-7">
      <article class="container-xxl blog-post pt-md-6" id="blog_post">
        <div class="row align-items-stretch g-lg-7 g-5 ">
          <div class="col-12 offset-0 col-xl-8 col-lg-8 col-md-8 border-end-md">
            <h1 class="fw-bold {{ "pb-7" if content.featured_image }}">{{ content.name }}</h1>
            {% if content.featured_image %}
              <div class="row">
                <div class="col">
                  <img src="{{ resize_image_url(content.featured_image, 800) }}" class="img-fluid filter-grayscale blog-featured-image">
                </div>
              </div>
            {% endif %}
            <div class="row align-items-center pt-4 pb-7">
              <div class="col-auto text-secondary">
              {# <img src="{{ content.blog_post_author.avatar }}" class="me-2 d-none" alt="{{ content.blog_post_author.display_name }} Avatar" style="width: 56px; width: 56px; object-fit: cover;">
                #}
              <strong>Por {{ content.blog_post_author.display_name }}</strong><br>
              Publicado {{content.publish_date|format_date('dd MMMM, yyyy')}}
              </div>
              <div class="col">
                <div class="bg-secondary text-white p-3 d-inline-block lh-1">
                  <strong><i class="fa fas fa-pencil me-1"></i> Lectura de {{ ((content.post_body|regex_replace("{%.*%}", "")|striptags|wordcount)/225)|round(0, "ceil") }} minutos</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col blog-post-body">
                {{ content.post_body }}
              </div>
            </div>
            <div class="row py-5">
              <div class="col">
              {% if content.previous_post_name %}
                <p class="">
                <a href="/{{ content.previous_post_slug }}" class="text-decoration-none text-reset">
                <strong><i class="fa fa-chevron-left fa-xs"></i> Artículo anterior</strong><br>
                {{ content.previous_post_name }}
                </a>
                </p>
              {% endif %}
            </div>
              <div class="col text-end">
              {% if content.next_post_name %}
                <p class="">
                <a href="/{{ content.next_post_slug }}" class="text-decoration-none text-reset">
                <strong>Artículo siguiente <i class="fa fa-chevron-right fa-xs"></i></strong><br>
                {{ content.next_post_name }}
                </a>
                </p>
              {% endif %}
              </div>
            </div>
          </div>
          <div class="col-12 offset-0 col-xl-4 col-lg-4 col-md-4 blog-sidebar d-flex flex-column justify-content-between">
    
    
            <div class="related-container mb-4">
              <h4 class="text-center text-reset">Artículos relacionados</h4>
              <div class='row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3'>
                {% if content.widgets.related_articles_setting.body.selection_type == "manual" %}
                    {% set relatedPosts = content_by_ids(content.widgets.related_articles_setting.body.blog_posts) %}
                      
                    {% for post in relatedPosts %}
                      <div class="col">
                        <div class="card bg-light border-0 position-relative">
                          <div class="card-body text-start p-3">
                            {% if post.featured_image %}
                              <div class="ratio ratio-21x9">
                              <img src="{{ resize_image_url(post.featured_image, 800) }}" class="card-img-top rounded position-absolute" alt="{{post.name}}">
                              </div>
                            {% endif %}
                            {% set postBody = post.post_body|striptags %}
                            {% set postWordcount = postBody|split(' ')|length %}
                            {% set duration = postWordcount/225|round(0, "ceil") %}
                            <div class="row text-secondary py-3 small">
                              <div class="col-auto">
                                <strong><i class="fa fas fa-pencil me-1"></i>Lectura de {{duration}} minutos</strong>
                              </div>
                              <div class="col text-lg-end">
                                <strong>{{post.author.full_name}}</strong>
                              </div>
                            </div>
                            <a href="{{post.absolute_url}}" class="h4 text-reset pb-2 fw-medium stretched-link">{{post.name}}</a>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                {% elif content.widgets.related_articles_setting.body.selection_type == "combination" %}
                  {% if content.tag_list %}
                    {% set tags = content.tag_list|map("label")|join(",") %}
                  {% endif %}
                    
                  {% if content.widgets.related_articles_setting.body.number_posts %}
                    {% set numRelatedPosts = content.widgets.related_articles_setting.body.number_posts %}
                  {% else %}
                    {% set numRelatedPosts = 2 %}
                  {% endif %}
    
                  {% related_blog_posts 
                  limit={{numRelatedPosts}},
                  tags="{{tags}}",
                  callback="blogFormat",
                  blog_post_override="{{content.widgets.related_articles_setting.body.blog_posts}}"
                  no_wrapper=True %}
                {% else %}
                  {% if content.tag_list %}
                    {% set tags = content.tag_list|map("label")|join(",") %}
                  {% endif %}
                    
                  {% if content.widgets.related_articles_setting.body.number_posts %}
                    {% set numRelatedPosts = content.widgets.related_articles_setting.body.number_posts %}
                  {% else %}
                    {% set numRelatedPosts = 2 %}
                  {% endif %}
    
                  {% related_blog_posts 
                  limit={{numRelatedPosts}},
                  tags="{{tags}}",
                  callback="blogFormat",
                  no_wrapper=True %}
    
                {% endif %}
                <div class="col">
                  <div class="bg-light">
                    {% module "module_17230112997651" path="/q-theme/modules/region-specific/es/subscribe", label="Subscribe" %}
                  </div>
                </div>
              </div>
            </div>
              {% boolean "sidebar_cta" label="Sidebar CTA Toggle", value=False, export_to_template_context=True %}
              {% if widget_data.sidebar_cta.value == true  %}
                <div class="blog-cta-container mb-4">
                  {% module "module_17230225882142" path="/q-theme/modules/blog-cta", label="Blog Sidebar CTA" %}
                </div>
              {% endif %}
            <div></div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
{% global_partial path="./partials/lets-connect.html" %}

{% endblock body %}