{% set activeAcc = [] %}
    
{% if request.query_dict %}
    {% for key, val in request.query_dict.items() %}
        {% if key == module.unique_name %}
            {% do activeAcc.append(val) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if module.accordion|length != 0 %}
    <div class="accordion hs-allow-transition {{ module.style.shadow_style if module.style.shadow }}" style="{{module.style.spacing_field.css}}" id="accordion-{{name}}">
            
        {% for accordion in module.accordion %}
            {% set show = "" %}
            {% if activeAcc|length > 0 %}
                {% if activeAcc[0]|urldecode == accordion.acc_label|lower %}
                    {% set show = "show" %}
                {% endif %}
            {% else %}
                {% if loop.first %}
                    {% set show = "show" %}
                {% endif %}
            {% endif %}
            <div class="accordion-item">
                <h3 class="h2 accordion-header">
                <button class="hs-allow-transition accordion-button {{ "collapsed" if show == "" }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{accordion.unique_name if accordion.unique_name else "acc-{{name}}-{{loop.index}}"}}" {{ 'aria-expanded="true"' if show == "show" }} aria-controls="acc-{{name}}-{{loop.index}}">
                    <div class="accordion-icon"></div>{{ accordion.acc_label }}
                </button>
                </h3>
                <div id="{{accordion.unique_name if accordion.unique_name else "acc-{{name}}-{{loop.index}}"}}" class="accordion-collapse collapse {{ show }} hs-allow-transition" data-bs-parent="#accordion-{{name}}">
                    <div class="accordion-body">
                        {{accordion.content}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}