<!--
  templateType: page
  isAvailableForNewContent: false
  label: Linewize ANZ Events
  screenshotPath: ../../images/template-previews/landing-page.png
-->
{% extends "../layouts/base.html" %}

{% block body %}
    {% dnd_area "dnd_area"
    label="Body"
    class="main p-0 overflow-hidden"
    %}


    {% dnd_section
    full_width=true
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="/q-theme/modules/hero",
          offset=0,
          width=12,
          cta=[ ],
          header="Events",
          hero_type="full-image",
          image={
            "alt" : "US-Linewize-Banners-Events2",
            "height" : 1280,
            "loading" : "disabled",
            "max_height" : 1280,
            "max_width" : 1920,
            "size_type" : "auto_custom_max",
            "src" : "https://www.linewize.com/hubfs/US-Linewize-Banners-Events2.jpg",
            "width" : 1920
          },
          menu=123441695658,
          page_contents=[ {
            "anchor" : "#wedlovetoseeyou",
            "content_label" : "We'd love to see you"
          }, {
            "anchor" : "#letsconnect",
            "content_label" : "Let's connect"
          } ],
          pre_header="About us:",
          show_breadcrumbs="true",
          show_share_price="false",
          style={
            "heading_location" : "bottom-left"
          },
          video=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "32px",
      "left" : "16px",
      "right" : "16px",
      "top" : "80px"
    },
    "mobile" : {
      "bottom" : "16px",
      "top" : "64px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="intro"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=2
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12,
            hidden={
              "mobile" : true
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=2,
        width=8
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/heading",
            offset=0,
            width=12,
            heading_tag="h1",
            style={
              "spacing_field" : {
                "margin" : {
                  "bottom" : { },
                  "top" : { }
                }
              },
              "textalignment" : "center"
            }
          %}
            {% module_attribute "heading" %}
              Our teams are always <br><strong>out and about</strong>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p class="lead" style="text-align: center;">Meeting and speaking to people in person is very important to us. Check out our events below and come and say hello, if you can. We’d love to see you.&nbsp;</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=10,
        width=2
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12,
            hidden={
              "mobile" : true
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "64px",
      "right" : "64px",
      "top" : "32px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "16px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="intro"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/slick-carousel",
        offset=0,
        width=12,
        slide=[ {
          "column" : [ {
            "column_classes" : "col",
            "content" : "<img src='https://www.linewize.com/hubfs/US%20-%20Event%20Gallery%20Images/US_Event_gallery-3.jpg' width='1000' height='563' loading='lazy' alt='US_Event_gallery-3' style='height: auto; max-width: 100%; width: 1000px; margin-left: auto; margin-right: auto; display: block;'>\n<p>&nbsp;</p>"
          } ],
          "vertical_alignment" : "align-items-center"
        }, {
          "column" : [ {
            "column_classes" : "col",
            "content" : "<img src='https://www.linewize.com/hubfs/US%20-%20Event%20Gallery%20Images/US_Event_gallery-6.jpg' width='1000' height='563' loading='lazy' alt='US_Event_gallery-6' style='height: auto; max-width: 100%; width: 1000px; margin-left: auto; margin-right: auto; display: block;'>\n<p>&nbsp;</p>"
          } ],
          "vertical_alignment" : "align-items-center"
        }, {
          "column" : [ {
            "column_classes" : "col",
            "content" : "<img src='https://www.linewize.com/hubfs/US%20-%20Event%20Gallery%20Images/US_Event_gallery-5.jpg' width='1000' height='563' loading='lazy' alt='US_Event_gallery-5' style='height: auto; max-width: 100%; width: 1000px; margin-left: auto; margin-right: auto; display: block;'>\n<p>&nbsp;</p>"
          } ],
          "vertical_alignment" : "align-items-center"
        }, {
          "column" : [ {
            "column_classes" : "col",
            "content" : "<img src='https://www.linewize.com/hubfs/US%20-%20Event%20Gallery%20Images/US_Event_gallery-4.jpg' width='1000' height='563' loading='lazy' alt='US_Event_gallery-4' style='height: auto; max-width: 100%; width: 1000px; margin-left: auto; margin-right: auto; display: block;'>\n<p>&nbsp;</p>"
          } ],
          "vertical_alignment" : "align-items-center"
        }, {
          "column" : [ {
            "column_classes" : "col",
            "content" : "<img src='https://www.linewize.com/hubfs/US_Event_gallery-8.jpg' width='1000' height='563' loading='lazy' alt='US_Event_gallery-8' style='height: auto; max-width: 100%; width: 1000px; margin-left: auto; margin-right: auto; display: block;'>\n<p>&nbsp;</p>"
          } ],
          "vertical_alignment" : "align-items-center"
        } ],
        style={
          "adaptive_height" : false,
          "autoplay" : true,
          "normalise_heights" : true,
          "slide_or_fade" : "carousel-slide",
          "vertical_align" : "center"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="wedlovetoseeyou"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h1",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : -29
              },
              "top" : { }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          We'd love to <strong>meet you</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section
  padding={
    "default" : {
      "bottom" : "32px",
      "top" : "0px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=6,
    padding={
      "default" : {
        "left" : "16px",
        "right" : "16px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/events",
        offset=0,
        width=12,
        add_to_diary="Add to calendar",
        event=[ {
          "calendar_object" : {
            "description" : "FETC equips you with the tools, insights, and connections needed to propel your district to unparalleled heights of achievement.\n\nIn today's rapidly evolving world, it is crucial to stay ahead of the curve and equip our students with the skills they need to thrive. To achieve this, we invite you to explore the extraordinary opportunities offered by the Future of Education Technology Conference. This transformative event empowers education leaders like you to shape the future of education and unlock unparalleled success for your students.",
            "event_end" : 1706297400000,
            "event_start" : 1706011200000,
            "location" : "Orange County Convention Center, Orlando FL",
            "title" : "FETC - FL"
          },
          "event_date" : "January 23-26",
          "event_name" : "FETC - FL",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://www.fetc.org/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "New Jersey’s Premier Educational Technology Training and Exhibition Conference for School Leaders. \n\nIn addition to 85+ well-planned and practiced workshops, an exhibition showcasing the latest tools and best resources available in education and THREE DAYS of opportunities to meet and network with colleagues!",
            "event_end" : 1706306400000,
            "event_start" : 1706097600000,
            "location" : "Harrah's Resort Atlantic City",
            "title" : "TechSpo - NJ"
          },
          "event_date" : " January 24-26",
          "event_name" : "NJASA TechSpo - NJ",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://www.njasa.net/domain/253",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "Want to increase efficiency and save time, boost results through improved instruction, support teaching and learning in innovative new ways, and more? Hand-pick your learning from hundreds of sessions, speakers, and exhibitors at TCEA’s Convention & Exposition, the ultimate educator conference.",
            "event_end" : 1707256800000,
            "event_start" : 1707048000000,
            "location" : "Austin Convention Center",
            "title" : "TCEA - TX"
          },
          "event_date" : "February 4-6",
          "event_name" : "TCEA Convention - TX",
          "event_site_label" : "Visit website",
          "include_calendar_link" : true,
          "url" : {
            "href" : "https://convention.tcea.org/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "Level Up this February at the Boise Centre. Attend our 3 day in person conference featuring practical advice from peers, state, and national educational experts on leading innovative teaching and learning.",
            "event_end" : 1707516000000,
            "event_start" : 1707307200000,
            "location" : "Boise Centre850 W. Front Street Boise, ID 83702",
            "title" : "IETA"
          },
          "event_date" : "February 7-9",
          "event_name" : "IETA - ID",
          "event_site_label" : "Visit website",
          "include_calendar_link" : true,
          "url" : {
            "href" : "https://ieta.events/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "IDEAcon isn't just a conference; IDEAcon is an experience.\n\nFrom daily thought leaders in the areas of education and DEI and Accessibility who represent innovative practices both locally and across the country to hundreds of sessions that allow you to truly customize your IDEAcon experience based on your own comfort level and curiosity with idea/skills/tools to evening social events that truly make you feel like you're part of the IDEA family, IDEAcon is a conference you won't forget, for all the right reasons.",
            "event_end" : 1708552800000,
            "event_start" : 1708344000000,
            "location" : "Renaissance Schaumburg Convention Center Hotel",
            "title" : "IDEAcon"
          },
          "event_date" : "February 13-15",
          "event_name" : "IDEAcon - IL",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://www.ideaillinois.org/IDEAcon",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "MECA (MS Educational Computing Association) provides for the sharing and exchanging of ideas, techniques, materials, and procedures for all persons interested in technology in education including instructional applications, administrative applications, and computer science education.\n\n​This year we are going “Back to the Basics” for our grooviest MECA yet on February 21-23, 2024!  We will be back at the Jackson Convention Center in Jackson, MS for some far-out sessions.",
            "event_end" : 1708725600000,
            "event_start" : 1708516800000,
            "location" : "Jackson Convention Complex 105 East Pascagoula Jackson, 39201",
            "title" : "MECA"
          },
          "event_date" : "February 21-23",
          "event_name" : "MECA - MS",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://www.ms-meca.org/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "CASE’s largest professional development event of the year offers national-caliber speakers at affordable in-state prices. Engaging keynote presentations, interesting and beneficial breakout sessions, a comprehensive legislative and policy program, and ample networking opportunities make the CASE Convention a can't-miss experience.",
            "event_end" : 1708552800000,
            "event_start" : 1708516800000,
            "location" : "",
            "title" : "CASE"
          },
          "event_date" : "February 21",
          "event_name" : "CASE Winter Leadership Summit - CO",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://www.co-case.org/page/CASEProfessionalLearningEvents/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "With over 120 technology-focused sessions, you’ll hear from your colleagues (IT Directors, Tech Coordinators, System Admins, Network Admins, Desktop Techs, etc.) and vendors in the K20 community. Learn new skills, and check out cutting edge products that will make your job easier!",
            "event_end" : 1710363600000,
            "event_start" : 1710327600000,
            "location" : "Kalahari Resort & Convention Center 1305 Kalahari Drive Wisconsin Dells, WI 53965",
            "title" : "BrainStorm"
          },
          "event_date" : "March 13",
          "event_name" : "BrainStorm - W1",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://brainstormk20.com/wisconsindells/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "MACUL 2024 will be give every attendee access to cutting edge tools, classroom resources and learning strategies for today’s technology driven schools.",
            "event_end" : 1710536400000,
            "event_start" : 1710327600000,
            "location" : "Grand Rapids, Michigan",
            "title" : "MACUL"
          },
          "event_date" : "March 14-15",
          "event_name" : "MACUL - MI",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://macul.org/events/2024-macul-conference/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "2024 Spring Conference",
            "event_end" : 1710536400000,
            "event_start" : 1710414000000,
            "location" : "Chi Health Centre Omaha",
            "title" : "NETA "
          },
          "event_date" : "March 14-15",
          "event_name" : "NETA - NE",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://netasite.org/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "At the 2024 Spring CUE Conference in Palm Springs, educators will unite to ignite inspiration, foster connections, and explore cutting-edge teaching techniques and educational technology for their classrooms.\n\nSpring CUE Conference is not just an event; it's a jubilant celebration of educators like you! Let's come together and revel in the joys of being an educator.\n\nYou'll have access to many enriching learning sessions, captivating keynote presentations by thought leaders and esteemed educators, and hands-on adventures in eSports, AR/VR, wellness, and more.",
            "event_end" : 1711227600000,
            "event_start" : 1711018800000,
            "location" : "Palm Springs Convention Center",
            "title" : "CUE"
          },
          "event_date" : "March 22-24",
          "event_name" : "CUE - CA",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://cue.org/events/30793",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "Leading for Innovation: At Warp Speed\n\nHow do we enable inclusive and agile technology leadership to drive innovation? While school systems are modernizing their digital ecosystems, the warp speed at which new technologies are emerging has created a K-12 technology environment drastically different from just a few years ago. Explore how building leadership matters, especially when resources are constrained. Join in on a community conversation around leading education innovation for the future of learning in a time of unprecedented change.",
            "event_end" : 1712782800000,
            "event_start" : 1712574000000,
            "location" : "",
            "title" : "CoSN2024"
          },
          "event_date" : "April 8-10",
          "event_name" : "CoSN National Event ",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://www.cosn.org/cosn2024/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "Tech Talk Live is brought to you by Lancaster-Lebanon Intermediate Unit 13. \n\nIt is Pennsylvania’s first technology conference that centers around the day-to-day issues that technology professionals face in the educational environment. Tech Talk Live has been delivering relevant, actionable content for today’s IT pros for 15 years. You’ll leave with information you can implement in your organization right away.",
            "event_end" : 1715202000000,
            "event_start" : 1714993200000,
            "location" : "Lancaster Lebanon IU13 Conference and Training Center 1020 New Holland Ave Lancaster, PA 17601",
            "title" : " Tech Talk Live (IU13)"
          },
          "event_date" : "May 7-8",
          "event_name" : "Tech Talk Live (IU13) - PA",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "http://techtalklive.org",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "From all-conference keynotes to practical technical sessions, ACPE’s conference brings you the very best among us to share knowledge and inspire. In the same day, you can take an introduction to Python hands-on workshop, participate in a think tank on cybersecurity then learn best practices for disaster recovery and data center replication during a peer-led sessions.",
            "event_end" : 1715374800000,
            "event_start" : 1715166000000,
            "location" : "Skamania Lodge, Stevenson WA",
            "title" : "ACPE 2024"
          },
          "event_date" : "May 8-10",
          "event_name" : "ACPE Northwest - WA",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://acpenw.events/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "",
            "event_end" : 1716066000000,
            "event_start" : 1715857200000,
            "location" : "",
            "title" : "Region One Technology Conference"
          },
          "event_date" : "May 16-18",
          "event_name" : "Region One Technology Conference - TX",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "",
            "event_end" : 1717794000000,
            "event_start" : 1717585200000,
            "location" : "",
            "title" : "TASTS"
          },
          "event_date" : "June 5-7",
          "event_name" : "TASTS - OK",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://tasts.unionps.org/",
            "type" : "EXTERNAL"
          }
        }, {
          "calendar_object" : {
            "description" : "",
            "event_end" : 1719435600000,
            "event_start" : 1719140400000,
            "location" : "",
            "title" : "ISTE"
          },
          "event_date" : "June 23-26",
          "event_name" : "ISTE National",
          "event_site_label" : "Visit website",
          "url" : {
            "href" : "https://conference.iste.org/2024/",
            "type" : "EXTERNAL"
          }
        } ],
        style={
          "event_style" : "2",
          "include_filter" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=6,
    padding={
      "default" : {
        "left" : "16px",
        "right" : "16px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/fancy-image",
        offset=0,
        width=12,
        image={
          "alt" : "US_Event_gallery-6",
          "height" : 675,
          "loading" : "lazy",
          "max_height" : 675,
          "max_width" : 1200,
          "size_type" : "auto_custom_max",
          "src" : "https://www.linewize.com/hubfs/US%20-%20Event%20Gallery%20Images/US_Event_gallery-6.jpg",
          "width" : 1200
        },
        style={
          "greyscale_filter" : false,
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "top" : { }
            },
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 16
              },
              "left" : { },
              "right" : { },
              "top" : { }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/fancy-image",
        offset=0,
        width=12,
        image={
          "alt" : "US_Event_gallery-5",
          "height" : 675,
          "loading" : "lazy",
          "max_height" : 675,
          "max_width" : 1200,
          "size_type" : "auto_custom_max",
          "src" : "https://www.linewize.com/hubfs/US%20-%20Event%20Gallery%20Images/US_Event_gallery-5.jpg",
          "width" : 1200
        },
        style={
          "greyscale_filter" : false,
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : -86
              },
              "top" : {
                "units" : "px",
                "value" : 8
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section 
max_width=1280 %}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="letsconnect"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}




    {% end_dnd_area %}
{% global_partial path="../partials/lets-connect.html" %}
{% endblock body %}

{% block footer %}
    {% global_partial path="../partials/footer.html" %}
{% endblock footer %}
