<!--
  templateType: page
  isAvailableForNewContent: false
  label: Linewize US Contact
  screenshotPath: ../../images/template-previews/landing-page.png
-->

{% extends "../layouts/base.html" %}


{% block body %}
{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-hidden"
%}

{% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/hero",
        offset=0,
        width=12,
        cta=[ ],
        header="Contact us",
        hero_type="full-image",
        image={
          "alt" : "LWZ-NZ-contactus-banner",
          "height" : 1414,
          "loading" : "disabled",
          "max_height" : 1333.3333333333333,
          "max_width" : 2000,
          "size_type" : "auto_custom_max",
          "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/Linewize%20-%20NZ%20-%20Web%20Banners/LWZ-NZ-contactus-banner.png",
          "width" : 2121
        },
        menu=123441695658,
        page_contents=[ ],
        pre_header="We'd love to hear from you:",
        show_breadcrumbs=true,
        show_share_price=false,
        style={
          "heading_location" : "66-left"
        },
        video=""
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "left" : "16px",
      "right" : "16px"
    }
  },
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/pullout-simple",
        offset=0,
        width=12,
        row=[ {
          "advanced" : {
            "additional_classes" : "px-md-8 px-4 py-4 py-md-6"
          },
          "column" : [ {
            "advanced" : { },
            "column_styles" : {
              "background_colour" : "none"
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "link_stretched" : false,
            "text" : "<p class='lead' style='text-align: center;'><strong>Whether you’re an existing customer, or you’re interested in learning more about our products and services contact us today, we’re happy to help.</strong></p>\n<p class='lead' style='text-align: center;'><strong>If you require technical support, please <a href='/support' rel='noopener'>click here</a>.</strong></p>"
          } ]
        }, {
          "advanced" : {
            "additional_classes" : "px-md-8 px-4 py-0 py-md-0"
          },
          "column" : [ {
            "advanced" : { },
            "column_styles" : {
              "background_colour" : "none"
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "link_stretched" : false,
            "text" : "<h2 class='text-decoration-partial-underline text-center' style='text-align: center;'>Fill our form in and <strong>we'll get straight back to you</strong></h2>"
          } ]
        }, {
          "advanced" : {
            "additional_classes" : "py-4 px-4  py-md-5 px-md-8"
          },
          "column" : [ {
            "advanced" : { },
            "column_styles" : {
              "background_colour" : "none"
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "link_stretched" : false,
            "text" : "<script type='text/javascript' src='//js.hsforms.net/forms/embed/v2.js' charset='utf-8'></script><script>\n  hbspt.forms.create({\n    region: 'na1',\n    portalId: '7977292',\n    formId: '206cc1eb-cbde-4b5c-866e-9375c741ec53',\n    cssClass: 'hs-form form-underline',\n    submitButtonClass: 'btn btn-primary mt-4'\n  });\n</script>"
          } ]
        } ],
        style={
          "background_colour" : "bg-white text-dark"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(255, 255, 255, 1)",
  padding={
    "default" : {
      "bottom" : "80px",
      "top" : "30rem"
    }
  },
  margin={
    "default" : {
      "top" : "-30rem"
    }
  },
  full_width=false
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}

{% block footer %}
    {% global_partial path="../partials/footer.html" %}
{% endblock footer %}
