<!--
templateType: global_partial
label: Website header
-->

{% module "navigation" path="/q-theme/modules/dropdown-navigation", label="Navigation", breakpoint="lg", export_to_template_context=True %}
{% set breakpoint = widget_data.navigation.breakpoint %}
    {% if breakpoint == "always" %}
        {% set navbarExpand = "" %}
    {% elif breakpoint == "never" %}
        {% set navbarExpand = "navbar-expand" %}
    {% else %}
        {% set navbarExpand = "navbar-expand-" + breakpoint %}
    {% endif %}
  
{% module "module_16790276570878" path="/q-theme/modules/notification-bar", label="Notifications", no_wrapper=True %}

<header class="header bg-white">
    <nav class="navbar {{navbarExpand}}">
  <div class="container-fluid"> 
    {% module "logo" path="/q-theme/modules/logo", label="Logo", expert_settings={custom_classes:"navbar-brand"}, no_wrapper=True %}
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fal fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          {% module "navigation" path="/q-theme/modules/dropdown-navigation", label="Navigation", breakpoint="lg", no_wrapper=True %}
          <div class="d-none" role="search"> 
            {% module "site_search"
                        path="@hubspot/search_input",
                        label="Search",
                        field_label="Search",
                        placeholder="",
                        no_wrapper=True
                      %}
          </div>
      </div>
  </div>
    </nav>
</header>

