<!--
  templateType: page
  isAvailableForNewContent: false
  label: Linewize NZ Home
  screenshotPath: ../../images/template-previews/landing-page.png
-->
{% extends "../layouts/base.html" %}


{% block body %}
{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-hidden"
%}

{% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/hero",
        offset=0,
        width=12,
        cta=[ {
          "colour" : "light",
          "cta_label" : "Read our story",
          "cta_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 123690807402,
              "type" : "CONTENT"
            }
          },
          "size" : " ",
          "style" : "-"
        } ],
        header="Helping every child to  <br class='d-none d-md-block'><strong>thrive in their digital lives</strong>",
        hero_type="full-image",
        image={
          "alt" : "linewize-nz-homepagebanner",
          "height" : 1414,
          "loading" : "disabled",
          "max_height" : 1334.5917885795186,
          "max_width" : 2000,
          "size_type" : "auto_custom_max",
          "src" : "https://qoria.com/hubfs/linewize-nz-homepagebanner.jpg",
          "width" : 2119
        },
        menu="115248177746",
        page_contents=[ ],
        pre_header="Our purpose:",
        show_breadcrumbs=true,
        show_share_price=false,
        style={
          "heading_location" : "bottom-left"
        },
        video=""
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "left" : "16px",
      "right" : "16px"
    }
  },
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/pullout-simple",
        offset=0,
        width=12,
        row=[ {
          "advanced" : {
            "additional_classes" : "p-4 p-md-6 align-items-center"
          },
          "column" : [ {
            "advanced" : {
              "additional_classes" : "",
              "additional_col_classes" : "col-12 col-md-7"
            },
            "column_styles" : {
              "background_colour" : "none"
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "link_stretched" : false,
            "text" : "<h2 style='line-height: 1.25;'><strong>Welcome to Linewize - New Zealand<br></strong><br>We help schools advance beyond free provision to build safe and smart digital communities that protect and support students in their digital lives.<strong><br></strong></h2>\n<p style='font-size: 24px; line-height: 1.5;'>____</p>\n<p>Our solutions empower each member of the school community to play a more active role. They also harmonise into a powerful Digital Safety and Wellbeing Framework that gives leadership a strategic roadmap to elevate student wellbeing, and in a manageable way.</p>"
          }, {
            "advanced" : {
              "additional_classes" : "px-5"
            },
            "column_styles" : {
              "background_colour" : "none"
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "link_stretched" : false,
            "text" : "<p><img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/images/Wellbeing%20Framework/Framework_Core.png' alt='Framework_Core' width='510' height='556' loading='lazy' style='height: auto; max-width: 510px; width: 100%;'></p>"
          } ]
        } ],
        style={
          "background_colour" : "bg-white text-dark",
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px",
                "value" : 0
              }
            },
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "left" : {
                "units" : "px",
                "value" : 0
              },
              "right" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px",
                "value" : 0
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h2",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : {
                "units" : "px",
                "value" : -13
              }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          Elevating student wellbeing - <strong>together</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p class="lead" style="text-align: center;">We are unlike any other provider.</p>
          <p class="lead" style="text-align: center;">We work practically with schools as their trusted partner. We help them address their biggest challenges and achieve genuine improvement. Part of Qoria, every school benefits from a vast, global pool of expertise and deep experience.</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/cursive-heading",
        offset=0,
        width=12,
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 64
              },
              "top" : {
                "units" : "px",
                "value" : 60
              }
            }
          }
        }
      %}
        {% module_attribute "heading" %}
          <div style="text-align: center;">because none of us is as powerful as all of us</div>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/pullout",
        offset=0,
        width=12,
        row=[ {
          "advanced" : { },
          "column" : [ {
            "advanced" : {
              "additional_classes" : "text-center p-5"
            },
            "column_styles" : {
              "background_colour" : "none"
            },
            "icon" : {
              "icon_code" : "users",
              "icon_colour" : "inherit",
              "icon_field" : {
                "name" : "Users",
                "type" : "SOLID",
                "unicode" : "f0c0"
              },
              "icon_shape" : "icon-only",
              "icon_style" : "fat",
              "relative_icon_size" : "fa-xl",
              "sizing" : "inherit"
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "link_stretched" : false,
            "statistic" : "22 million",
            "statistic_font_size" : "display-4",
            "text" : "<p>children supported and protected by our technologies around the world, every day.</p>"
          }, {
            "advanced" : {
              "additional_classes" : "text-center p-5"
            },
            "column_styles" : {
              "background_colour" : "none"
            },
            "icon" : {
              "icon_code" : "user-shield",
              "icon_style" : "fat"
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "link_stretched" : false,
            "statistic" : "21,500",
            "statistic_font_size" : "display-4",
            "text" : "<p>schools globally provide better student digital safety and wellbeing support because of our solutions.</p>"
          }, {
            "advanced" : {
              "additional_classes" : "text-center p-5"
            },
            "column_styles" : {
              "background_colour" : "none"
            },
            "icon" : {
              "icon_code" : "user-magnifying-glass",
              "icon_style" : "fat"
            },
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "link_stretched" : false,
            "statistic" : "6 million",
            "statistic_font_size" : "display-4",
            "text" : "<p>parents have greater visibility and control of their child's online behaviours and screen time.</p>"
          } ]
        } ],
        style={
          "absolute_icon_size" : "fa-3x",
          "background_colour" : "bg-gradient-primary text-white",
          "icon_colour" : "light",
          "overlay" : false,
          "relative_icon_size" : "fa-2xl",
          "sizing" : "absolute"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_underline="true",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          Our <strong>solutions</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=2
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=2,
        width=8,
        padding={
          "default" : {
            "bottom" : "32px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <h5 style="text-align: center;"><span style="font-weight: normal;">We provide the most comprehensive suite of digital safety and wellbeing solutions in the world. They are built around three fundamental health and safety pillars&nbsp;your school will already be familiar with.</span></h5>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=10,
        width=2
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "bottom" : "32px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <h5 style="text-align: center;">Prevention &amp; Enablement&nbsp; |&nbsp; Early Detection &amp; Intervention&nbsp; |&nbsp; Education &amp; Engagement</h5>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/card",
        offset=0,
        width=12,
        card=[ {
          "accent_colour" : "bg-gray-700 text-white",
          "image" : {
            "alt" : "classwize-2",
            "height" : 501,
            "loading" : "lazy",
            "max_height" : 501,
            "max_width" : 860,
            "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/classwize-2.png",
            "width" : 860
          },
          "image_fit" : "contain",
          "image_overlap" : true,
          "multiple_text" : true,
          "overlap" : "6",
          "text" : "<p>We remember the importance of what we do. We don’t just turn up; we show up with integrity and will not give up until:</p>\n<p>\\ &nbsp; &nbsp;The job is done<br>\\ &nbsp; &nbsp;The customer is happy<br>\\ &nbsp; &nbsp;The teammate is supported<br>\\ &nbsp; &nbsp;The child is protected</p>\n<p>We own what we do and we stand behind it.</p>",
          "text_group" : [ {
            "cta_colour" : "secondary",
            "cta_style" : "text-",
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "content_id" : 124455273288,
                "type" : "CONTENT"
              },
              "user_generated_content" : false
            },
            "link_label" : "Learn more >",
            "text" : "<h4>School Manager</h4>\n<p>An advanced filter and reporting platform that supports student wellbeing and digital citizenship.</p>"
          }, {
            "cta_colour" : "secondary",
            "cta_style" : "text-",
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "content_id" : 126844756914,
                "type" : "CONTENT"
              },
              "user_generated_content" : false
            },
            "link_label" : "Learn more >",
            "text" : "<h4>Classwize</h4>\n<p>Supports effective teaching and learning in the modern, digital classroom.</p>"
          } ],
          "title" : "Prevention &amp; Enablement",
          "title_size" : "h2"
        }, {
          "accent_colour" : "bg-teal text-white",
          "image" : {
            "alt" : "monitor-home",
            "height" : 501,
            "loading" : "lazy",
            "max_height" : 501,
            "max_width" : 860,
            "src" : "https://qoria.com/hubfs/monitor-home.png",
            "width" : 860
          },
          "image_fit" : "contain",
          "image_overlap" : true,
          "multiple_text" : true,
          "overlap" : "6",
          "text" : "<p>We remember the importance of what we do. We don’t just turn up; we show up with integrity and will not give up until:</p>\n<p>\\ &nbsp; &nbsp;The job is done<br>\\ &nbsp; &nbsp;The customer is happy<br>\\ &nbsp; &nbsp;The teammate is supported<br>\\ &nbsp; &nbsp;The child is protected</p>\n<p>We own what we do and we stand behind it.</p>",
          "text_group" : [ {
            "cta_colour" : "secondary",
            "cta_style" : "text-",
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "content_id" : 126844756920,
                "type" : "CONTENT"
              },
              "user_generated_content" : false
            },
            "link_label" : "Learn more >",
            "text" : "<h4>Monitor</h4>\n<p style='font-size: 16px;'><span style='color: #091e42;'>Real-time, human moderated monitoring that alerts designated staff to students becoming vulnerable.</span></p>"
          }, {
            "cta_colour" : "secondary",
            "cta_style" : "text-",
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "content_id" : 126847171748,
                "type" : "CONTENT"
              },
              "user_generated_content" : false
            },
            "link_label" : "Learn more >",
            "text" : "<h4>Pulse</h4>\n<p style='font-size: 16px;'><span style='color: #000000;'>Gives students a channel to speak up and schools a way to spot those in need - in just 60 seconds a week.</span></p>"
          }, {
            "cta_colour" : "secondary",
            "cta_style" : "text-",
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "content_id" : 126847171754,
                "type" : "CONTENT"
              },
              "user_generated_content" : false
            },
            "link_label" : "",
            "text" : "<h4>In-depth reporting</h4>\n<p><span>Detailed insights that guide students towards effective use of technology.</span></p>"
          } ],
          "title" : "Early Detection &amp; Intervention",
          "title_size" : "h2"
        }, {
          "accent_colour" : "bg-indigo text-white",
          "image" : {
            "alt" : "dx4",
            "height" : 501,
            "loading" : "lazy",
            "max_height" : 501,
            "max_width" : 860,
            "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/dx4.png",
            "width" : 860
          },
          "image_fit" : "contain",
          "image_overlap" : true,
          "multiple_text" : true,
          "overlap" : "6",
          "text" : "<p>We remember the importance of what we do. We don’t just turn up; we show up with integrity and will not give up until:</p>\n<p>\\ &nbsp; &nbsp;The job is done<br>\\ &nbsp; &nbsp;The customer is happy<br>\\ &nbsp; &nbsp;The teammate is supported<br>\\ &nbsp; &nbsp;The child is protected</p>\n<p>We own what we do and we stand behind it.</p>",
          "text_group" : [ {
            "cta_colour" : "secondary",
            "cta_style" : "text-",
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "content_id" : 126827101053,
                "type" : "CONTENT"
              },
              "user_generated_content" : false
            },
            "link_label" : "Learn more >",
            "text" : "<h4>Linewize Courses</h4>\n<p style='font-size: 16px;'><span style='color: #000000;'>Online courses that teach students how to become more informed, resilient and ethical digital citizens.<br></span></p>"
          }, {
            "cta_colour" : "secondary",
            "cta_style" : "text-",
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "content_id" : 126850733877,
                "type" : "CONTENT"
              },
              "user_generated_content" : false
            },
            "link_label" : "Learn more >",
            "text" : "<h4>Online Safety Hub</h4>\n<p>A dedicated resource to help schools and parents have better conversations with children about online safety.&nbsp;</p>"
          }, {
            "cta_colour" : "secondary",
            "cta_style" : "text-",
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "sponsored" : false,
              "url" : {
                "content_id" : 126847171757,
                "type" : "CONTENT"
              },
              "user_generated_content" : false
            },
            "link_label" : "Learn more >",
            "text" : "<h4>Parental apps</h4>\n<p>An all-in-one solution to help parents keep their child’s screen time safe and balanced.</p>"
          } ],
          "title" : "Education &amp; Engagement",
          "title_size" : "h2"
        } ],
        styles={
          "card_style" : "2",
          "image_header" : false,
          "image_header_fit" : "",
          "q_accent" : true,
          "responsive" : {
            "breakpoints" : {
              "mobile" : 1,
              "tablet" : 3
            }
          },
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px",
                "value" : -1
              }
            }
          },
          "textalignment" : "center"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "32px",
      "left" : "16px",
      "right" : "16px",
      "top" : "50rem"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "25rem"
    }
  },
  margin={
    "default" : {
      "top" : "-50rem"
    },
    "mobile" : {
      "top" : "-25rem"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_underline="true",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 60
              },
              "top" : { }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          What <strong>our customers say</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/testimonial-carousel",
        offset=0,
        width=12,
        slide=[ {
          "accent_colour" : "primary",
          "author" : "Yugon Chobanoff",
          "image" : {
            "alt" : "John_XXIII_College_Logo_-_Verticle",
            "height" : 283,
            "loading" : "lazy",
            "max_height" : 184,
            "max_width" : 130,
            "size_type" : "auto_custom_max",
            "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/John_XXIII_College_Logo_-_Verticle.png",
            "width" : 200
          },
          "quote" : "The Linewize ecosystem is unique in providing a complete end-to-end solution for schools in terms of duty of care and educational outcomes, with the addition of community engagement and support.",
          "read_more_url" : {
            "href" : "",
            "type" : "EXTERNAL"
          },
          "role" : "IT Director, John XXIII College"
        } ],
        style={
          "autoplay" : false,
          "cards_settings" : {
            "cards_responsive" : {
              "desktop" : {
                "cards" : 1
              },
              "tablet" : {
                "cards" : 1
              }
            }
          },
          "carousel" : false,
          "controls" : false,
          "dark_or_light" : "text-dark",
          "greyscale_images" : false,
          "infinite" : false,
          "normalise_heights" : false,
          "responsive" : {
            "desktop" : {
              "slides_to_display" : 3
            },
            "mobile" : {
              "slides_to_display" : 2
            },
            "tablet" : {
              "slides_to_display" : 1
            }
          },
          "testimonial_style" : "2"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "32px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "16px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 50
              },
              "top" : {
                "units" : "px",
                "value" : 0
              }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          Who <strong>we work with</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row
      background_color="rgba(255, 255, 255, 1)",
      padding={
        "default" : {
          "bottom" : "32px",
          "left" : "32px",
          "right" : "32px",
          "top" : "32px"
        },
        "mobile" : {
          "bottom" : "16px",
          "left" : "16px",
          "right" : "16px",
          "top" : "16px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <h5 class="lead" style="text-align: center;"><strong>We’re very proud of the schools we support.&nbsp;&nbsp;</strong></h5>
              <p class="lead" style="text-align: center;">They share our passion for relentlessly pursuing safe and supportive <br>digital environments in which every child can thrive.</p>
              <p class="lead" style="text-align: center;">We are partners - in every sense.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=12,
            padding={
              "default" : {
                "left" : "64px",
                "right" : "64px"
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="/q-theme/modules/slick-carousel",
                offset=0,
                width=12,
                slide=[ {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-JohnXXIII_College.png' alt='NZ-schoollogos-JohnXXIII_College' width='100' height='100' loading='lazy' style='height: auto; max-width: 100%; width: 100px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-St_Georges.png' alt='NZ-schoollogos-St_Georges' width='100' height='100' loading='lazy' style='height: auto; max-width: 100%; width: 100px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-Gleneden_School.png' alt='NZ-schoollogos-Gleneden_School' width='110' height='110' loading='lazy' style='height: auto; max-width: 100%; width: 110px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-Strathalbyn_college.png' alt='NZ-schoollogos-Strathalbyn_college' width='110' height='110' loading='lazy' style='height: auto; max-width: 100%; width: 110px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-Aquinas_college.png' alt='NZ-schoollogos-Aquinas_college' width='100' height='100' loading='lazy' style='height: auto; max-width: 100%; width: 100px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-Netherton_School.png' alt='NZ-schoollogos-Netherton_School' width='110' height='110' loading='lazy' style='height: auto; max-width: 100%; width: 110px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-Hikutaia_School.png' alt='NZ-schoollogos-Hikutaia_School' width='110' height='110' loading='lazy' style='height: auto; max-width: 100%; width: 110px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-Kavanagh_college.png' alt='NZ-schoollogos-Kavanagh_college' width='110' height='110' loading='lazy' style='height: auto; max-width: 100%; width: 110px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-Kohimarama_School.png' alt='NZ-schoollogos-Kohimarama_School' width='110' height='110' loading='lazy' style='height: auto; max-width: 100%; width: 110px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                }, {
                  "column" : [ {
                    "column_classes" : "col bg-white",
                    "content" : "<img src='https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ-schoollogos-Wellesley-College.png' alt='NZ-schoollogos-Wellesley-College' width='110' height='110' loading='lazy' style='height: auto; max-width: 100%; width: 110px; margin-left: auto; margin-right: auto; display: block;'>"
                  } ],
                  "vertical_alignment" : "align-items-center"
                } ],
                style={
                  "adaptive_height" : true,
                  "autoplay" : false,
                  "normalise_heights" : false,
                  "responsive" : {
                    "desktop" : {
                      "slides_to_display" : 5,
                      "slides_to_slide" : 5
                    },
                    "mobile" : {
                      "slides_to_display" : 2,
                      "slides_to_slide" : 2
                    },
                    "tablet" : {
                      "slides_to_display" : 3,
                      "slides_to_slide" : 3
                    }
                  },
                  "shadow" : " ",
                  "slide_or_fade" : "carousel-slide"
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% end_dnd_area %}
{% global_partial path="./partials/lets-connect.html" %}
{% endblock body %}

{% block footer %}
    {% global_partial path="./partials/footer.html" %}
{% endblock footer %}
