.hero-full-video, .hero-full-image {
    position: relative;
    background-color: black;
    width: 100%;
  /*  overflow: hidden; */
  }

  .video-bg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
  }
  
  .hero-full-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .hero-full-video .container, 
  .hero-full-video .container-fluid, 
  .hero-full-video .container-xxl, 
  .hero-full-video .container-xl, 
  .hero-full-video .container-lg, 
  .hero-full-video .container-md, 
  .hero-full-video .container-sm,
  .hero-full-image .container, 
  .hero-full-image .container-fluid, 
  .hero-full-image .container-xxl, 
  .hero-full-image .container-xl, 
  .hero-full-image .container-lg, 
  .hero-full-image .container-md, 
  .hero-full-image .container-sm  {
    position: relative;
    z-index: 2;
  }

  
  .hero-full-video .heading-location-bottom-left, .hero-full-image .heading-location-bottom-left {
    padding-top: 10rem;
    }
  
    .hero-full-video .heading-location-33-left, .hero-full-image .heading-location-33-left {
    padding-top: 3.3rem;
    padding-bottom: 6.6rem;
    }
  
    .hero-full-video .heading-location-middle-left, .hero-full-image .heading-location-middle-left  {
    padding-top: 5rem;
    padding-bottom: 5rem;
    }
  
    .hero-full-video .heading-location-top-left, .hero-full-image .heading-location-top-left {
    padding-bottom: 10rem;
    }
  
  
    .hero-full-video .heading-location-66-left, .hero-full-image .heading-location-66-left {
    padding-top: 6.6rem;
    padding-bottom: 3.3rem;
    }
  @media (min-width: 768px) {

  
    .hero-full-video .heading-location-bottom-left, .hero-full-image .heading-location-bottom-left {
      padding-top: 30rem;
      }
    
      .hero-full-video .heading-location-33-left, .hero-full-image .heading-location-33-left {
      padding-top: 10rem;
      padding-bottom: 20rem;
      }
    
      .hero-full-video .heading-location-middle-left, .hero-full-image .heading-location-middle-left  {
      padding-top: 15rem;
      padding-bottom: 15rem;
      }
    
      .hero-full-video .heading-location-top-left, .hero-full-image .heading-location-top-left {
      padding-bottom: 30rem;
      }
    
    
      .hero-full-video .heading-location-66-left, .hero-full-image .heading-location-66-left {
      padding-top: 20rem;
      padding-bottom: 10rem;
      }
    
  }

  .hero-full-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
/*   @media (pointer: coarse) and (hover: none) {
    .hero-full-video {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    .hero-full-video video {
      display: none;
    }
  } */

  
.page-contents.arrow-down:after {
    left: 43px;
}