{% require_css %}
    <style>
      {% scope_css %}
        .heading-bg-gradient br {
            display: none !important;
        }
        @media (min-width: 768px) {
            .heading-bg-gradient br {
                display: block !important;
            }
        }
      {% end_scope_css %}
    </style>
  {% end_require_css %}



<section class="hero-{{module.hero_type}}">

{% if module.hero_type == "full-video" %}

    <div class="video-bg-container">
        <!-- The HTML5 video element that will create the background video on the header -->
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{module.video}}" type="video/mp4">
        </video>
  </div>
{% elif module.hero_type == "full-image" %}
{% require_css %}
    <style>
        .hero-full-image {
            background: url("{{resize_image_url(module.image.src, 1500)}}");
            background-size: cover;
            background-position: center;
        }
        {% if module.style.filter_image %}
            .hero-full-image:before {
                content: " ";
                height: 100%;
                width: 100%;
                display: block;
                position: absolute;
                top: 0;
                backdrop-filter: var(--q-filter-grayscale);
            }
        {% endif %}
        {% if module.include_form %}
            .hero-full-image:after {
                content: " ";
                height: 100%;
                width: 100%;
                display: block;
                position: absolute;
                top: 0;
                backdrop-filter: brightness(0.5);
            }
        {% endif %}
    </style>
{% end_require_css %}

{% endif %}
  <!-- The header content -->
<div class="container-xxl g-0 h-100 
{% if module.include_form %}hero-form{% else %}heading-location-{{module.style.heading_location}}{% endif %}">
    {% if module.show_breadcrumbs %}
        <div class="row">
        <div class="col-12 text-end pt-5 position-absolute top-0 end-0 text-white shadow-filter">
            {% set breadcrumbsMenu = module.menu %}
            {% from '/q-theme/assets/macros.html' import breadcrumbs %}
            {{ breadcrumbs(breadcrumbsMenu, "", true) }}
        </div>
        </div>
    {% endif %}
    {% if module.include_form %}
        <div class="row h-100 justify-content-center gx-0 mx-0">
            <div class="col-md-12 col-lg-11 col-xl-10 mb-n7">
                <div class="row bg-white gx-5 mx-3 shadow">
                    <div class="col-12 p-0">
                        <div class="bg-gradient-primary" style="width: 100%; height: 12px;"></div>
                    </div>
                    <div class="col-12 col-md-6 p-4 p-md-5">
                        {% if module.pre_header %}<h5 class="fw-bold text-white shadow-filter ms-4">{{module.pre_header}}</h5> {% endif %}
                        {% if module.header != "" && module.header %}
                            {% if module.header_level == "h2" %}
                                <h2 class="text-decoration-partial-underline">{{module.header}}</h2>
                            {% else %}
                            <h1 class="h2 text-decoration-partial-underline">{{module.header}}</h1>
                            {% endif %}
                        {% endif %}
                        {% if module.copy %}
                            {{module.copy }}
                        {% endif %}
                        {% if module.cta|length > 0 %}
                            <div class="mt-4">
                                {%for cta in module.cta %}
                                    <a href="{{cta.cta_link.url.href}}" {% if cta.cta_link.open_in_new_tab %}target="_blank"{% endif %} class="btn mb-1 {{cta.size}} btn{{ cta.style }}{{cta.colour}}">{{cta.cta_label}}
                                    </a>
                                {%endfor%}
                            </div>
                        {%endif%}
                    </div>
                    <div class="col-12 col-md-6 p-4 p-md-5">
                    <div id="form-{{name}}"></div>
                                                
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                        <script>

                            hbspt.forms.create({
                            portalId: "{{hub_id}}",
                            formId: "{{module.form_settings.form.form_id}}",
                            target: "#form-{{name}}",
                                {% if module.form_settings.form.response_type == "redirect" %}
                                {% if module.form_settings.form.redirect_url != "" && module.form_settings.form.redirect_url %}
                                redirectUrl: "{{module.form_settings.form.redirect_url}}",
                                {% else %}
                                redirectUrl: "{{ content_by_id(module.form_settings.form.redirect_id).absolute_url }}",
                                {% endif %}
                                {% else %}
                                    {% if module.form_settings.form.response_type == "inline" %}
                                        inlineMessage: "{{module.form_settings.form.message|escapejs}}",
                                    {% endif %}
                                {% endif %}
                            {% if module.form_settings.button_text %}
                            submitText: "{{module.form_settings.button_text}}",
                            {% endif %}
                            submitButtonClass: "btn mt-4 btn-{{module.form_settings.button_colour}}",
                            cssClass: 'hs-form'
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="row h-100 justify-content-end flex-column">
        <div class="col-12 py-5">
        {% if module.pre_header %}<h5 class="fw-bold text-white shadow-filter ms-4">{{module.pre_header}}</h5> {% endif %}
        {% if module.header != "" && module.header %}
            {% if module.header_level == "h2" %}
                <h2 class="heading-bg-gradient bg-gradient-primary text-white h1">{{module.header}}</h2>
            {% else %}
            <h1 class="heading-bg-gradient bg-gradient-primary text-white">{{module.header}}</h1>
            {% endif %}
        {% endif %}
        </div>
        {%if module.cta|length > 0%}
        <div class="col-12 pb-5">
            <div class="ms-4 ms-xxl-0">
                {%for cta in module.cta %}
                    <!-- run macro with link, label, style, colour? -->

                    <a href="{{cta.cta_link.url.href}}" {% if cta.cta_link.open_in_new_tab %}target="_blank"{% endif %} class="btn mb-1 {{cta.size}} btn{{ cta.style }}{{cta.colour}}">{{cta.cta_label}}
                    </a>
                {%endfor%}
            </div>
        </div>
        {%endif%}
        {% if module.show_share_price %}
            <div class="text-white">
            <hr class="opacity-100">
            </div>
        <div class="col-12 pb-5 text-white text-end">
        
            {% set foundRow = [] %}
            {% for row in hubdb_table_rows(module.stock_db, queryparam) %}
                {% if row.price|string != "0" and foundRow == [] %}
                    {% do foundRow.append(row.hs_id) %}
                {% endif %}
            {% endfor %}

            {% set stockRow = hubdb_table_row(module.stock_db, foundRow[0]) %}


            <p>Stock price: A${{stockRow.price}} {{stockRow.change|format}} ({{stockRow.change_percent}}%)</p>
        </div>
        {%endif%}
        {%if module.page_contents|length > 0%}
        <div class="col-10 col-sm-8 col-md-6 col-lg-4 position-relative section-shadow mb-n4 z-3">
            <div class="page-contents bg-white p-3 arrow-down text-white">
                <div class="list-group list-group-flush" id="pageContents">
                    {% for contents in module.page_contents %}
                        <a href="{{contents.anchor}}" class="fw-semibold list-group-item list-group-item-action {{"active" if loop.first}}">{{contents.content_label}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

</section>

{%if module.show_share_price%}
    <script>

    </script>
{%endif%}