<!--
    templateType: none
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-rqn26AG5Pj86AF4SO72RK5fyefcQ/x32DNQfChxWvbXIyXFePlEktwD18fEz+kQU" crossorigin="anonymous">
    {{ standard_header_includes }}
  </head>
  <body>
    
    {% block header %}
    {% module "module_global_menu_top_au" path='/ySafe22/ySafe Theme/modules/global/top-navigation-global', label="Navigation", no_wrapper=True %}
    {% endblock header %}

    {% block body %}
    {% endblock body %}
    
    {% global_partial path="/ySafe22/ySafe Theme/templates/partials/contact-modal.html" %}
    
    {% block footer %}
    {% global_partial path='/ySafe22/ySafe Theme/templates/partials/footer-2.html', label="Footer" %}
    {% endblock footer %}

    {{ standard_footer_includes }}
  </body>
</html>