<!--
  templateType: page
  isAvailableForNewContent: false
  label: Linewize ANZ Our new look
  screenshotPath: ../../images/template-previews/landing-page.png
-->
{% extends "../layouts/base.html" %}

{% block body %}
    {% dnd_area "dnd_area"
    label="Body"
    class="main p-0 overflow-hidden"
    %}

    {% dnd_section
    full_width=true
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="/q-theme/modules/hero",
          offset=0,
          width=12,
          cta=[ ],
          header="Our new look",
          hero_type="full-image",
          image={
            "alt" : "US-Linewize-Banners-our new look",
            "height" : 1280,
            "loading" : "disabled",
            "max_height" : 1280,
            "max_width" : 1920,
            "size_type" : "auto_custom_max",
            "src" : "https://www.linewize.com/hubfs/US%20-%20Header%20Banners/US-Linewize-Banners-our%20new%20look.jpg",
            "width" : 1920
          },
          menu=144245053496,
          page_contents=[ {
            "anchor" : "#welcometoournewlook",
            "content_label" : "Welcome to our new look"
          }, {
            "anchor" : "#thebenefitsofchange",
            "content_label" : "The benefits of change"
          }, {
            "anchor" : "#letsconnect",
            "content_label" : "Let's connect"
          } ],
          pre_header="About us:",
          show_breadcrumbs=true,
          show_share_price="false",
          style={
            "heading_location" : "bottom-left"
          },
          video=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "40px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=1,
    width=10
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="welcometoournewlook"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h1",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          Welcome to our<strong> new look</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p style="text-align: center;" class="lead">You may notice we look a bit different these days. It's more than a just fresh lick of paint however. It's a strategic shift that supports our mission and benefits every school and district we work with. Read on...</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=11,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section
  padding={
    "default" : {
      "bottom" : "32px",
      "left" : "16px",
      "right" : "16px"
    },
    "mobile" : {
      "bottom" : "16px"
    }
  },
  margin={
    "default" : {
      "top" : "-32px"
    },
    "mobile" : {
      "top" : "-16px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=6
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/linked_image",
        offset=0,
        width=12,
        horizontal_alignment="CENTER",
        img={
          "alt" : "kids_bw_cropped",
          "height" : 450,
          "loading" : "lazy",
          "max_height" : 450,
          "max_width" : 640,
          "size_type" : "auto",
          "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/kids_bw_cropped.png",
          "width" : 640
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=6
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/linked_image",
        offset=0,
        width=12,
        horizontal_alignment="CENTER",
        img={
          "alt" : "Linewize_by_Qoria_Splash",
          "height" : 451,
          "max_height" : 451,
          "max_width" : 642,
          "size_type" : "auto",
          "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/Linewize_by_Qoria_Splash.png",
          "width" : 642
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "32px"
    },
    "mobile" : {
      "bottom" : "16px",
      "top" : "16px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="thebenefitsofchange"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h1",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 60
              },
              "top" : { }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          <p>The benefits of <strong>change</strong></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p style="text-align: center;" class="lead">Our new look and feel is being adopted by every business in our global Qoria family. It's a singular identity that helps us convey to our customers the vast capabilities and world-leading expertise now at their disposal. There are other benefits too ...</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/rich-text",
        offset=0,
        width=12,
        row=[ {
          "advanced" : { },
          "column" : [ {
            "advanced" : {
              "additional_classes" : "col-12 col-md"
            },
            "responsive" : {
              "desktop" : {
                "columns" : 1
              },
              "mobile" : {
                "columns" : 1
              },
              "tablet" : {
                "columns" : 1
              }
            },
            "text" : "<ul>\n<li><strong>Expanded portfolio of solutions:</strong> Our global solutions have combined to give school districts the most comprehensive portfolio of solutions in the world. They empower not only technical directors and IT teams but teachers, student support staff, families and children themselves.<br><br></li>\n<li><strong>Efficiencies of scale:</strong> We're leveraging global efficiencies where we can, and investing them right back into innovation, game changing solutions and affordability for every school and district.</li>\n</ul>"
          }, {
            "advanced" : {
              "additional_classes" : "col-12 col-md"
            },
            "responsive" : {
              "desktop" : {
                "columns" : 1
              },
              "mobile" : {
                "columns" : 1
              },
              "tablet" : {
                "columns" : 1
              }
            },
            "text" : "<ul>\n<li><strong>Challenging for change: </strong>A single look and feel globally gives us a stronger presence and a louder voice to campaign for change amongst policy makers, governments, social media platforms and other stakeholders.<br><br></li>\n<li><strong>Raising standards:</strong> It helps us raise awareness of the multi-dimensional nature of child cyber safety technology, and to increase understanding and drive standards across our industry.&nbsp;</li>\n</ul>"
          } ]
        } ],
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : {
                "units" : "px",
                "value" : 23
              }
            },
            "padding" : {
              "bottom" : {
                "units" : "px"
              },
              "left" : { },
              "right" : { },
              "top" : { }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "left" : "16px",
      "right" : "16px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/cursive-heading",
        offset=0,
        width=12,
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            },
            "padding" : {
              "bottom" : {
                "units" : "px"
              },
              "left" : {
                "units" : "px",
                "value" : 0
              },
              "right" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px"
              }
            }
          }
        }
      %}
        {% module_attribute "heading" %}
          <div style="text-align: center;">setting new standards for children - everywhere</div>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section
  padding={
    "default" : {
      "bottom" : "32px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "16px",
      "top" : "32px"
    }
  },
  margin={
    "mobile" : {
      "top" : "-16px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=1,
    width=5,
    background_linear_gradient={
      "colors" : [ "rgba(224, 224, 224, 1)", "rgba(235, 235, 235, 1)" ],
      "direction" : "to right"
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/linked_image",
        offset=0,
        width=12,
        horizontal_alignment="CENTER",
        img={
          "alt" : "our-new-look-banner-video_01",
          "height" : 450,
          "max_height" : 450,
          "max_width" : 640,
          "size_type" : "auto",
          "src" : "https://www.linewize.com/hubfs/our-new-look-banner-video_01.jpg",
          "width" : 640
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=5,
    background_color="rgba(235, 235, 235, 1)",
    padding={
      "default" : {
        "right" : "64px"
      },
      "mobile" : {
        "right" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/video",
        offset=0,
        width=12,
        custom_thumbnail={
          "alt" : "US-Linewize-Banners-communities",
          "height" : 1280,
          "loading" : "lazy",
          "max_height" : 1280,
          "max_width" : 1920,
          "size_type" : "auto",
          "src" : "https://www.linewize.com/hubfs/US-Linewize-Banners-communities.jpg",
          "width" : 1920
        },
        style={
          "rounded_corners" : false
        },
        video_file="https://www.linewize.com/hubfs/Videos/Linewize-by-Qoria-Brandfilm%20-%20US.mp4"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=11,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}


{% dnd_section 
max_width=1280 %}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="letsconnect"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}




    {% end_dnd_area %}
{% global_partial path="../partials/lets-connect.html" %}
{% endblock body %}

{% block footer %}
    {% global_partial path="../partials/footer.html" %}
{% endblock footer %}
