<!--
  templateType: page
  isAvailableForNewContent: true
  label:  Smoothwall LP - Transparent
  screenshotPath: ../../images/template-previews/landing-page.png
-->
{% extends "./layouts/blank.html" %}

{% block header %}
  <div class="header-wrapper sticky-top shadow-sm">
    {% global_partial path='./partials/header-transparent.html', label="Header" %}
  </div>
{% endblock header %}

{% block body %}
{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-hidden"
%}



{% end_dnd_area %}
{% endblock body %}

