	{% set defaultQueryParam = "&orderBy=-hs_id" %}
  {% set queryParamFilter = defaultQueryParam %}
	{% set queryparamAllStates = "" %}
  {% set productFilter = "" %}
  {% set audienceFilter = "" %}
  {% set regionFilter = "" %}
  {% set themeFilter = "" %}

{% if request.query_dict.product %}
    {% set productFilter = queryParamFilter ~ "&product=" ~ request.query_dict.product|urlencode %}
{% endif %}

{% if request.query_dict.audience %}
    {% set audienceFilter = queryParamFilter ~ "&audience__in=" ~ request.query_dict.audience|urlencode %}
{% endif %}

{% if request.query_dict.region %}
    {% set regionFilter = queryParamFilter ~ "&region=" ~ request.query_dict.region|urlencode %}
{% endif %}

{% if request.query_dict.theme %}
    {% set themeFilter = queryParamFilter ~ "&theme__in=" ~ request.query_dict.theme|urlencode %}
{% endif %}

{% if request.query_dict.format %}
    {% set formatFilter = queryParamFilter ~ "&format=" ~ request.query_dict.format|urlencode %}
{% endif %}

{% if request.query_dict.v %}
    {% set video = request.query_dict.v %}
    
    <script>
      
      
      document.addEventListener("DOMContentLoaded", () => {
        preClick();
      });
      
      function preClick(){
        let e = window.event;
         $('a#{{video}}').click();
      }
</script>
{% endif %}



{% set productFilter = "&orderBy=priority&orderBy=product" %}
{% if request.query_dict.product %}
  {% if request.query_dict.product == "show-all" %}
    {% set productFilter = productFilter %}
  {% else %}
    {% set productFilter = productFilter ~ "&product="~request.query_dict.product|urlencode %}
  {% endif %}
{% endif %}
{% set themeFilter = "" %}
{% if request.query_dict.theme %}
  {% if request.query_dict.theme == "show-all" %}
      {% set themeFilter = themeFilter %}
  {% else %}
      {% set themeFilter = themeFilter ~ "&theme__in="~request.query_dict.theme|urlencode %}
  {% endif %}
{% endif %}
{% set audienceFilter = "" %}
{% if request.query_dict.audience %}
  {% if request.query_dict.audience == "show-all" %}
      {% set audienceFilter = audienceFilter %}
  {% else %}
      {% set audienceFilter = audienceFilter ~ "&audience__in="~request.query_dict.audience|urlencode %}
  {% endif %}
{% endif %}
{% set regionFilter = "" %}
{% if request.query_dict.region %}
  {% if request.query_dict.region == "show-all" %}
      {% set regionFilter = regionFilter %}
  {% else %}
      {% set regionFilter = regionFilter ~ "&region__in="~request.query_dict.region|urlencode %}
  {% endif %}
{% endif %}
{% set formatFilter = "" %}
{% if request.query_dict.format %}
  {% if request.query_dict.format == "show-all" %}
      {% set formatFilter = formatFilter %}
  {% else %}
      {% set formatFilter = formatFilter ~ "&format="~request.query_dict.format|urlencode %}
  {% endif %}
{% endif %}



{% set badgeClasses = "" %}

{% if dynamic_page_hubdb_row %}   
<script>
function historyBackWFallback(fallbackUrl) {
 // console.log("click");
  if (document.referrer.includes("/success-webinars")) {
 // console.log("came from webinar page");
  window.history.back();
} else {
//  console.log("came from somewhere else");
    window.location.href = fallbackUrl;
}
};
</script>



    <button id="backButton" class="btn btn-sm btn-link btn-dark text-dark p-0" onclick="historyBackWFallback('{{ request.scheme }}://{{ request.domain }}/{{ content.slug }}')"><i class="far fa-xs fa-chevron-left me-2"></i>Back to lessons</button>
    <h2 class="mt-4">
      Lesson Details
    </h2>
    <div class="d-block py-4">
      {% if dynamic_page_hubdb_row.product %}
        {% for product in dynamic_page_hubdb_row.product %}
          <span class="badge  text-bg-primary {{badgeClasses}}"><i class="fal fa-tools fa-sm me-1"></i> {{ product.name }}</span>
        {% endfor %}
      {% endif %}
      
      {% if dynamic_page_hubdb_row.region %}
        {% for region in dynamic_page_hubdb_row.region %}
          <span class="badge text-bg-secondary {{badgeClasses}}"><i class="fal fa-location fa-sm me-1"></i> {{ region.name }}</span>
        {% endfor %}
      {% endif %}
      
      {% if dynamic_page_hubdb_row.duration %}
          <span class="badge text-bg-red {{badgeClasses}}"><i class="fal fa-stopwatch me-1 fa-sm"></i> {{ dynamic_page_hubdb_row.duration }}</span>
      {% endif %}
          
    </div>
      {{ dynamic_page_hubdb_row.description }}
    {% if dynamic_page_hubdb_row.resources %}
      <h5>
        Supporting Resources
      </h5>
    <ul class="fa-ul ">
      {% for resource in dynamic_page_hubdb_row.resources %}
      <li class="pb-2"><a href="{{ resource.url }}"><span class="fa-li"><i class="far fa-arrow-to-bottom"></i></span><u>{{ resource.name }}</u></a></li> 
      {% endfor %}
    </ul>
    {% endif %}
    

    
    <div class="row">
      <div class="col-12 col-md-9">
        <div  id="videoContainer">
          {% video_player "embed_player" player_id="{{dynamic_page_hubdb_row.video}}", play_button_color="#58b78e" %}
        </div>
        <div class="row pt-4">
          <div class="col-12 col-md-6 d-flex flex-column">
            {% if dynamic_page_hubdb_row.previous %}
              <p class="fw-bold">
                Previous Lesson
              </p>
              {% for previous in dynamic_page_hubdb_row.previous %}
                  <div class="bg-white rounded-lg shadow p-3 d-flex align-items-center position-relative flex-grow-1">
                    <div class="pe-3">
                      <i class="fa-2xl fas fa-play-circle text-primary"></i>
                    </div>
                    <div>
                      <p class="small fw-bold mb-0">
                      <a href="/{{ content.slug }}/{{ previous.hs_path }}" class="stretched-link text-reset">{{previous.name}}</a></p>
                      <p class="small mb-0">
                        {{ previous.description|striptags|truncate(80, False) }}
                      </p>
                    </div>
                  </div>
                </a>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-12 col-md-6 d-flex flex-column">
            {% if dynamic_page_hubdb_row.next %}
              <p class="fw-bold">
                Next Lesson
              </p>
              {% for next in dynamic_page_hubdb_row.next %}
                  <div class="bg-white rounded-lg shadow p-3 d-flex align-items-center position-relative flex-grow-1">
                    <div class="pe-3">
                      <i class="fa-2xl fas fa-play-circle text-primary"></i>
                    </div>
                    <div>
                      <p class="small fw-bold mb-0">
                        <a href="/{{ content.slug }}/{{ next.hs_path }}" class="stretched-link text-reset">
                        {{next.name}}
                        </a>
                      </p>
                      <p class="small mb-0">
                        {{ next.description|striptags|truncate(80, False) }}
                      </p>
                    </div>
                  </div>
                </a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="row py-4">
          <div class="col-12">           
            <button id="backButton" class="btn btn-sm btn-link btn-dark text-dark p-0" onclick="historyBackWFallback('{{ request.scheme }}://{{ request.domain }}/{{ content.slug }}')"><i class="far fa-xs fa-chevron-left me-2"></i>Back to lessons</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div id="queryFormContainer" class="bg-white rounded-lg shadow p-3">

        </div>
        <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          function showConfirmation() {
            var alert = '<div class="alert alert-success fade show position-absolute" role="alert" id="confirmationAlert">{{ module.query_form.message }}</div>';
            //  console.log('start confirmation');
            $("#alertContainer").html(alert);
            setTimeout(function(){
              $("#alertContainer #confirmationAlert").alert('close');
              //   console.log('close confirmation');
            }, 5000);
            //   console.log('end confirmation');
          }

          function replaceForm(){
          //  console.log("replace form");
            hbspt.forms.create({
              portalId: "{{ hub_id }}",
              formId: "{{ module.query_form.form_id }}",
              cssClass: "form-compact",
              target: "#queryFormContainer",
              onFormSubmitted: function($form) {
              replaceForm();
              showConfirmation();
            }
                               });

          }

          hbspt.forms.create({
            portalId: "{{ hub_id }}",
            formId: "{{ module.query_form.form_id }}",
            cssClass: "form-compact",
            target: "#queryFormContainer", 
            onFormSubmitted: function($form) {
            replaceForm();
            showConfirmation();
          }
                             });
        </script>
      </div>
    </div>
    


{% elif dynamic_page_hubdb_table_id %}
    
    {% set events = hubdb_table_rows(dynamic_page_hubdb_table_id, productFilter + audienceFilter + regionFilter + themeFilter + formatFilter) %}
    <div class="row pb-5">
      <div class="col-12">
        {% set allCategories = [] %}
        
            <form id="webinarFilter" method="get" class="row">
                  <div class="col-12 col-sm-6 col-lg-3 mb-1">
                    <select class="form-control" name="product" form="webinarFilter" onChange="this.form.submit()">
                        <option value="show-all">Filter by product</option>
                        <option value="show-all">Show All</option>
                        {% set products = hubdb_table_column(dynamic_page_hubdb_table_id, "product").options %}
                        {% for choice in products %}
                            {% if choice.name == request.query_dict.product %}
                                <option selected="selected" value="{{ choice.name }}">{{ choice.name }}</option>
                            {% else %}
                                <option value="{{ choice.name }}">{{ choice.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3 mb-1">
                    <select class="form-control" name="audience" form="webinarFilter" onChange="this.form.submit()">
                        <option value="show-all">Filter by audience</option>
                        <option value="show-all">Show All</option>
                        {% set audience = hubdb_table_column(dynamic_page_hubdb_table_id, "audience").options %}
                        {% for choice in audience %}
                            {% if choice.name == request.query_dict.audience%}
                                <option selected="selected" value="{{ choice.name }}">{{ choice.name }}</option>
                            {% else %}
                                <option value="{{ choice.name }}">{{ choice.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
            </form>
      </div>
    </div>
    {% if events == [] %}
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 style="padding-top: 30px;">No webinars match your filters.</h2>
      </div>
    </div>
    {% else %}
    
		<div class="row">
			<div class="col-12">
        <div class="row card-group section_body webinars_filtered">
				  {% for row in events %}
            {% if row.custom_link && row.custom_link != "" %}
              {% set cardLink = row.custom_link %}
              {% set cardTarget = 'target="_blank"' %}
              {% set externalLink = '<sup class="fa fa-external-link" style="font-size: .6em;" aria-hidden="true"></sup>' %}
            {% else %}
              {% set cardLink = request.path ~ "/" ~ row.hs_path %}
              {% set cardTarget = '' %}
              {% set externalLink = '' %}
            {% endif %}
            <div class="{{ module.cards_appearance_settings.column_classes }}">
                <div class="card h-100 shadow">
                  <img src="{{ row.thumbnail.url }}" class="card-img-top" alt="{{ row.name }}">
                  <div class="card-body">
                    <div>
                      <h5 class="card-title">{{ row.name }}</h5>
                      {% if row.description %}
                      <p class="card-text text-dark">{{ row.description|striptags|truncate(200, False) }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-footer text-end d-flex bg-transparent align-items-center">
                    
                    {% if row.duration %}
                        <span class="me-auto badge text-bg-blue "><i class="fal fa-stopwatch me-1 fa-sm"></i> {{ row.duration }}</span>
                    {% endif %}
                    
                    <a id="{{row.hs_path}}" class="ms-auto stretched-link" href="{{request.path}}/{{row.hs_path}}">
                      Watch video
                    </a>
                  </div>
                </div>
            </div>
          {% endfor %}
        </div>
          
      </div>
    </div>
  {% endif %}


{% endif %}
