<section class="{{" section-shadow" if module.style.shadow }}" style="transform-style: preserve-3d; {{"position: relative; z-index: 2;margin-bottom: -24px; transform: translateY(-24px);" if module.style.overlay }} {{module.style.spacing_field.css}}">
    <div class="container-fluid g-0 {{ module.style.background_colour if module.style.background_colour != "none" }}">
        {% for row in module.row %}
            <div class="row g-0 {{row.advanced.additional_classes}}">
                {% for col in row.column %}
                    {% if col.link.url.href == content.absolute_url %}
                        {% set bgTransparency = "--q-bg-opacity: 0.25;" %}
                        {% set bgClass = "bg-white" %}
                    {% else %}
                        {% set bgTransparency = "" %}
                        {% set bgClass = col.column_styles.background_colour %}
                    {% endif %}
                    <div style="{{bgTransparency}}" class="col {{ "position-relative" if col.link_stretched }} {{ bgClass }} {{ " bg-q-tail-1" if col.column_styles.background_image == "q-tail-1" }}">
                        <div class="content-container {{ col.advanced.additional_classes }}">
                        {{"<h5><strong>{{ col.pre_heading }}</strong></h5>" if col.pre_heading }}
                        {{"<h3>{{ col.heading }}</h3>" if col.heading }}
                        {{'<span class="{{col.statistic_font_size}}">{{ col.statistic }}</span>' if col.statistic }}
                        {{ col.text }}
                        {% if (col.link.url.href) && (col.link_label) %}
                            <a href="{{ col.link.url.href }}" class="text-reset text-decoration-none fw-semibold {{ "stretched-link" if col.link_stretched }}">{{ col.link_label }}</a>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>