<!--
templateType: global_partial
label: Qoria Podcast Promo
description: "Podcast Promo section"
screenshotPath: ../images/section-previews/screenshot_Footer.png
-->

{% dnd_area "dnd_podcast_promo"
label="Podcast Promo"
class="main p-0 overflow-hidden"
%}

    {% dnd_section
    background_color="rgba(81, 91, 165, 0.05)",
    padding={
    "default" : {
        "bottom" : "64px",
        "left" : "16px",
        "right" : "16px",
        "top" : "64px"
    },
    "mobile" : {
        "bottom" : "32px",
        "top" : "32px"
    }
    },
    max_width=1280
    %}
    {% dnd_column
    offset=0,
    width=1
    %}
    {% dnd_row %}
        {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12
        %}
        {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
    offset=1,
    width=6,
    padding={
        "default" : {
        "right" : "32px"
        },
        "mobile" : {
        "bottom" : "32px",
        "right" : "0px"
        }
    }
    %}
    {% dnd_row %}
        {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h1",
        style={
            "heading_underline" : false
        }
        %}
        {% module_attribute "heading" %}
            <p>Easy to listen,<br><strong>anytime, anywhere.</strong></p>
        {% end_module_attribute %}
        {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
        {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
        %}
        {% module_attribute "html" %}
            <p class="lead">How is your school tackling student digital safety and wellbeing in today’s world? Spotlight on Student Digital Safety brings you real stories, strategies, and lessons learned directly from the schools leading the way.</p>
            <p class="lead">In each episode, Qoria’s Yasmin London sits down with school and district leaders, IT professionals, safeguarding staff or others to share firsthand experiences of what’s working, what’s not, and how they’re keeping their students safe and thriving online.</p>
            <p class="lead" style="font-weight: bold;">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            <p class="lead" style="font-weight: bold;"><a href="https://youtube.com" rel="noopener"><img src="https://qoria.com/hubfs/Qoria/Corporate/images/podcast/YouTube.png" width="50" height="50" loading="lazy" alt="YouTube" style="height: auto; max-width: 100%; width: 50px; margin: 10px 40px 0px 0px;"></a><a href="https://spotify.com" rel="noopener"><img src="https://qoria.com/hubfs/Qoria/Corporate/images/podcast/Spotify.png" width="50" height="50" loading="lazy" alt="Spotify" style="height: auto; max-width: 100%; width: 50px; margin: 10px 40px 0px 0px;"></a><a href="https://audible.com" rel="noopener"><img src="https://qoria.com/hubfs/Qoria/Corporate/images/podcast/Audible.png" width="50" height="50" loading="lazy" alt="Audible" style="height: auto; max-width: 100%; width: 50px; margin: 10px 0px 0px;"></a></p>
        {% end_module_attribute %}
        {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
    offset=7,
    width=4,
    padding={
        "default" : {
        "left" : "32px"
        }
    }
    %}
    {% dnd_row %}
        {% dnd_module
        path="@hubspot/linked_image",
        offset=0,
        width=12,
        horizontal_alignment="CENTER",
        img={
            "alt" : "podcast_graphic_2",
            "height" : 1067,
            "loading" : "lazy",
            "max_height" : 1067,
            "max_width" : 1067,
            "size_type" : "auto",
            "src" : "https://www.qoria.com/hubfs/Qoria/Corporate/images/podcast/podcast_graphic_2.png",
            "width" : 1067
        }
        %}
        {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
    offset=11,
    width=1
    %}
    {% dnd_row %}
        {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12
        %}
        {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}
    {% end_dnd_section %}
{% end_dnd_area %}




