  {%if module.style.sizing == "relative" %}
   {% set globalSizing = module.style.relative_icon_size %}
 {% elif module.style.sizing == "absolute" %}
   {% set globalSizing = module.style.absolute_icon_size %}
 {% endif %}
 
{% require_css %}
  <style>
  {% scope_css %}
    
.icon-and-text.active {
    background: #FFF;
}

  {% end_scope_css %}
  </style>
{% end_require_css %}

<div class="d-flex {{ "flex-column" if module.style.icon_arrangement == "inline" else "row gx-0" }} {% if module.style.icon_arrangement == "stacked" %}row-cols-{{module.style.responsive.mobile.cards}} row-cols-md-{{module.style.responsive.tablet.cards}} row-cols-lg-{{module.style.responsive.desktop.cards}} justify-content-center{% endif %} {{ "nav" if module.style.use_as_nav }}">
{% for item in module.icon_and_text %}
  {% if item.icon.icon_colour != "inherit" %}
    {% set iconColour = item.icon.icon_colour %}
  {% else %}
    {% set iconColour = module.style.icon_colour %}
  {% endif %}
  <div class="d-flex icon-and-text {{ module.style.icon_alignment }} {{ "flex-column col" if module.style.icon_arrangement == "stacked" }} {{ " active" if loop.first && item.additional_code is string_containing "data-bs-target" }}" style="{{ module.style.spacing_field.css }}" id="{{name}}-icon-{{ loop.index }}" {{item.additional_code}}>
      <div class="{% if item.icon.icon_shape != "icon-only" %}ratio ratio-1x1 {{ item.icon.icon_shape }} bg-{{iconColour}} text-dark {% endif %} flex-shrink-0" {% if item.icon.icon_shape != "icon-only" %}style="max-width: {{ item.icon.max_width }}px; max-height: {{ item.icon.max_width }}px;"{%endif%}>
        {% if item.icon.custom_image.src %}
          {% set sizeAttrs = 'width="{{ item.icon.custom_image.width }}" height="{{ item.icon.custom_image.height }}"' %}
          {% if item.icon.custom_image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ item.icon.custom_image.width }}" height="{{ item.icon.custom_image.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.icon.custom_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.icon.custom_image.max_width }}" height="{{ item.icon.custom_image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.icon.custom_image.loading != 'disabled' ? 'loading="{{ item.icon.custom_image.loading }}"' : '' %}
          <img src="{{ item.icon.custom_image.src }}" alt="{{ item.icon.custom_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% else %}
          <div style="content-sizing: border-box;" class="d-flex justify-content-center align-items-center">
            {% if item.icon.icon_code != "none" %}
              {% if item.icon.icon_code %}
                {% set iconCode = "fa-" ~ item.icon.icon_code %}
              {% else %}
                {% set iconCode = "fa-" ~ item.icon.icon_field.name|lower|replace(" ", "-") %}
              {% endif %}
              {% if item.icon.sizing == "inherit" %}
                {% set sizing = globalSizing %}
              {%elif item.icon.sizing == "relative" %}
                {% set sizing = item.icon.relative_icon_size %}
              {% elif item.icon.sizing == "absolute" %}
                {% set sizing = item.icon.absolute_icon_size %}
              {% endif %}
                <i class="{{ 'text-{{iconColour}} fa-fw' if item.icon.icon_shape == "icon-only" }} {{ item.icon.icon_style }} {{ sizing }} {{ iconCode }}"></i>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% if item.text != "" %}
    <div class="px-3 {{ "pt-3" if module.style.icon_arrangement == "stacked" }}">
      {{ item.text }}
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>