<!--
  templateType: page
  isAvailableForNewContent: true
  label: Smoothwall Raising the bar
  screenshotPath: ../../images/template-previews/landing-page.png
-->
{% extends "../layouts/base.html" %}


{% block body %}
{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-hidden"
%}



{% dnd_section
  full_width=false
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/hero",
        offset=0,
        width=12,
        cta=[ ],
        header="How to create digitally safe and smart communities where students thrive",
        hero_type="full-image",
        image={
          "alt" : "NZ - iStock-911029160-BNW",
          "height" : 2576,
          "loading" : "disabled",
          "max_height" : 1333.3333333333333,
          "max_width" : 2000,
          "size_type" : "auto_custom_max",
          "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/NZ%20-%20iStock-911029160-BNW.jpg",
          "width" : 3864
        },
        menu="115248177746",
        page_contents=[ ],
        pre_header="",
        show_breadcrumbs=true,
        show_share_price=false,
        style={
          "heading_location" : "bottom-left"
        },
        video=""
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}




{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=8
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="intro"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <h2><span>A <span style="font-weight: bold;">changing world</span> for students</span></h2>
          <p>&nbsp;</p>
          <p class="lead">The internet is an incredible resource that enables students to learn, connect and be creative in so many life-enhancing ways.</p>
          <p>The digital landscape is changing rapidly, however. Students’ negative online behaviours, the volume of unsafe content and the rise in student-owned devices have accelerated dramatically since the pandemic meaning children need greater protection and support if they are to navigate their digital lives in a safe and self-directed manner.</p>
          <p>Your school may have already experienced this shift and be considering how best to respond.</p>
          <p>Free government provision is important but doesn’t give schools or their students the level of support needed to address today’s challenges. <span style="font-weight: bold;">It’s time to raise the bar.</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=8,
    width=4
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <h2>Out of 41 EU and OECD countries, <span style="font-weight: bold; color: #58b78e;">New Zealand ranks 35th</span> in child wellbeing outcomes.</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}




{% dnd_section
  background_color="rgba(255, 255, 255, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "24px",
      "left" : "16px",
      "right" : "16px",
      "top" : "24px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/video",
            offset=0,
            width=12,
            custom_thumbnail={
              "alt" : "iStock-1346503979 RT",
              "height" : 1288,
              "loading" : "lazy",
              "max_height" : 266,
              "max_width" : 399,
              "size_type" : "auto_custom_max",
              "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/iStock-1346503979%20RT.jpg",
              "width" : 1932
            },
            style={
              "rounded_corners" : false
            },
            video_file="https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/Video%20Content/Linewize%20NZ_School%20Reel%20on%20Raising%20the%20bar_2023.mp4"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6,
        padding={
          "default" : {
            "left" : "38px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/heading",
            offset=0,
            width=12,
            heading_tag="h2",
            heading_underline="true",
            style={
              "heading_underline" : true,
              "spacing_field" : {
                "margin" : {
                  "bottom" : { },
                  "top" : { }
                }
              },
              "textalignment" : "start"
            }
          %}
            {% module_attribute "heading" %}
              A<strong> whole school</strong> community approach
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p class="lead" style="text-align: left;">Educators recognise that when they share the responsibility for child digital wellbeing the results can be transformative. A whole-school approach increases and strengthens provision by helping to close the gaps that children fall through. It also reduces the pressures and limitations caused by disproportionate workloads on single individuals, such as IT teams and pastoral staff.</p>
              <p class="lead" style="text-align: left;">Hear from other New Zealand schools about how they have raised their bar in digital wellbeing.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/modal-window",
        offset=0,
        width=12,
        heading="",
        modal_id="newsletterSignup"
      %}
        {% module_attribute "modal_body" %}
          <script type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js" charset="utf-8"></script><script>
          hbspt.forms.create({
          region: "na1",
          portalId: "7977292",
          formId: "cc40c776-7a7f-4644-ae34-4f8d7564ec66",
          cssClass: "hs-form",
          submitButtonClass: "btn btn-primary d-block ms-auto"
          });
          </script>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/rich-text",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}





{% dnd_section
  background_color="rgba(255, 255, 255, 1)",
  padding={
    "default" : {
      "left" : "16px",
      "right" : "16px"
    }
  },
  margin={
    "default" : {
      "bottom" : "-40px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/pullout",
        offset=0,
        width=12,
        row=[ {
          "advanced" : {
            "additional_classes" : "p-3 py-md-5 px-md-6"
          },
          "column" : [ {
            "column_styles" : {
              "background_colour" : "none",
              "background_image" : ""
            },
            "expert_use" : { },
            "pre_heading" : "Young lives helped",
            "statistic" : "",
            "statistic_font_size" : "display-1",
            "text" : '<p>"The tools we have been able to use have led us to become more proactive. We have been able to see when something becomes a chronic issue or something that isn’t what we could consider to be normal behaviour for a young person. That’s helped pastorally because then we can communicate with the Dean and contact the family and identify what’s happening and have a pastoral conversation"<br><br><strong>Rachel Mortimer - Assistant Principal, Kavanagh College - New Zealand</strong></p>'
          } ],
          "expert_use" : { }
        } ],
        style={
          "background_colour" : "bg-gradient-primary text-white",
          "background_image" : "q-tail-1",
          "overlay" : false,
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            },
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "left" : {
                "units" : "px",
                "value" : 0
              },
              "right" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px",
                "value" : 0
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}





{% dnd_section
  background_color="rgba(244, 244, 244, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "100px"
    },
    "mobile" : {
      "bottom" : "24px",
      "left" : "16px",
      "right" : "16px",
      "top" : "24px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=1,
    width=10
  %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/heading",
            offset=0,
            width=12,
            heading_tag="h2",
            heading_underline="true",
            style={
              "heading_underline" : true,
              "spacing_field" : {
                "margin" : {
                  "bottom" : { },
                  "top" : { }
                }
              },
              "textalignment" : "center"
            }
          %}
            {% module_attribute "heading" %}
              Introducing the <strong>Digital Wellbeing Framework</strong>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p class="lead" style="text-align: center;">Linewize provides the world’s most comprehensive suite of student digital safety and wellbeing solutions. Together they empower every member of a school community with the knowledge and tools to play a greater role in maintaining the digital wellbeing of students.</p>
              <p class="lead" style="text-align: center;"><span style="font-weight: bold;">We call this our digital wellbeing framework.</span> It helps schools to see their gaps, engage their communities and build on their current provision in an affordable way.&nbsp;</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/region-specific/nz/wellbeing-framework-nz",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/modal-window",
        offset=0,
        width=12,
        heading="",
        modal_id="newsletterSignup"
      %}
        {% module_attribute "modal_body" %}
          <script type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js" charset="utf-8"></script><script>
          hbspt.forms.create({
          region: "na1",
          portalId: "7977292",
          formId: "cc40c776-7a7f-4644-ae34-4f8d7564ec66",
          cssClass: "hs-form",
          submitButtonClass: "btn btn-primary d-block ms-auto"
          });
          </script>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/rich-text",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=11,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}




{% dnd_section
  background_color="rgba(248, 248, 248, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h2",
        heading_underline="true",
        style={
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          The Linewize Digital Wellbeing Framework enables schools to achieve:
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="intro"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/icon-and-text-group",
        offset=0,
        width=12,
        icon_and_text=[ {
          "additional_code" : "",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "src" : ""
            },
            "icon_code" : "eye",
            "icon_colour" : "dark",
            "icon_field" : {
              "name" : ""
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fat",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "absolute"
          },
          "text" : "<h5 class='text-primary' style='text-align: center;'>Depth of Visibility</h5><p style='text-align: center;'>We provide stakeholders with a deep understanding of digital learning and wellbeing challenges, enabling swift issue resolution and supporting students' return to learning.</p>"
        }, {
          "additional_code" : "",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "src" : ""
            },
            "icon_code" : "chalkboard",
            "icon_colour" : "dark",
            "icon_field" : {
              "name" : "Check Circle",
              "type" : "REGULAR",
              "unicode" : "f058"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fat",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : ""
          },
          "text" : "<h5 class='text-primary' style='text-align: center;'>Enhanced Digital Learning</h5><p style='text-align: center;'><span>We empower teachers with visibility and control of student online activity, ensuring effective internet and device use for learning. This facilitates targeted, evidence-based conversations to support positive learning behaviour.</span></p>"
        }, {
          "additional_code" : "",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "alt" : "success",
              "height" : 512,
              "loading" : "lazy",
              "max_height" : 48,
              "max_width" : 48,
              "size_type" : "auto_custom_max",
              "src" : "https://23755621.fs1.hubspotusercontent-na1.net/hubfs/23755621/success.svg",
              "width" : 512
            },
            "icon_code" : "",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Check Circle",
              "type" : "REGULAR",
              "unicode" : "f058"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fal",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : ""
          },
          "text" : "<h5 class='text-primary' style='text-align: center;'>Improved Student Outcomes</h5><p style='text-align: center;'>We enable schools to capture and amplify student voice, proactively addressing concerns before they have a significant impact. When students feel heard and valued, this has a profound effect on their overall academic performance, engagement, and success.</p>"
        }, {
          "additional_code" : "",
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_image" : {
              "src" : ""
            },
            "icon_code" : "people-group",
            "icon_colour" : "dark",
            "icon_field" : {
              "name" : "Check Circle",
              "type" : "REGULAR",
              "unicode" : "f058"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fat",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : ""
          },
          "text" : "<h5 class='text-primary' style='text-align: center;'>Distributed Ownership</h5><p style='text-align: center;'>By fostering shared responsibility for problems and solutions, no student is left behind or overlooked. It's important to recognize that digital safety and wellbeing should not solely be the responsibility of your network manager. Instead, it requires collective ownership and collaboration among all stakeholders.</p>"
        } ],
        style={
          "icon_arrangement" : "stacked",
          "icon_colour" : "primary",
          "responsive" : {
            "desktop" : {
              "cards" : 4
            }
          },
          "use_as_nav" : false
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}





{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12,
    background_color="rgba(255, 255, 255, 1)",
    padding={
      "default" : {
        "bottom" : "24px",
        "left" : "24px",
        "right" : "24px",
        "top" : "40px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=1,
        background_color="rgba(255, 255, 255, 1)",
        padding={
          "default" : {
            "bottom" : "24px",
            "left" : "24px",
            "right" : "24px",
            "top" : "24px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=1,
        width=10
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/rich-text",
            offset=0,
            width=12,
            row=[ {
              "advanced" : {
                "additional_classes" : "pb-3"
              },
              "column" : [ {
                "advanced" : { },
                "responsive" : {
                  "desktop" : { },
                  "mobile" : { },
                  "tablet" : { }
                },
                "text" : "<h2 style='text-align: center;'>Learn more about the <strong>solutions</strong> that make up the Linewize Digital Safety and Wellbeing Framework.&nbsp;</h2><p class='lead' style='text-align: center;'>Individually, they can address a school’s unique digital safety and wellbeing requirements. Combined, they allow schools to refocus their existing approach to a whole new level.</p>"
              } ]
            } ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=11,
        width=1,
        background_color="rgba(255, 255, 255, 1)",
        padding={
          "default" : {
            "bottom" : "24px",
            "left" : "24px",
            "right" : "24px",
            "top" : "24px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "bottom" : "24px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/rich-text",
            offset=0,
            width=12,
            row=[ {
              "advanced" : {
                "additional_classes" : "pb-3"
              },
              "column" : [ {
                "advanced" : { },
                "responsive" : {
                  "desktop" : { },
                  "mobile" : { },
                  "tablet" : { }
                },
                "text" : "<h4 style='text-align: center;'><strong>Linewize solutions:</strong></h4>"
              } ]
            } ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/card",
            offset=0,
            width=12,
            card=[ {
              "accent_colour" : "none",
              "cta_colour" : "secondary",
              "cta_style" : "btn btn-",
              "image" : {
                "alt" : "Dashboard-1",
                "height" : 906,
                "max_height" : 906,
                "max_width" : 1555,
                "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/Dashboard-1.png",
                "width" : 1555
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 124455273288,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Learn more",
              "text" : "<p>An education-focused digital effectiveness and wellbeing platform. <strong>Greater depth of visibility</strong> provides staff with a deep understanding of student online behaviour and alerts to issues such as cyberbullying, violence and self-harm.</p>",
              "title" : "School Manager",
              "title_size" : "h4"
            }, {
              "accent_colour" : "none",
              "cta_colour" : "secondary",
              "cta_style" : "btn btn-",
              "image" : {
                "alt" : "solutions1",
                "height" : 900,
                "max_height" : 467,
                "max_width" : 860,
                "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/solutions1.png",
                "width" : 1657
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 126844756914,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Learn more",
              "text" : "<p>A teacher dashboard that provides live visibility and historical views of student online activity in lessons to ensure effective use of the internet. <strong>Monitor device activity </strong>in real time and focus students to reduce digital distractions.</p>",
              "title" : "Classwize",
              "title_size" : "h4"
            }, {
              "accent_colour" : "none",
              "cta_colour" : "secondary",
              "cta_style" : "btn btn-",
              "image" : {
                "alt" : "monitor4",
                "height" : 501,
                "max_height" : 501,
                "max_width" : 860,
                "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/monitor4.png",
                "width" : 860
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 126844756920,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Learn more",
              "text" : "<p>A proactive digital safeguarding tool to help schools detect online and offline risks before they become real-life incidents. <strong>Real-time alerts empower key staff</strong>&nbsp;to improve wellbeing and educational outcomes through timely, evidence-based interventions.</p>",
              "title" : "Monitor",
              "title_size" : "h4"
            }, {
              "accent_colour" : "none",
              "cta_colour" : "secondary",
              "cta_style" : "btn btn-",
              "image" : {
                "alt" : "pulse1",
                "height" : 501,
                "max_height" : 501,
                "max_width" : 860,
                "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/pulse1.png",
                "width" : 860
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 126847171748,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Learn more",
              "text" : "<p>A <strong>weekly wellbeing online check-in app,</strong> Pulse provides fun and easy 60-second check-ins. Pulse encourages students to reflect on their mental, social and physical wellbeing, allowing you to spot vulnerable students early.</p>",
              "title" : "Pulse",
              "title_size" : "h4"
            } ],
            styles={
              "card_colour" : "bg-light",
              "card_style" : "2",
              "image_header_fit" : "contain",
              "q_accent" : false,
              "responsive" : {
                "desktop" : {
                  "cards" : 4
                }
              },
              "shadow" : " ",
              "textalignment" : "center",
              "title_accent" : false
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row
          background_color="rgba(49, 50, 50, 1)",
          padding={
            "default" : {
              "bottom" : "24px",
              "left" : "24px",
              "right" : "24px",
              "top" : "24px"
            }
          }
        %}
          {% dnd_column
            offset=0,
            width=6,
            padding={
              "default" : {
                "top" : "16px"
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
              %}
                {% module_attribute "html" %}
                  <h6><span style="color: #ffffff;">Schools raising the bar: Wellesley College (primary)</span></h6>
                  <h3 style="font-weight: bold;"><span style="color: #ffffff;">A community-wide approach delivering better wellbeing outcomes</span></h3>
                  <p><span style="color: #ffffff;">Empowering and engaging staff, teachers and parents ensures Wellesley students are safer and focused on learning.</span></p>
                  <p style="font-weight: normal;"><span style="color: #ffffff;">Watch video &gt;</span></p>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=6,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module
                path="/q-theme/modules/video",
                offset=0,
                width=12,
                custom_thumbnail={
                  "alt" : "Video_thumb_template",
                  "height" : 210,
                  "loading" : "lazy",
                  "max_height" : 210,
                  "max_width" : 535,
                  "size_type" : "auto",
                  "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/Video_thumb_template.png",
                  "width" : 535
                },
                style={
                  "rounded_corners" : false
                },
                video_file="https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/QORIA_2023_Coporate-Site-Homepage-Film.mp4"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}





{% dnd_section
  padding={
    "default" : {
      "bottom" : "24px",
      "left" : "16px",
      "right" : "16px",
      "top" : "48px"
    }
  },
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12,
    background_color="rgba(255, 255, 255, 1)",
    padding={
      "default" : {
        "bottom" : "24px",
        "left" : "24px",
        "right" : "24px",
        "top" : "24px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=10
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/rich-text",
            offset=0,
            width=12,
            row=[ {
              "advanced" : {
                "additional_classes" : "pb-3"
              },
              "column" : [ {
                "advanced" : { },
                "responsive" : {
                  "desktop" : { },
                  "mobile" : { },
                  "tablet" : { }
                },
                "text" : "<h2>Cyber Smart <strong>Community</strong> Services</h2><p class='lead'>To ensure an effective digital learning and wellbeing strategy, it’s crucial to have cutting-edge solutions that enable effective learning and early detection and intervention of wellbeing risks. However, without considering the educational needs and engagement strategies for your entire school community, it becomes much harder to provide a consistent and aligned approach to how you guide your students’ online development.<br><br>The Cyber Smart Community Services offer a comprehensive set of solutions that allow a school to engage, educate and empower all stakeholders: staff, parents and students.&nbsp;</p>"
              } ]
            } ],
            style={
              "spacing_field" : {
                "margin" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 0
                  }
                },
                "padding" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 24
                  },
                  "left" : {
                    "units" : "px",
                    "value" : 24
                  },
                  "right" : {
                    "units" : "px",
                    "value" : 24
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 24
                  }
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=10,
        width=2,
        background_color="rgba(255, 255, 255, 1)",
        padding={
          "default" : {
            "bottom" : "24px",
            "left" : "24px",
            "right" : "24px",
            "top" : "24px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "bottom" : "24px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/rich-text",
            offset=0,
            width=12,
            row=[ {
              "advanced" : {
                "additional_classes" : "pb-3"
              },
              "column" : [ {
                "advanced" : { },
                "responsive" : {
                  "desktop" : { },
                  "mobile" : { },
                  "tablet" : { }
                },
                "text" : "<h4 style='text-align: center;'><strong>Linewize solutions:</strong></h4>"
              } ]
            } ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/card",
            offset=0,
            width=12,
            card=[ {
              "accent_colour" : "none",
              "cta_colour" : "secondary",
              "cta_style" : "btn btn-",
              "image" : {
                "alt" : "osh1",
                "height" : 501,
                "max_height" : 501,
                "max_width" : 860,
                "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/osh1.png",
                "width" : 860
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 126850733877,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Learn more",
              "multiple_text" : false,
              "text" : "<p>The Online Safety Hub is a portal with tools and resources to engage, educate and empower the entire school community, and help build a positive digital culture.&nbsp;</p>",
              "title" : "<div>Online Safety Hub</div>",
              "title_size" : "h4"
            }, {
              "accent_colour" : "none",
              "cta_colour" : "secondary",
              "cta_style" : "btn btn-",
              "image" : {
                "alt" : "comeandmeetus",
                "height" : 972,
                "max_height" : 1000,
                "max_width" : 1500,
                "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/comeandmeetus.png",
                "width" : 1458
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 128226923301,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Learn more",
              "text" : "<p>These sessions provide parents with realistic and practical cyber safety education sessions that equip them to actively participate in their children’s online lives. Packed with real-world and evidence-based information.</p>",
              "title" : "Parent Education Sessions",
              "title_size" : "h4"
            }, {
              "accent_colour" : "none",
              "cta_colour" : "secondary",
              "cta_style" : "btn btn-",
              "image" : {
                "alt" : "dx2",
                "height" : 501,
                "max_height" : 501,
                "max_width" : 860,
                "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/dx2.png",
                "width" : 860
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 126827101053,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Learn more",
              "text" : "<p>DX is an interactive and engaging online certificate course for students. Utilising social and emotional learning, these evidence-based courses teach students skills and behaviours for being resilient and ethical digital citizens.&nbsp;</p>",
              "title" : "Digital Experts Academy",
              "title_size" : "h4"
            }, {
              "accent_colour" : "none",
              "cta_colour" : "secondary",
              "cta_style" : "btn btn-",
              "image" : {
                "alt" : "qustodio1",
                "height" : 501,
                "max_height" : 501,
                "max_width" : 860,
                "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/qustodio1.png",
                "width" : 860
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 126847171757,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Learn more",
              "text" : "<p>The Qustodio Parental App is an all-in-one tool to help parents and guardians keep their children’s screen time safe and balanced on every device. The single dashboard provides the necessary visibility for parents to better protect their children online.&nbsp;</p>",
              "title" : "Qustodio Parental App",
              "title_size" : "h4"
            } ],
            styles={
              "card_colour" : "bg-light",
              "card_style" : "2",
              "equal_heights" : true,
              "image_header" : true,
              "image_header_fit" : "contain",
              "q_accent" : false,
              "responsive" : {
                "desktop" : {
                  "cards" : 4
                }
              },
              "shadow" : " ",
              "textalignment" : "center",
              "title_accent" : false
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row
          background_color="rgba(49, 50, 50, 1)",
          padding={
            "default" : {
              "bottom" : "24px",
              "left" : "24px",
              "right" : "24px",
              "top" : "24px"
            }
          }
        %}
          {% dnd_column
            offset=0,
            width=6,
            padding={
              "default" : {
                "top" : "16px"
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
              %}
                {% module_attribute "html" %}
                  <h6 style="font-weight: bold;"><span style="color: #ffffff;">Schools raising the bar:&nbsp;Kavanagh College (primary)</span></h6>
                  <h3 style="font-weight: bold;"><span style="color: #ffffff;">Treating digital visibility as a care issue</span></h3>
                  <p style="font-weight: normal;"><span style="color: #ffffff;">Increased depth of visibility has provided Kavanagh College leadership with a deeper understanding of student online behaviour.</span></p>
                  <p style="font-weight: normal;"><span style="color: #ffffff;">Watch video &gt;</span></p>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=6,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module
                path="/q-theme/modules/video",
                offset=0,
                width=12,
                custom_thumbnail={
                  "alt" : "Video_thumb_template",
                  "height" : 210,
                  "loading" : "lazy",
                  "max_height" : 210,
                  "max_width" : 535,
                  "size_type" : "auto",
                  "src" : "https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/Video_thumb_template.png",
                  "width" : 535
                },
                style={
                  "rounded_corners" : false
                },
                video_file="https://7977292.fs1.hubspotusercontent-na1.net/hubfs/7977292/QORIA_2023_Coporate-Site-Homepage-Film.mp4"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}







{% end_dnd_area %}
{% global_partial path="../partials/lets-connect.html" %}
{% endblock body %}

{% block footer %}
    {% global_partial path="../partials/footer.html" %}
{% endblock footer %}
