<!--
templateType: global_partial
label: Linewize US Footer
description: "Footer section including address, footer navigation menu and social links."
screenshotPath: ../images/section-previews/screenshot_Footer.png
-->

<footer class="footer px-0 text-light bg-gradient-primary-reverse">
  <div class="container-xxl position-relative">
    <div class="row">
      <div class="col-12">
        <div class="position-relative">
          <div class="cursor-pointer d-flex position-absolute top-0 end-0 translate-middle-y bg-secondary align-items-center justify-content-center" style="width: 3rem; height: 3rem;" onclick="topFunction()">
            <i class="fas fa-chevron-up"></i>
          </div>
        </div>
      </div>
    </div>
    <hr class="opacity-100 my-6">
  </div>
  <div class="container-xxl pb-4 g-0 position-relative">
    {% dnd_area "dnd_footer"
    label="Footer"
    class=""
    %}
      {% dnd_section %}
        {% dnd_column %}
          {# modules #}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </div>
  <div class="bg-dark text-light small py-3">
    <div class="container-xxl">
      <div class="row d-flex align-items-center">
        <div class="col">
          <span>&copy; {{year}} Linewize. All rights reserved.</span>
        </div>
        <div class="col text-end">
        <a class="text-reset text-decoration-none" href="https://qoria.com" target="_blank"><span class="align-middle">Linewize is part of the Qoria family</span> <img src="{{get_asset_url('../../../images/qoria/Q-Colour.svg')}}" style="width: 30px;" alt="Q" class="ms-3 align-middle"></a>
        </div>
      </div>
    </div>
  </div>
</footer>