
   <table width="100%" style="width: 100%;">
      {% if module.background_image.src %}
         {% if module.image_location == "above" %}
            <tr>
               <td style="font-size: 0; line-height: 0; padding: 0;">
                  <img src="{{module.background_image.src}}" style="width: 100%; {% if module.object_fit == "cover" %}height: 7rem; object-fit: cover; object-position: center center;{% else %}{% endif %}">
               </td>
            </tr>
         {% endif %}
      {% endif %}

      <tr>
         <td style="background-color: {{ module.accent_colour.color }}; padding: {{ module.heading_padding.padding_y }}px {{ module.heading_padding.padding_x }}px; color: {{ module.heading_text_colour }}" background="{{ module.accent_colour.color }}">
            {{ module.heading }}
         </td>
      </tr>

      {% if module.background_image.src %}
         {% if module.image_location == "below" %}
            <tr>
               <td style="font-size: 0; line-height: 0; padding: 0;">
                  <img src="{{module.background_image.src}}" style="width: 100%; {% if module.object_fit == "cover" %}height: 7rem; object-fit: cover; object-position: center center;{% else %}{% endif %}">
               </td>
            </tr>
         {% endif %}
      {% endif %}

      <tr>
         <td style="padding: {{ module.content_padding.padding_y }}px {{ module.content_padding.padding_x }}px;" class="mce-content-body">
           {{ module.content }}
            {% if module.link.url.href %}
            {% set href = module.link.url.href %}
            <div style="text-align: {{ module.cta_alignment }};">
            <a href="{{ href }}" target="_blank" style="display: inline-block; text-decoration: none; border: 2px solid #000000; padding: 16px 24px; font-weight: bold; color: #000000; Margin-top: {{ module.content_padding.padding_y }}px;">
              {{ module.link_text }}
            </a>
            </div>
            {% endif %}
         </td>
      </tr>
   </table>