{% if is_in_page_editor %}
    {% editor_placeholder %}
{% endif %}

<div class="modal fade" id="{{module.unique_name}}" tabindex="-1" aria-labelledby="{{module.unique_name}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-gradient-primary text-white">
        <div class="modal-header border-0 p-3">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-5 py-4 pt-2">
          {% if module.heading %}
          <p class="h3 mb-6 border-top border-bottom border-dark py-3 border-2 fw-semibold px-2">
            {{ module.heading}}
          </p>
          {% endif %}
          {% if module.sub_heading %}
          <p class="lead">
            {{ module.sub_heading }}
          </p>
          {% endif %}
          <div id="form_{{module.unique_name}}" class="form-container"></div>
        </div>
      </div>
  </div>
</div>

{% if module.form.form.form_id %}
  {{ require_js("//js.hsforms.net/forms/embed/v2.js", "head") }}
  {% require_js %}
    <script>
      const form_{{module.unique_name}} = function() {
        hbspt.forms.create({
          portalId: "{{hub_id}}",
          formId: "{{module.form.form.form_id}}",
          target: "#form_{{module.unique_name}}",
          {% if module.form.form.response_type == "redirect" && !module.form.download %}
            {% if module.form.form.redirect_url != "" && module.form.form.redirect_url %}
              redirectUrl: "{{module.form.form.redirect_url}}",
            {% else %}
              redirectUrl: "{{ content_by_id(module.form.form.redirect_id).absolute_url }}",
            {% endif %}
          {% else %}
            {% if module.form.form.response_type == "inline" %}
              inlineMessage: "{{module.form.form.message|escapejs}}",
            {% elif module.form.download %}
              inlineMessage: "Thank you for your interest, your download should start shortly.",
            {% endif %}
          {% endif %}
          {% if module.form.advanced.on_before_form_submit || module.form.override_values %}
            onFormSubmit: function($form) {
              {% if module.form.override_values %}
                {% for item in module.form.override_values %}
                  document.querySelector('input[name="{{ item.property_id }}"]').value = {{ item.property_value|escapejs }};
                  document.querySelector('input[name="{{ item.property_id }}"]').dispatchEvent(new Event("input", { bubbles: true }));
                {% endfor %}
              {% endif %}
              {{ module.form.advanced.on_before_form_submit }}
            },
          {% endif %}
          {% if module.form.advanced.on_form_ready %}
            onFormReady: function($form) {
              {{module.form.advanced.on_form_ready}}
            },
          {% endif %}
          onFormSubmitted: function($form, data) {
            {% if module.form.download %}
              if (window.hsInEditor) {
                return;
              }
              const button = document.createElement("a");
              button.className = `${submitButtonClass}`;
              button.id = "downloadFile-{{module.unique_name}}";
              button.innerHTML = `Download now`;
              button.setAttribute("href","{{ module.form.download_file.url.href }}");
              button.setAttribute("download","{{ module.form.download_name }}");
              {% if module.form.form.response_type == "redirect" %}
                button.setAttribute("target","_blank");
              {% elif module.form.download_file.open_in_new_tab %}
                button.setAttribute("target","_blank");
              {% endif %}
              formContainer = document.getElementById("form_{{module.unique_name}}");
              formContainer.append(button);
              button.click(function(){
                {% if module.form.form.response_type == "redirect" %}
                  {% if module.form.form.redirect_url != "" && module.form.form.redirect_url %}
                    window.location.href = "{{module.form.form.redirect_url}}";
                  {% else %}
                    window.location.href = "{{ content_by_id(module.form.form.redirect_id).absolute_url }}";
                  {% endif %}
                {% endif %}
              });
            {% endif %}
            {% if module.form.advanced.on_form_submitted %}
              {{module.form.advanced.on_form_submitted}}
            {% endif %}
            },
          {% if module.form.button_text %}
            submitText: "{{module.form.button_text}}",
          {% endif %}
          submitButtonClass: "btn mt-2 btn-light",
          cssClass: 'hs-form form-light {{module.form.advanced.additional_classes}}'
        });
      };

      document.addEventListener("DOMContentLoaded", () => {
        form_{{module.unique_name}}();
      });

    </script>
  {% end_require_js%}
{% endif %}