<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Smoothwall - password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "This page is private | Enter password" %}

{% block body %}
  <section class="bg-light" style=" padding-top: 80px; padding-bottom: 80px;">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 pb-4">
        {% module "Heading"
        path="/q-theme/modules/heading",
        heading ="Password Required",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 50
              },
              "top" : { }
            }
          }
        }
        %}
          {% module "Rich Text"
          path="@hubspot/rich_text",
          html="<p>Please enter the password required to view this page.</p>"
          %}
  
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          {% module "password_prompt"
          extra_classes="password-prompt",
          path="@hubspot/password_prompt"
          %}
        </div>
      </div>
    </div>
  </section>
  
{% endblock body %}
