{% require_css %}
  <style>

    .barbieri-regular {
      font-family: "barbieri", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .barbieri-bold {
      font-family: "barbieri", sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .game-show-card {
      perspective: 1000px;
      --q-card-spacer-y: 3em;
      --q-card-spacer-x: 2em;
      border-radius: 3em;
      background-color: transparent;
      z-index: 1;
    }

    .game-show-card .card-content {
      transition: transform 1s;
      transform-style: preserve-3d;
      display: grid;
      height: 100%;
      border-radius: 1em;
    }
    .game-show-card .card-front,
    .game-show-card .card-back {
      grid-area: 1 / 1 / span 1 / span 1;
      background: #fbf8f3;
      color: #1d1e1c;
      text-align: left;
      backface-visibility: hidden;
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }
    .game-show-card .card-back {
      background: #515ba5;
      color: white;
      background-image: url("{{ get_asset_url('../../../images/campaigns/game-show/bg-tile.png') }}");
      background-size: 300px;
      padding: 1em;
      display: flex;
    }
    .game-show-card .card-back-inner {
      border: 2px solid #fff;
      border-radius: .6em;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3em;
      align-content: center;
      flex-direction: column;
      text-align: center;
      flex-grow: 1;
    }

    .game-show-card .card-footer {
      background-color: transparent;
    }
    
    .game-show-card .circle-lights {
      background-image: url("{{ get_asset_url('../../../images/campaigns/game-show/circle-lights.png') }}");
      background-size: 100%;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 250px;
    }

    .game-show-card .card-number {
      line-height: 1;
      text-transform: uppercase;
      transform: rotate(-3deg);
      color: #fff;
      padding-top: .25em;
      filter: drop-shadow(1px 8px 1.5px #205453bf);
    }

        
    .game-show-card .card-front {
      transform: rotateY( 180deg );
    }
    
    .game-show-card .card-content {
      transform: rotateY( 180deg ) ;
    }

    @media (min-width: 576px) {

      
      .game-show-card .card-content {
        transform: rotateY(0deg);
      }

      .game-show-card .card-front {
        transform: rotateY( 180deg );
      }
      
      .game-show-card:hover .card-content {
        transform: rotateY(180deg);
        transition: transform 0.5s;
      }
      
    }

  </style>
{% end_require_css %}

{% if is_in_page_editor %}
  <style>
    .game-show-card .card-front {
      transform: rotateY( 0deg );
    }
    
    .game-show-card .card-back {
      transform: rotateY( 180deg );
    }
    
    .game-show-card:hover .card-content {
      transform: none;
      transition: transform 0.5s;
    }
  </style>
{% endif %}

<div class="container-fluid g-0 {{module.advanced.additional_classes}}" style="{{module.styles.spacing_field.css}}" id="{{ module.advanced.custom_id if module.advanced.custom_id else "cards-{{name}}" }}" {{module.advanced.additional_markup}}>
<div class="row gy-3 row-cols-{{module.styles.responsive.mobile.cards}} row-cols-md-{{module.styles.responsive.tablet.cards}} row-cols-lg-{{module.styles.responsive.desktop.cards}} justify-content-{{module.styles.row_alignment}}">
  {% for card in module.card %}

    {% if card.background.background_type != "inherit" %}
        {% if card.background.background_type == "color" and card.background.color.color %}
          {% set cardStyles = "background-color: rgba({{ card.background.color.color|convert_rgb }}, {{ card.background.color.opacity / 100 }});" %}
        {% elif card.background.background_type == "gradient" %}
          {% set cardStyles = "background: {{ card.background.gradient.css }};" %}
        {% elif card.background.background_type == "image" %}
          {% set cardStyles = "background-image: url({{ card.background.image.src }}); background-size: cover;" %}
        {% else %}
          {% set cardStyles = "" %}
        {% endif %}
    {% endif %}

    <div class="col {{ card.advanced.col_classes }}">
      <div class="card game-show-card h-100 d-flex flex-column {{ card.advanced.card_classes }}" style="{{cardStyles}}">
        <div class="card-content {{ module.styles.shadow }}">
          <div class="card-front">

            {% set headingColour = " " %}
            {% set preHeadingColour = " " %}

            <div class="card-body text-{{ module.styles.textalignment }}">
              <div class="d-flex justify-content-{{ module.styles.textalignment }} mb-3 align-items-center">
                <div>
                  {% if card.title != "" %}
                    <h5 class="text-{{module.styles.textalignment}} {{ card.title_size if card.title_size else "h5" }} {{ headingColour }} mb-0">{{ card.title }}</h5>
                  {% endif %}
                </div>
              </div>
                
              <div class="card-text flex-grow-1">
              {{ card.text }}
              </div>
            </div>

            {% if card.link.url.href %}
              <div class="card-footer">
                {% if card.cta_style %}
                  {% if card.cta_style != "text-" %}
                    {% set ctaClasses = card.cta_size ~ " " ~ card.cta_style ~ card.cta_colour %}
                  {% else %}
                    {% set ctaClasses = "text-" ~ card.cta_colour ~ " text-decoration-none fw-semibold" %}
                  {% endif %}
                {% else %}
                  {% set ctaClasses = "text-reset text-decoration-none fw-semibold" %}
                {% endif %}
                {% if (card.cta_alignment) && (card.cta_alignment != "inherit") %}
                  {% if card.cta_alignment == "center" %}
                    {% set ctaClasses = ctaClasses ~ " mx-auto" %}
                  {% elif card.cta_alignment == "end" %}
                    {% set ctaClasses = ctaClasses ~ " ms-auto" %}
                  {% elif card.cta_alignment == "start" %}
                    {% set ctaClasses = ctaClasses ~ " me-auto" %}
                  {% endif %}
                {% else %}
                  {% if module.styles.textalignment == "center" %}
                    {% set ctaClasses = ctaClasses ~ " mx-auto" %}
                  {% elif module.styles.textalignment == "end" %}
                    {% set ctaClasses = ctaClasses ~ " ms-auto" %}
                  {% elif module.styles.textalignment == "start" %}
                    {% set ctaClasses = ctaClasses ~ " me-auto" %}
                  {% endif %}
                {% endif %}
                <a href="{{card.link.url.href}}" 
                class="{{ "stretched-link" if card.stretched_link }} {{ ctaClasses }}"
                {% if card.link.open_in_new_tab %}target="_blank"{% endif %}
                >
                {% if (card.link_label|striptags) is string_containing "->" %}
                  {% set linkLabel = card.link_label|replace('->','<i class="fa fa-arrow-right"></i>') %}
                {% elif (card.link_label|striptags) is string_containing " >" %}
                  {% set linkLabel = card.link_label|replace(' >',' <i class="fa fa-chevron-right"></i>') %}
                {% else %}
                  {% set linkLabel = card.link_label %}
                {% endif %}
                {{linkLabel}}</a>
              </div>
            {% endif %}
          </div>
          <div class="card-back">
            <div class="card-back-inner">
              <div class="circle-lights">
                <p class="barbieri-regular display-2 card-number">Feature<br><span class="" style="">#{{loop.index}}</span></p>
              </div>
              <div class="mt-7">
                <p class="h4">{{card.back_text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%endfor%}
</div>

</div>

<script>

document.addEventListener("DOMContentLoaded", () => {

  const handleHeaderHeightNormalisation{{name|replace("-","_")}} = () => {
      normaliseHeightsMd('#{{ module.advanced.custom_id if module.advanced.custom_id else "cards-{{name}}" }} .card-header');
  };

  window.addEventListener('load', handleHeaderHeightNormalisation{{name|replace("-","_")}});
  window.addEventListener('resize', handleHeaderHeightNormalisation{{name|replace("-","_")}});
  window.addEventListener('orientationchange', handleHeaderHeightNormalisation{{name|replace("-","_")}});
  
  {% if module.styles.normalise_image_headers %}
    {% if module.styles.image_header_fit == "cover" %}

        const handleImageHeightNormalisation{{name|replace("-","_")}} = () => {
            normaliseHeightsMd("#{{ module.advanced.custom_id if module.advanced.custom_id else "cards-{{name}}" }} .card-img-top")
        };

        window.addEventListener('load', handleImageHeightNormalisation{{name|replace("-","_")}});
        window.addEventListener('resize', handleImageHeightNormalisation{{name|replace("-","_")}});
        window.addEventListener('orientationchange', handleImageHeightNormalisation{{name|replace("-","_")}});

    {% elif module.styles.image_header_fit == "contain" || module.styles.image_header_fit == "contain-variable" %}

        const handleImageHeightNormalisation{{name|replace("-","_")}} = () => {
            normaliseHeightsMd("#{{ module.advanced.custom_id if module.advanced.custom_id else "cards-{{name}}" }} .card-body .img-header")
        };

        window.addEventListener('load', handleImageHeightNormalisation{{name|replace("-","_")}});
        window.addEventListener('resize', handleImageHeightNormalisation{{name|replace("-","_")}});
        window.addEventListener('orientationchange', handleImageHeightNormalisation{{name|replace("-","_")}});

    {% endif %}
  {% endif %}

  
});
</script>


