<style>

    @keyframes stageLight {
        0% { transform: rotate(-23deg);}
        100% { transform: rotate(13deg);}
    }

    @keyframes sparkle {
        0% { transform: rotate(0) scale(0.8);}
        100% { transform: rotate(45deg) scale(1);}
    }

    .game-show-hero {
        background-image: url("{{ get_asset_url('../../../images/campaigns/game-show/bg-tile.png') }}");
        position: relative;
    }

    .game-show-sign {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
    }

    .game-show-hero .stage-light-left {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .game-show-hero .stage-light-right {
        position: absolute;
        top: 0;
        right: 0;
        transform: scaleX(-1);
        pointer-events: none;
    }

    .game-show-hero .stage-light .stage-light-mg {
        transform-origin: 1.85% 5.84%;
        
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-name: stageLight;
        animation-timing-function: ease-in-out;
    }

    .game-show-hero .sparkle {
        transform-origin: 46% 47.2%;
        
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-duration: .4s;
        animation-name: sparkle;
        animation-timing-function: steps(2, jump-none); 
    }

    .sparkle-container-left {
        transform: rotate(45deg);
        position: absolute;
        top: 20%;
        left: 0%;
    }

    .sparkle-container-right {
        transform: rotate(135deg);
        position: absolute;
        bottom: 20%;
        right: -2%;
    }

    .game-show-hero .sparkle-left {
        width: 70px;
        pointer-events: none;
    }

    .game-show-hero .sparkle-right {
        width: 70px;
        pointer-events: none;
    }

    .game-show-hero .stage-light-right .stage-light-mg {
        animation-duration: 6s;
        animation-delay: -1.5s;
    }

    .game-show-hero .stage-light-left .stage-light-mg {
        animation-duration: 6s;
    }

    .game-show-hero .stage-light .stage-light-fg,
    .game-show-hero .stage-light .stage-light-bg {
        position: absolute;
        top: 0;
        left: 0;
    }

    .game-show-hero:after {
        content: '';
        background-image: url("{{ get_asset_url('../../../images/campaigns/game-show/stage-bg.png') }}");
        width: 100%;
        height: 150px;
        background-position: center top;
        background-size: cover;
        position: absolute;
        bottom: 0;
    }

    .game-show-hero .sign-post {
        position: absolute;
        top: 0;
        width: 2%;
        bottom: 50%;
        background-image: url("{{ get_asset_url('../../../images/campaigns/game-show/game-show-sign-post.png') }}");
        background-size: 100% 100%;
    }

    .game-show-hero #signPost1 {
        left: 30%;
    }

    .game-show-hero #signPost2 {
        left: 49%;
    }

    .game-show-hero #signPost3 {
        right: 30%;
    }

    .game-show-sign img {
        position: relative;
    }
</style>

{% if module.form.form_id %}
{{ require_js("//js.hsforms.net/forms/embed/v2.js", "head") }}
{% endif %}

<section class="game-show-hero">
    <div class="container-xxl position-relative bg-stage-floor">
        <div class="row align-items-stretch">
            <div class="col-12 col-md text-center pb-3 pb-md-8">
                <div class="game-show-sign">
                    <div class="sign-post" id="signPost1"></div>
                    <div class="sign-post" id="signPost2"></div>
                    <div class="sign-post" id="signPost3"></div>
                    <img src="{{ get_asset_url('../../../images/campaigns/game-show/game-show-sign.png') }}" class="img-fluid">
                    <div class="stage-light stage-light-left">
                        <img src="{{ get_asset_url('../../../images/campaigns/game-show/show-light-bg.png') }}" class="stage-light-bg">
                        <img src="{{ get_asset_url('../../../images/campaigns/game-show/show-light-mg.png') }}" class="stage-light-mg">
                        <img src="{{ get_asset_url('../../../images/campaigns/game-show/show-light-fg.png') }}" class="stage-light-fg">
                    </div>
                    <div class="stage-light stage-light-right">
                        <img src="{{ get_asset_url('../../../images/campaigns/game-show/show-light-bg.png') }}" class="stage-light-bg">
                        <img src="{{ get_asset_url('../../../images/campaigns/game-show/show-light-mg.png') }}" class="stage-light-mg">
                        <img src="{{ get_asset_url('../../../images/campaigns/game-show/show-light-fg.png') }}" class="stage-light-fg">
                    </div>
                </div>
            </div>
            {% if module.form.form_id %}
                <div class="col-12 col-md-5 text-center align-self-center py-0 pb-6 py-md-8" id="heroForm">
                    <div class="">
                        {% if module.show_title %}
                            <div id="form-heading">
                                <h2 class="h2 text-light text-center text-decoration-partial-underline">{{ module.title|default("Get filtering that's smarter than your students. Start your free trial.") }}</h2>
                            </div>
                        {% endif %}
                        <script>
                            window.addEventListener('load', function() {
                                if(window.hbspt) {
                                    hbspt.forms.create({
                                        region: 'na1',
                                        portalId: '{{hub_id}}',
                                        formId: '{{module.form.form_id}}',  
                                        submitButtonClass: "btn mt-4 btn-light d-block mx-auto",
                                        cssClass: 'hs-form form-light'
                                    });
                                }
                            });
                        </script>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="sparkle-container-left">
            <img src="{{ get_asset_url('../../../images/campaigns/game-show/sparkle-1.svg') }}" class="sparkle sparkle-left">
        </div>
        <div class="sparkle-container-right">
            <img src="{{ get_asset_url('../../../images/campaigns/game-show/sparkle-1.svg') }}" class="sparkle sparkle-right">
        </div>
    </div>
</section>