
{% if module.image.src != "" %}

    {% set imgSrc = module.image.src %}
	{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
    {% if module.image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
        {% set sizeCSS = "max-width: 100%; height: auto;" %}
        {% set imgSrc = resize_image_url(module.image.src, module.image.width) %}
    {% elif module.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}"' %}
        {% set sizeCSS = "max-width: 100%; height: auto;" %}
        {% set imgSrc = resize_image_url(module.image.src, module.image.max_width) %}
    {% endif %}
    {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}

        {% if module.style.alignment %}
            {% if module.style.alignment.horizontal_align == "CENTER" %}
                {% set alignmentCSS = " margin: 0 auto; display: block;" %}
            {% elif module.style.alignment.horizontal_align == "LEFT" %}
                {% set alignmentCSS = " " %}
            {% elif module.style.alignment.horizontal_align == "RIGHT" %}
                {% set alignmentCSS = " margin: 0 0 0 auto; display: block;" %}
            {% endif %}
            
        {% endif %}

<img src="{{imgSrc}}" alt="{{ module.image.alt }}" style="{{ module.style.spacing_field.css }} {{ alignmentCSS }} {{ sizeCSS }}" class="{{ 'filter-grayscale' if module.style.greyscale_filter }}" {{ loadingAttr }} {{ sizeAttrs }}>

{% else %}

    {% if is_in_page_editor %}
        {% editor_placeholder %}
    {% endif %}

{% endif %}