<!--
    templateType: none
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    <meta name="description" content="{{ content.meta_description }}">

    {# ===== Twitter Card ===== #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page_meta.html_title or pageTitle }}">
    <meta name="twitter:description" content="{{ content.meta_description }}">

    {# Use featured image if exists #}
    {% if content.featured_image %}
      <meta name="twitter:image" content="{{ content.featured_image }}">
    {% endif %}

    {# Preload main theme CSS earlier for faster discovery #}
    {{ require_css(get_asset_url('../../css/qoria-theme.min.css'), { async: true }) }}

    {{ standard_header_includes }}

    {% block head %}
    {% endblock %}
  </head>
  <body data-bs-spy="scroll" data-bs-target="#pageContents">

    {% block body_top %}
    {% endblock %}

    {% block header %}
    {% endblock header %}

    <div class="content-wrapper">
    {% block body %}
    {% endblock body %}
    </div>
    
    {% block footer %}
    {% endblock footer %}

    {{ standard_footer_includes }}
    {{ require_js(get_asset_url('../../js/bootstrap.bundle.min.js')) }}
    <!-- bootstrap bundle probably going to be updated in future updates -->
  </body>
</html>