{% macro single_blog_post() %}
    <div class="border {{module.styles.card_colour}} p-3 border-dark-subtle single-blog h-100 position-relative">
        {% if blog.use_featured_image %}
            <div class="featured-image-container mb-4 position-relative">
                <img src="{{blog.featured_image}}" class="rounded featured-image object-fit-cover">
                <div class="content-type-tag {{typeColour}}">{{ blogType }}</div>
            </div>
        {% endif %}
        <div class="row metadata mb-3">
            <div class="col text-start">
                <p class="small text-secondary fw-semibold"><i class="fa fas fa-pencil me-1"></i> {{ ((blog.post_body|regex_replace("{%.*%}", "")|striptags|wordcount)/225)|round(0, "ceil") }} minute read</p>
            </div>
            <div class="col text-end">
            {% if blog.blog_post_author.display_name %}
            <p class="small text-secondary fw-semibold">{{blog.blog_post_author.display_name}}</p>
            {% endif %}
            </div>
        </div>
        <h5 class="fw-semibold">{{ blog.name }}</h5>
        {% if blog.widgets.description %}
            <p class="mb-0">{{blog.widgets.description.body.text}}</p>
        {% else %}
            <p class="mb-0">{{blog.post_summary|regex_replace("{%.*%}", "")|striptags|truncate(180, "...")}}</p>
        {% endif %}
        <a href="{{blog.absolute_url}}" class="text-reset fw-semibold text-decoration-none stretched-link mt-3"></a>
    </div>

{% endmacro %}

{% macro single_blog_card() %}
    <div class="{{module.styles.card_colour}} p-4 single-blog h-100 position-relative">
        {% if blog.use_featured_image %}
            <div class="featured-image-container mb-4 position-relative">
                <img src="{{blog.featured_image}}" class="rounded featured-image object-fit-cover">
                <div class="content-type-tag {{typeColour}}">{{ blogType }}</div>
            </div>
        {% endif %}
        <div class="row metadata mb-3">
            <div class="col text-start">
                <p class="small text-secondary fw-semibold"><i class="fa fas fa-pencil me-1"></i> {{ ((blog.post_body|regex_replace("{%.*%}", "")|striptags|wordcount)/225)|round(0, "ceil") }} minute read</p>
            </div>
            <div class="col text-end">
            {% if blog.blog_post_author.display_name %}
            <p class="small text-secondary fw-semibold">{{blog.blog_post_author.display_name}}</p>
            {% endif %}
            </div>
        </div>
        <h5 class="fw-semibold">{{ blog.name }}</h5>
        {% if blog.widgets.description %}
            <p class="mb-0">{{blog.widgets.description.body.text}}</p>
        {% else %}
            <p class="mb-0">{{blog.post_summary|regex_replace("{%.*%}", "")|striptags|truncate(180, "...")}}</p>
        {% endif %}
        <a href="{{blog.absolute_url}}" class="text-reset fw-semibold text-decoration-none stretched-link mt-3"></a>
    </div>

{% endmacro %}

{% macro video_post() %}

    <div class="{{ module.styles.card_colour }} position-relative">
        <div class="thumbnail position-relative mb-4">
            {% if blog.use_featured_image %}
            <img src="{{ blog.featured_image }}" class="img-fluid featured-image object-fit-cover">
            <div class="play-button play-button-dark position-absolute top-50 start-50 translate-middle">
                <div class="w-100 h-100 position-absolute" data-bs-toggle="modal" data-bs-target="#videoModal-{{blog.id}}" onclick="playVideo('video-{{blog.id}}')">
                </div>
            </div>
            {% endif %}
        </div>
        <div class="text-dark  video-description p-2">
            <span class="x-small text-dark text-opacity-50 fw-bold"><span id="duration-{{blog.id}}"></span> min watch</span>
            <h5 class="fw-bold">{{ blog.name }}</h5>
            <!-- <a href="{{blog.absolute_url}}" class="text-reset fw-semibold text-decoration-none stretched-link"></a> -->
        </div>
    </div>

    <div class="modal fade" id="videoModal-{{blog.id}}" tabindex="-1" aria-labelledby="videoModal-{{blog.id}}" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content overflow-hidden">
                <div class="modal-body p-0">
                    <div class="position-relative">
                        <div id="videoContainer-{{blog.id}}">
   
                        </div>                   
                        <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close" onclick="pauseVideo('video-{{blog.id}}')"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    window.addEventListener("load", function() {
        if(document.readyState == 'complete') {
            var postBody = "{{ blog.post_body|escape_jinjava|escapejs }}";
            const regex = /(?!end_module_block)(?!video_file)https.*?(?=\")(?!end_module_block)/gi;
            var videoURL = postBody.match(regex);
            // console.log(videoURL);
            var durSpan = document.getElementById("duration-{{blog.id}}");
            
            var videoContainer = document.getElementById("videoContainer-{{blog.id}}");

            var fragment = new DocumentFragment;

            var newVid = document.createElement("video");
            newVid.id = "video-{{blog.id}}";
            newVid.classList.add("d-block");
            newVid.style.width = "100%";

            var newSource = document.createElement("source");
            newSource.src = videoURL;

            newVid.append(newSource);
            newVid.append("Your browser does not support the video tag.");

            // console.log(newVid);

            fragment.append(newVid);

            videoContainer.append(fragment);

            var newVideoEl = document.getElementById(newVid.id);
            
            newVideoEl.addEventListener('loadedmetadata', function () {
                var duration = newVideoEl.duration;
                durSpan.innerHTML = Math.ceil(duration/60);
            });
         
        }
    });

    </script>

{% endmacro %}

{% macro pullout_post() %}
    
    
        <style>
        .bg-image-{{name}}-{{loop.index}}:before {
            {% if blog.background_image != "" %}
                
                {% if blog.contents.use_featured_image %}
                background-image: url("{{blog.contents.featured_image}}");
                {% endif %}
            {% else %}
                background-image: url("{{blog.background_image}}");
            {% endif %}
        }
    </style>
    
        <div class="content-container bg-image-faded bg-image-{{name}}-{{loop.index}} h-100 p-3 p-md-5 pb-md-8 pt-md-6 position-relative {{ blog.background_colour }} ">
            <div class="position-relative d-flex h-100 flex-column justify-content-center">
                <p class="mb-3"><strong>{{ blog.pre_heading }}</strong></p>
                <h4 class="fw-bold"><span class='fw-normal'>{{blogType}}:</span><br>{{blog.contents.title}}</h4>
                {% if blog.widgets.description %}
                    <p class="my-3">{{ blog.widgets.description.body.text }}</p>
                {% else %}
                <p class="my-3">{{ blog.contents.post_summary|regex_replace("{%.*%}", "")|striptags|truncate(180, "...") }}</p>
                {% endif %}
                {% if blog.contents.blog_post_author.display_name %}
                <p><strong>By {{blog.contents.blog_post_author.display_name}}</strong></p>
                {% endif %}
                <a href="{{ blog.contents.absolute_url }}" class="stretched-link"></a>
            </div>
        </div>

{% endmacro %}


{% if module.selection == "auto" %}

    {% if module.blog_field %}
        {% set blogId = module.blog_field %}
    {% else %}
        {% set blogId = "default" %}
    {% endif %}


    {% if module.post_type == "popular" %}
        {% set blog_posts = blog_popular_posts(blogId, module.tag_field, module.timeframe) %}
    {% elif module.post_type == "latest" %}
    {% if module.tag_field %}
        {% set blog_posts = blog_recent_tag_posts(blogId, module.tag_field) %}
    {% else %}
        {% set totalBlogCount = blog_total_post_count(blogId) %}
            {% if totalBlogCount > 200 && is_listing_view %}
                {% set blog_posts = contents %}
            {% elif totalBlogCount > 200 %}
                {% set blog_posts = blog_recent_posts(blogId, 200) %}
            {% else %}
                {% set blog_posts = blog_recent_posts(blogId, totalBlogCount) %}
            {% endif %}
    {% endif %}
    {% endif %}

    {# exclude some tags #}
    {% set blog_posts_tag_excluded = [] %}
        
    {% if module.exclude_tag_field %}
        {% for blog_post in blog_posts %}
            {% unless blog_post.tag_list|map("slug")|intersect(module.exclude_tag_field) != [] %}
                {% do blog_posts_tag_excluded.append(blog_post) %}
            {% endunless %}
        {% endfor %}
    {% else %}
        {% set blog_posts_tag_excluded = blog_posts %}
    {% endif %}


    {# include pullouts #}
    {% set pulloutIds = [] %}
    {% if module.pullouts != [] %}
            {% for pullout in module.pullouts %}
                {% do pulloutIds.append(pullout.blog_entry) %}
            {% endfor %}
        {# remove the existing articles #}
        {% set blog_posts_filtered = blog_posts_tag_excluded|rejectattr('id', 'in', pulloutIds) %}
        
        {# get all the pullouts contents #}
        {% set pulloutContents = content_by_ids(pulloutIds) %}


        {# add in pullouts #}
        {% for pullout in module.pullouts %} 
        {% do blog_posts_filtered.insert((pullout.position - 1), {"id": pullout.blog_entry, "pre_heading": pullout.pre_heading, "pullout_type": pullout.type, "background_colour": pullout.background_colour, "background_image": pullout.background_image.src, "contents": pulloutContents[pullout.blog_entry]}) %}
        {% endfor %}

    {% else %}
        {% set blog_posts_filtered = blog_posts %}
    {% endif %}

    {# make blog pages #}
    {% if blog_posts != [] %}
        {% if module.custom_limit %}
            {% set blog_pages = blog_posts_filtered|batch(module.number_of_posts|int, "&nbsp;") %}
        {% else %}
            {% set numPosts = blog.posts_per_listing_page %}
            {% set blog_pages = blog_posts_filtered|batch(numPosts, "&nbsp;") %}
        {% endif %}
    {% endif %}

{% elif module.selection == "manual" %}
    {% if module.manual_selection %}
        {% set blog_posts = content_by_ids(module.manual_selection) %}

        {# make blog pages #}
        {% if blog_posts != [] %}
            {% if module.custom_limit %}
                {% set blog_pages = blog_posts|batch(module.number_of_posts|int, "&nbsp;") %}
            {% else %}
                {% set numPosts = blog.posts_per_listing_page %}
                {% set blog_pages = blog_posts|batch(numPosts, "&nbsp;") %}
            {% endif %}
        {% endif %}
        
    {% endif %}
{% endif %}


{% if blog_pages != [] %}
    <div class="container-fluid blog-listing g-0 {{module.advanced.additional_classes}}" style="{{module.styles.spacing_field.css}}  transition-property: height; transition-duration: 500ms;" id="bloglisting-{{name}}">
        <div class="row g-0">
            <div class="col pages-container" style="transition-property: height; transition-duration: 500ms; overflow: hidden; filter: drop-shadow({{module.styles.shadow}});">
                    {% for blog_page in blog_pages %}
                        {% if loop.index == 1 %}
                            {% set printPage = true %}
                        {% else %}
                            {% if module.styles.pagination %}
                                {% set printPage = true %}
                            {% else %}
                                {% set printPage = false %}
                            {% endif %}
                        {% endif %}
                        {% if printPage == true %}
                            <div id="bloglisting-{{name}}-{{loop.index}}" class="paginated-page {{ "d-none" if !loop.first else "active" }} row flex-wrap row-cols-{{module.styles.responsive.mobile.cards}} row-cols-md-{{module.styles.responsive.tablet.cards}} row-cols-lg-{{module.styles.responsive.desktop.cards}} g-3">
                                {% for blog in blog_page %}
                                    {% if blog != "&nbsp;" %}
                                        {% if blog.widgets.blog_type.body.value == "case_study" %}
                                            {% set blogType = "Case study" %}
                                            {% set typeColour = "text-bg-primary" %}
                                        {% elif blog.widgets.blog_type.body.value == "video" %}
                                            {% set blogType = "Video" %}
                                            {% set typeColour = "text-bg-red" %}
                                        {% elif blog.widgets.blog_type.body.value == "whitepaper" %}
                                            {% set blogType = "Whitepaper" %}
                                            {% set typeColour = "text-bg-blue" %}
                                        {% else %}
                                            {% set blogType = "Article" %}
                                            {% set typeColour = "text-bg-secondary" %}
                                        {% endif %}
                                        <div class="col">
                                        {% if blog.id is in pulloutIds %}
                                                {{ pullout_post() }}
                                        {% else %}
                                            {% if module.styles.card_style == "video" %}
                                            {{ video_post() }}
                                            {% elif module.styles.card_style == "blog" %}
                                            {{ single_blog_post() }}
                                            {% elif module.styles.card_style == "card" %}
                                            {{ single_blog_card() }}
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
        {% if module.styles.pagination && (blog_pages|length > 1) %}
            <div class="row pt-4 mt-auto">
                <div class="col text-center">      
                    <nav class="pagination-container" aria-label="Blog Listing Pagination">
                    
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}

<script>

window.addEventListener("load", function() {
if(document.readyState == 'complete') {

{% if module.styles.pagination && (blog_pages|length > 1) %}
    pagination("bloglisting-{{name}}", 1);
    {% endif %}
}
    {% if module.styles.equal_height_img %}
        $(window).on('load resize orientationchange', normaliseHeights("#bloglisting-{{name}} .single-blog .featured-image"));
    {% endif %}

    
    {% if module.styles.pagination && (blog_pages|length > 1) %}
    $(window).on('load resize orientationchange', updateHeight("bloglisting-{{name}}"));
    {% endif %}
});

</script>