<!--
  templateType: blog
  isAvailableForNewContent: true
  label: Linewize AU - Resource Listing Bridge
  screenshotPath: ../images/template-previews/blog-index.png
-->

{% extends "./layouts/base.html" %}

{% block body %}

  {% module_block module "module_15562422312671654" module_id=7571265, overrideable=True, path='/FZ19/au/modules/global/module_families_blog_heromenu_edu', per_widget_wrapper_html='', widget_name='module_families_blog_hero', wrapping_html='', label='module_families_blog_hero' %}
  {% end_module_block %}



{% if is_listing_view %}
  <style>


@media (min-width: 992px) {
  .blog_toptopicmenu .list-group-item:hover {
      border-bottom: 2px solid var(--q-primary);
      margin-bottom: -1px;
  }
	.blog_toptopicmenu .list-group-item.active {
		border-bottom: 2px solid var(--q-primary) !important;
		margin-bottom: -1px;
	}
}

/* FEATURED */
.blog_post_listing_large {
  position:relative;
}

.blog_post_listing_large .card-header {
  height:400px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}

.blog_post_listing_large .card-body small {
  text-transform:uppercase;
  font-size:70%;
}

.blog_post_listing_large .card-body h3 {
  margin-top:8px;
}

.blog_post_listing_large .card-footer {
  padding-top: 0;
  border: 0;
  background-color: #fff;
}



.card {
--q-card-border-width: var(--q-border-width);
--q-card-border-color: var(--q-border-color);
}

/* OTHER LISTINGS */
.blog_post_listing .card-header {
  height:200px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}

.blog_post_listing .card-body small {
  text-transform:uppercase;
  font-size:64%;
}

.blog_post_listing .card-body p {
  height:100px;
  overflow:hidden;
}

.blog_post_listing .card-footer {
  padding-top: 0;
  border: 0;
  background-color: #fff;
}

.button_readmore {
  font-weight:400;
  font-size:14px;
}

.blog_post_listing .card-footer .button_small {
  font-size:11px;
}

/* PAGINATION */
.blog_pagination_wrapper {
  padding-left:15px
}

/* POPULAR POSTS */
.media_body_keywords_wrapper {
  line-height:13px;
}
.blog_sidebar_popularposts .media:last-child {
  border-bottom:0 !important;
}
</style>


<div class="blog_post_listing_wrapper mt-3">
<div class="container-xl">
  <div class="row">

    {# Main content #}
    <div class="col-12 col-md-7 col-lg-8">
      <div class="col-12 blog_post_listing_large">

        {# First listing gets a bigger spot on page 1 only #}
        {% for content in contents %}
        {% if loop.index == 1 && current_page_num == 1 %}
        <div class="card mb-4">
          {# Card header #}
          <div class="card-header" style="background-image:url({{ content.featured_image }})">
            &nbsp;
          </div>

          {# Card body #}
          <div class="card-body pt-0">
                <small class="text-center d-block py-2 border-bottom fw-bold mb-1">{{ content.publish_date|datetimeformat('%B %e, %Y') }}</small>
            <small>
              {% for topics in content.topic_list %}
              {{ topics.name }} 
              {% if loop.index < loop.length %} | {% endif %}
              {% endfor %}
            </small>

            <h3 class="fw-medium"><a href="{{content.absolute_url}}">{{ content.name }}</a></h3>
            <p class="card-text text-start">{{ content.post_list_content|striptags|truncate(380) }}</p>
          </div>

          {# Card footer #}
          <div class="card-footer text-end">
            <a class="button_readmore pr-0" href="{{ content.absolute_url }}">Read more</a>
          </div>

        </div>
        {% endif %}
        {% endfor %}

        {# Other listings have smaller cards #}
        <div class="row">
          {% for content in contents %}
          {% if (loop.index > 1 && current_page_num == 1) or current_page_num > 1 %}
          <div class="col-12 col-lg-6 blog_post_listing mb-3">
            <div class="card h-100 position-relative">

              {# Card header #}
              <div class="card-header" style="background-image:url({{ content.featured_image }})">
                &nbsp;
              </div>

              {# Card body #}
              <div class="card-body pt-0">
                <small class="text-center d-block py-2 border-bottom font-weight-bold mb-1">{{ content.publish_date|datetimeformat('%B %e, %Y') }}</small>
                <small>
                  {% for topics in content.topic_list %}
                  {{ topics.name }} 
                  {% if loop.index < loop.length %} | {% endif %}
                  {% endfor %}
                </small>

                <h5 class="card-title"><a href="{{content.absolute_url}}" class="stretched-link">{{ content.name }}</a></h5>
                <p class="card-text text-left">{{ content.post_list_content|striptags|truncate(240) }}
                </p>
              </div>
              
              {# Card footer #}
              <div class="card-footer text-end">
                <a class="button_readmore pr-0 stretched-link" href="{{ content.absolute_url }}">Read more</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>

    {# Sidebar #}
    <div class="col-12 col-md-5 col-lg-4 blog_sidebar">

      {# Call to action #}
      <div class="row d-block align-items-center mb-4">
      <div class="col-12">
        <div class="card card_hover bg-primary shadow pb-3 border-0 position-relative">
          <div class="card-body text-center">
            <h5 class="card-title text-white mb-3">Would you like some more information? Or a demo?</h5>
            {% set contact_page = content_by_id(154259747599) %}
            <a href="{{ contact_page.absolute_url }}" class="btn btn-outline-light btn-sm stretched-link">Get in touch</a>
          </div>
        </div>
      </div>
    </div>

      {# Email subscribe #}
      <div class="row d-block align-items-center mb-4">
        <div class="col-12">
          <div class="card box_shadow box_shadow_light padding_bottom_15 blog_newslettersubscribe_light_wrapper">
            <div class="card-body">
              <h5 class="card-title">Subscribe to our newsletter</h5>
              <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                  portalId: "7977292",
                  formId: "d67f5cbc-c1c6-4ffc-86ad-c084d9ec7388"
                });
              </script>
            </div>
          </div>
        </div>
      </div>

      {# Social Media #}
      <div class="row blog_sidebar_social mb-5 d-none">
      <div class="col-12">
        <h5 class="mb-2">Follow us on social media</h5>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a href="https://www.facebook.com/familyzoneteam" target="_blank"><i class="fab fa-fw fa-facebook-f fa-lg" aria-hidden="true"></i></a></li>
          <li class="list-group-item"><a href="https://twitter.com/FamilyZoneEDU" target="_blank"><i class="fab fa-fw fa-x-twitter fa-lg" aria-hidden="true"></i></a></li>
          <li class="list-group-item"><a href="https://www.youtube.com/channel/UCz3yOmUS37o_KhE7ryHKOeA" target="_blank"><i class="fab fa-fw fa-youtube fa-lg" aria-hidden="true"></i></a></li>
          <li class="list-group-item"><a href="https://www.linkedin.com/company/10690733/" target="_blank"><i class="fab fa-fw fa-linkedin-in fa-lg" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

      {# Popular posts #}
      <div class="row d-block align-items-center mb-4 blog_sidebar_popularposts">
        <div class="col-12">
          <h5>
            Popular posts
          </h5>
          {% set pop_posts = blog_popular_posts('default', 6) %}
          {% for pop_post in pop_posts %}
          <div class="row align-items-center {{ "border-bottom" if !loop.last }} py-3">
            <div class="col-3">
              <div class="ratio ratio-1x1" style="background-image: url({{ pop_post.featured_image }}); background-size: cover;"></div>
            </div>
            <div class="media-body col-9">
              <div class="media_body_keywords_wrapper">
                <small class="lh-sm">
                  {% for topics in pop_post.topic_list %}
                  {{ topics.name }} 
                  {% if loop.index < loop.length %} | {% endif %}
                  {% endfor %}
                </small>
              </div>
              <a class="lh-sm" href="{{ pop_post.absolute_url }}">{{ pop_post.name }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </div>

  {# Pagination #}
  <div class="row blog_pagination_wrapper">
    <div class="col-12">
      {% set total_pages = contents.total_page_count %} {# sets variable for total pages #}
      {% set more_pages = total_pages - current_page_num %} {# sets variable for how many more pages are past the current pages #}
      {% if total_pages > 1 %}
      <nav>
        <ul class="pagination">
          <li class="page-item {% if current_page_num == 1 %}disabled{% endif %}"><a href="{% if last_page_num=="1" %}{{ group.absolute_url }}{% else %}{{blog_page_link(last_page_num)}}{% endif %}" class="page-link">Previous</a></li>

          {% if more_pages == 0 %}
          {% if current_page_num - 4 == 1 %}<li class="page-item"><a href="{{ group.absolute_url }}" class="page-link">{{ current_page_num - 4 }}</a></li>{% endif %}
          {% if current_page_num - 4 > 1 %}<li class="page-item"><a href="{{ blog_page_link(current_page_num - 4) }}" class="page-link">{{ current_page_num - 4 }}</a></li>{% endif %}
          {% endif %}
          {% if more_pages <= 1 %}
          {% if current_page_num - 3 == 1 %}<li class="page-item"><a href="{{ group.absolute_url }}" class="page-link">{{ current_page_num - 3 }}</a></li>{% endif %}
          {% if current_page_num - 3 > 1 %}<li class="page-item"><a href="{{ blog_page_link(current_page_num - 3) }}" class="page-link">{{ current_page_num - 3 }}</a></li>{% endif %}
          {% endif %}
          {% if current_page_num - 2 == 1 %}<li class="page-item"><a href="{{ group.absolute_url }}" class="page-link">{{ current_page_num - 2 }}</a></li>{% endif %}
          {% if current_page_num - 2 > 1 %}<li class="page-item"><a href="{{ blog_page_link(current_page_num - 2) }}" class="page-link">{{ current_page_num - 2 }}</a></li>{% endif %}
          {% if current_page_num - 1 == 1 %}<li class="page-item"><a href="{{ group.absolute_url }}" class="page-link">{{ current_page_num - 1 }}</a></li>{% endif %}
          {% if current_page_num - 1 > 1 %}<li class="page-item"><a href="{{ blog_page_link(current_page_num - 1) }}" class="page-link">{{ current_page_num - 1 }}</a></li>{% endif %}
          <li class="page-item active"><a href="{% if current_page_num==1 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(current_page_num) }}{% endif %}" class="page-link">{{ current_page_num }}</a></li>
          {% if current_page_num + 1 <= total_pages %}<li class="page-item"><a href="{{ blog_page_link(current_page_num + 1) }}" class="page-link">{{ current_page_num + 1 }}</a></li>{% endif %}
          {% if current_page_num + 2 <= total_pages %}<li class="page-item"><a href="{{ blog_page_link(current_page_num + 2) }}" class="page-link">{{ current_page_num + 2 }}</a></li>{% endif %}
          {% if current_page_num <= 2 %}
          {% if current_page_num + 3 <= total_pages %}<li class="page-item"><a href="{{ blog_page_link(current_page_num + 3) }}" class="page-link">{{ current_page_num + 3 }}</a></li>{% endif %}
          {% endif %}
          {% if current_page_num == 1 %}
          {% if current_page_num + 4 <= total_pages %}<li class="page-item"><a href="{{ blog_page_link(current_page_num + 4) }}" class="page-link">{{ current_page_num + 4 }}</a></li>{% endif %}
          {% endif %}
          <li class="page-item {% if current_page_num == total_pages %}disabled{% endif %}"><a href="{{blog_page_link(next_page_num)}}" class="page-link">Next</a></li>
        </ul>
      </nav>
      {% endif %}

    </div>
  </div>
</div>
</div>



{% else %}
  <style>

@media (min-width: 992px) {
  .blog_toptopicmenu .list-group-item:hover {
      border-bottom: 2px solid var(--q-primary);
      margin-bottom: -1px;
  }
	.blog_toptopicmenu .list-group-item.active {
		border-bottom: 2px solid var(--q-primary) !important;
		margin-bottom: -1px;
	}
}
/* Hero Image */
.blog_post_wrapper .blog-featured-image-wrapper {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  height:480px;
}

/* MAIN BLOG POST */
.blog_post img {
  max-width: 100%;
  height: auto;
}

/* SIDEBAR */
.media {
  margin-bottom:10px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-bottom: 16px;
  padding-top: 8px;
}
.media img {
  max-width:64px;
}
.media .media_wrapper {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  height:64px;
  width:64px;
  margin-right:10px;
}
.media .media-body small {
  text-transform:uppercase;
  font-size:64%
}
.blog_sidebar_popularposts .media:last-child {
  border-bottom:0 !important;
}

.card {
--q-card-border-width: var(--q-border-width);
--q-card-border-color: var(--q-border-color);
}

/* Previous / Next post buttons at the bottom of each post */
.blog_previousnextposts {
  margin-top:20px;
  border-top: 1px solid rgba(0,0,0,.1);
  padding-top:20px;
}

.blog_previousnextposts small {
  text-transform:uppercase;
  font-size: 64%;
  font-weight: bold;
}

.blog_nextpost .media_wrapper {
  margin-right:0 !important;
  margin-left:10px;
}

/* Recent posts */
.blog_post_recentfooter .card-header {
  height:200px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}

/* POPULAR POSTS */
.media_body_keywords_wrapper {
  line-height:13px;
}

/* Twitter share button fix */
.hs-blog-social-share-item-twitter {
  position:relative;
  top:4px;
}
</style>

<div class="blog_post_wrapper mt-3">
<div class="container">
  <div class="row">

    {# Blog Post #}
    <div class="col-12 col-md-7 col-lg-8 blog_post">

      {# Blog Post itself #}
      <h1 class="my-3 text_blue">{{ page_meta.name}}</h1>
      <p class="small font-weight-bold">
        {{ content.publish_date|datetimeformat('%B %e, %Y') }}
      </p>
      {% if content.post_list_summary_featured_image %}
        <img src="{{ content.post_list_summary_featured_image }}" class="pb-4">
      {% endif %}

      {{ content.post_body }}
      
      {% module "module_157137775553493" path="/Custom modules/Blog CTA", label="Blog CTA" %}

      <hr>

      {% if content.topic_list %}
      <p id="hubspot-topic_data" > Topics:
        {% for topic in content.topic_list %}
        <a class="topic-link" href="{{ group.absolute_url }}/topic/{{ topic.slug }}">{{ topic.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </p>
      {% endif %}
      {% blog_social_sharing "blog_social_sharing" overrideable=False, label='Blog Social Sharing' %}

      {# Previous and Next Posts #}
      <div class="row blog_previousnextposts">
        
        {# Developers note #}
        {# Hubspot has named their variables in an odd fashion. The previous_post_X is in fact next_post_X and vice versa #}

        {# Previous post #}
        <div class="col-6 blog_previouspost">
          {% if content.next_post_featured_image %}
          <small>Previous post</small>
          <div class="row border-0">
            <div class="col-3" style="">
              <div class="ratio ratio-1x1" style="background-image:url({{ content.next_post_featured_image }}); background-size: cover;"></div>
            </div>
            <div class="col-9 position-relative media-body">
              <a href="https://www.familyzone.io/{{ content.next_post_slug }}" class="stretched-link">{{ content.next_post_name }}</a>
            </div>
          </div>
          {% endif %}
        </div>

        {# Next post #}
        <div class="col-6 blog_nextpost text-end">
          {% if content.previous_post_featured_image %}
          <small>Next post</small>
          <div class="row justify-content-end">
            <div class="col-9 position-relative media-body">
              <a href="https://www.familyzone.io/{{ content.previous_post_slug }}" class="stretched-link">{{ content.previous_post_name }}</a>
            </div>
            <div class="col-3" style="">
              <div class="ratio ratio-1x1" style="background-image:url({{ content.previous_post_featured_image }}); background-size: cover;"></div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

    </div>

    {# Sidebar #}
    <div class="col col-md-5 col-lg-4 blog_sidebar pt-4">

      {# Call to action #}
      <div class="row d-block align-items-center mb-4">
        <div class="col-12">
          <div class="card card_hover bg-primary shadow pb-3 border-0 position-relative">
            <div class="card-body text-center">
              <h5 class="card-title text-white mb-3">Would you like some more information? Or a demo?</h5>
              <a href="https://www.familyzone.io/contact-us" class="btn btn-outline-light btn-sm stretched-link">Get in touch</a>
            </div>
          </div>
        </div>
      </div>

      {# Email subscribe #}
      <div class="row d-block align-items-center mb-4">
        <div class="col-12">
          <div class="card box_shadow box_shadow_light padding_bottom_15 blog_newslettersubscribe_light_wrapper">
            <div class="card-body">
              <h5 class="card-title">Subscribe to our newsletter</h5>
              <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                  portalId: "5840292",
                  formId: "f3045ad5-2bc5-46bb-b87f-1ecd93cce900"
                });
              </script>
            </div>
          </div>
        </div>
      </div>

      {# Social Media #}
      <div class="row blog_sidebar_social mb-5">
      <div class="col-12">
        <h5 class="mb-2">Follow us on social media</h5>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a href="https://www.facebook.com/familyzoneteam" target="_blank"><i class="fab fa-fw fa-facebook-f fa-lg" aria-hidden="true"></i></a></li>
          <li class="list-group-item"><a href="https://twitter.com/FamilyZoneEDU" target="_blank"><i class="fab fa-fw fa-x-twitter fa-lg" aria-hidden="true"></i></a></li>
          <li class="list-group-item"><a href="https://www.youtube.com/channel/UCz3yOmUS37o_KhE7ryHKOeA" target="_blank"><i class="fab fa-fw fa-youtube fa-lg" aria-hidden="true"></i></a></li>
          <li class="list-group-item"><a href="https://www.linkedin.com/company/10690733/" target="_blank"><i class="fab fa-fw fa-linkedin-in fa-lg" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

      {# Popular posts #}
      <div class="row d-block align-items-center mb-4 blog_sidebar_popularposts">
      <div class="col-12">
        <h5>
          Popular posts
        </h5>
        {% set pop_posts = blog_popular_posts('default', 6) %}
        {% for pop_post in pop_posts %}
        <div class="row align-items-center {{ "border-bottom" if !loop.last }} py-3">
          <div class="col-3">
            <div class="ratio ratio-1x1" style="background-image: url({{ pop_post.featured_image }}); background-size: cover;"></div>
          </div>
          <div class="media-body col-9">
            <div class="media_body_keywords_wrapper">
              <small class="lh-sm">
                {% for topics in pop_post.topic_list %}
                {{ topics.name }} 
                {% if loop.index < loop.length %} | {% endif %}
                {% endfor %}
              </small>
            </div>
            <a class="lh-sm" href="{{ pop_post.absolute_url }}">{{ pop_post.name }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    </div>

  </div>
</div>

{# Recent Posts #}
<div class="container mt-4 mb-4 blog_post_recentfooter">
  <div class="row">
    <div class="col">
      <h3>Recent posts</h3>
    </div>
  </div>
  <div class="row">
    {% set rec_posts = blog_recent_posts('default', 4) %}
    {% for rec_post in rec_posts %}
    <div class="col col-lg blog_post_listing mb-3">
      <div class="card h-100 position-relative">

        {# Card header #}
        <div class="card-header" style="background-image:url({{ rec_post.featured_image }})">
          &nbsp;
        </div>

        {# Card body #}
        <div class="card-body ">
          <h5 class="card-title"><a href="{{rec_post.absolute_url}}" class="stretched-link">{{ rec_post.name }}</a></h5>
          <p class="card-text">{{ rec_post.post_list_content|striptags|truncate(140) }}</p>
        </div>

        {# Card footer #}
        <div class="card-footer text-end">
          <a class="button_readmore pr-0" href="{{ rec_post.absolute_url }}">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

</div>
{% endif %}
{% endblock body %}