<!--
    templateType: none
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    <meta name="description" content="{{ content.meta_description }}">
    {{ require_css(get_asset_url('/q-theme/css/qoria-theme.min.css')) }}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-rqn26AG5Pj86AF4SO72RK5fyefcQ/x32DNQfChxWvbXIyXFePlEktwD18fEz+kQU" crossorigin="anonymous">
    {{ standard_header_includes }}
  </head>
  <body data-bs-spy="scroll" data-bs-target="#pageContents">
  
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZXZDZR9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    
    {% block header %}
      <div class="header-wrapper sticky-top shadow-sm">
        {% global_partial path='../partials/header.html', label="Header" %}
      </div>
    {% endblock header %}

    <div class="content-wrapper">
    {% block body %}
    {% endblock body %}
    </div>
    
    {% block footer %}
      <div class="footer-wrapper">
    {% global_partial path='../partials/footer.html', label="Footer" %}
      </div>
    {% endblock footer %}

    {{ standard_footer_includes }}
    {{ require_js(get_asset_url('/q-theme/js/bootstrap.bundle.min.js')) }}
  </body>
</html>