<div class="row row-cols-{{module.styles.responsive.mobile.cards}} row-cols-sm-{{module.styles.responsive.tablet.cards}} row-cols-lg-{{module.styles.responsive.desktop.cards}}" style="{{module.styles.spacing_field.css}}">
    {% for person in module.team_member %}
        {% set card = false %}
        {% if module.styles.card_colour && module.styles.card_colour != " " %}
            {% set card = true %}
        {% endif %}
        <div class="col {{ "pb-4" if card }}">
            {% if person.anchor %}
                <a id="{{person.anchor}}" data-hs-anchor="true"></a>
            {% endif %}
            {% if card %}
                <div class="card {{module.styles.card_colour}} {{module.styles.shadow}} h-100">
                    <div class="card-body {% if person.full_profile %}pb-0{% endif %}">
                        {% if person.image.src %}
                            <img src="{{person.image.src}}" alt="{{person.image.alt}}" class="img-fluid w-100 mb-4 {{ "filter-grayscale" if module.styles.greyscale_filter }}">
                        {% endif %}
                        <p class="fs-6 fw-semibold mb-2">{{person.person_name}}</p>
                        <p class="fs-6  mb-4">{{person.title}}</p>
                        {% if person.short_profile && person.short_profile != "" %}
                            {{ person.short_profile }}
                        {% endif %}
                    </div>
                    {% if person.full_profile %}
                        <div class="card-footer bg-transparent">
                            <a class="" href="#"
                                    data-bs-toggle="modal"
                                data-bs-target="#bio_{{ loop.index }}"
                                rel="{{ rel }}">
                                Read more +
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {% if person.image.src %}
                    <img src="{{person.image.src}}" alt="{{person.image.alt}}" class="img-fluid w-100 mb-4 {{ "filter-grayscale" if module.styles.greyscale_filter }}">
                {% endif %}
                <p class="fs-6 fw-semibold mb-2">{{person.person_name}}</p>
                <p class="fs-6  mb-4">{{person.title}}</p>
                {% if person.short_profile && person.short_profile != "" %}
                    {{ person.short_profile }}
                {% endif %}
                {% if person.full_profile %}
                        <a class="" href="#"
                                data-bs-toggle="modal"
                            data-bs-target="#bio_{{ loop.index }}"
                            rel="{{ rel }}">
                            Read more +
                        </a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>

{% for person in module.team_member %}
    {% if person.full_profile %}
        <div class="modal fade" id="bio_{{ loop.index }}" tabindex="-1" aria-labelledby="Bio {{ loop.index }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-header border-0 p-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body px-5 py-4 pt-2">
                    
                    {{ person.full_profile }}

                    </div>
                </div>
            </div>
            </div>
    {% endif %}
{% endfor %}