<!-- module html  -->
<div id="carousel_{{name}}" class="carousel {% if module.style.normalise_heights %}carousel-normalise{% endif %} slide {{ module.style.slide_or_fade }} {{ module.style.dark_or_light }}" data-bs-interval="{{ module.style.interval }}" data-bs-wrap="{{ module.style.infinite_scrolling }}" data-bs-ride="{{ module.style.autoplay }}">
{% if module.style.indicators %}
 <div class="carousel-indicators">
   {% for item in module.slide %}
       <button type="button" data-bs-target="#carousel_{{name}}" data-bs-slide-to="{{loop.index0}}" {% if loop.first %}class="active" aria-current="true" {% endif %} aria-label="Slide {{loop.index}}"></button>
   {% endfor %}
 </div>
 {% endif %}
 <div class="carousel-inner">
   {% for item in module.slide %}
   
   <div class="carousel-item {% if loop.first %}active{% endif %}" {% if item.custom_interval %}data-bs-interval="{{ item.custom_interval }}"{% endif %}>
     {% set caroSlidesClasses = "col-12" %}
     {% if module.style.slides_to_display == 2 %}
       {% set caroSlidesClasses = "col-12 col-md-6" %}
     {% elif module.style.slides_to_display == 3 %}
       {% set caroSlidesClasses = "col-12 col-md-4" %}
     {% elif module.style.slides_to_display == 4 %}
       {% set caroSlidesClasses = "col-12 col-md-3" %}
     {% endif %}
       <div class="{{caroSlidesClasses}}">
         <div class="row h-100 {{item.vertical_alignment}}">
           {% for item2 in item.column %}
             <div class="{{item2.column_classes}}">
               {{ item2.content }}
             </div>
           {% endfor %}
         </div>
       </div>
   </div>
{% endfor %}
 </div>
 {% if module.style.controls %}
 <button class="carousel-control-prev" type="button" data-bs-target="#carousel_{{name}}" data-bs-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Previous</span>
 </button>
 <button class="carousel-control-next" type="button" data-bs-target="#carousel_{{name}}" data-bs-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Next</span>
 </button>
{% endif %}
</div>


{% if module.style.slides_to_display > 1 %}
<script type="text/javascript">
let items = document.querySelectorAll('.carousel .carousel-item')

items.forEach((el) => {
   const minPerSlide = {{module.style.slides_to_display}}
   let next = el.nextElementSibling
   for (var i=1; i<minPerSlide; i++) {
       if (!next) {
           // wrap carousel by using first child
           next = items[0]
         }
       let cloneChild = next.cloneNode(true)
       el.appendChild(cloneChild.children[0])
       next = next.nextElementSibling
   }
})

</script>

<style>
@media (max-width: 767px) {
   .carousel-inner .carousel-item > div {
       display: none;
   }
   .carousel-inner .carousel-item > div:first-child {
       display: block;
   }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
   display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
   
   .carousel-inner .carousel-item-end.active,
   .carousel-inner .carousel-item-next {
     transform: translateX({{100 / module.style.slides_to_display}}%);
   }
   
   .carousel-inner .carousel-item-start.active, 
   .carousel-inner .carousel-item-prev {
     transform: translateX(-{{100 / module.style.slides_to_display}}%);
   }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
 transform: translateX(0);
}
</style>
{% endif %}