{% require_css %}
  <style>
    {% scope_css %}
      .carousel-container {
        display: grid !important;
        {% if module.style.controls %}
        grid-template-columns: 60px 1fr 60px;
        margin: 0 -60px;
        {%else%}
          grid-template-columns: 1fr;
        {%endif%}
        {%if module.style.indicators %}
        padding-bottom: 2rem;
        {% endif %}
      }


      {%- if module.style.responsive.mobile.slides_per_row|default(0) != 0 %}
      .slick-slide > div {
        height: 100%;
      }
      {% endif %}

      {% if module.style.normalise_heights %}
      .slick-initialized .slick-slide {
          /* display: block; */
          display: flex;
          align-items: {{module.style.vertical_align}};
          justify-content: {{module.style.horizontal_align}};
      }

      .slide {
        display: inline-flex !important;
        height: 100%;
      }
      {% endif %}
        
      .slick-slide > .row > .col-12 {
        {% if module.style.slide.background.background_type == "color" and module.style.slide.background.color.color %}
          background-color: rgba({{ module.style.slide.background.color.color|convert_rgb }}, {{ module.style.slide.background.color.opacity / 100 }});
        {% elif module.style.slide.background.background_type == "gradient" %}
          background: {{ module.style.slide.background.gradient.css }};
        {% elif module.style.slide.background.background_type == "image" %}
          background-image: url({{ module.style.slide.background.image.src }}); 
          background-size: cover;"
        {% endif %}
      }

      {% if module.style.slide.spacing %}
        .slick-list {
          margin: 0 -{{module.style.slide.spacing/2}}px;
        }
        .slick-slide > div {
          padding: 0 {{module.style.slide.spacing/2}}px;
        }
      {% endif %}

    {% end_scope_css %}
  </style>
{% end_require_css %}



{% macro card(card) %}

  
    <div class="col">
    <div class="card {{ module.style.card_colour  if (card.override_colour == " " || !card.override_colour) else card.override_colour }} {{ card.shadow }} border-0 {{ "h-100 d-flex flex-column" if module.style.equal_heights }}">
  
  
        {% set headingColour = " " %}
        {% set preHeadingColour = " " %}
  
          {% if card.icon_toggle == true %}
            {% set icon = true %}
          {% else %}
            {% set icon = false %}
          {% endif %}
         
         <div class="card-body {{ module.style.card_colour  if (card.override_colour == " " || !card.override_colour) else card.override_colour }} text-{{ module.style.textalignment }} {{ "d-flex flex-column" if module.style.equal_heights }}">
  
        {% if ((card.preheader_toggle && card.pre_header != "") || (icon == true) || (card.title != ""))  %}
          <div class="d-flex justify-content-{{ module.style.textalignment }} mb-3 align-items-center">
            <div>
              {% if card.preheader_toggle && card.pre_header != "" %}
                <div class="{{card.preheader_size if card.preheader_size else "h6"}} mb-0 fw-normal {{ preHeadingColour }}">{{ card.pre_header }}</div>
              {% endif %}
              {% if card.title != "" %}
                <h5 class="text-{{module.style.textalignment}} {{ card.title_size if card.title_size else "h5" }} {{ headingColour }} mb-0">{{ card.title }}</h5>
              {% endif %}
            </div>
          
            {% if icon == true %}
              {% if card.icon.icon_colour != "inherit" %}
                {% set iconColour = card.icon.icon_colour %}
              {% else %}
                {% set iconColour = module.style.icon.icon_colour %}
              {% endif %}
              <div class="flex-shrink-0 ms-auto ps-3">
                {% if card.icon.custom_image.src %}
                  {% set sizeAttrs = 'width="{{ card.icon.custom_image.width }}" height="{{ card.icon.custom_image.height }}"' %}
                  {% if card.icon.custom_image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ card.icon.custom_image.width }}" height="{{ card.icon.custom_image.height }}" style="max-width: 100%; height: auto;"' %}
                  {% elif card.icon.custom_image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ card.icon.custom_image.max_width }}" height="{{ card.icon.custom_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                  {% endif %}
                  {% set loadingAttr = card.icon.custom_image.loading != 'disabled' ? 'loading="{{ card.icon.custom_image.loading }}"' : '' %}
                  <img src="{{ card.icon.custom_image.src }}" alt="{{ card.icon.custom_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% else %}
                  <div style="content-sizing: border-box;" class="d-flex justify-content-center align-items-center">
                    {% if card.icon.icon_code != "none" %}
                      {% if card.icon.icon_code %}
                        {% set iconCode = "fa-" ~ card.icon.icon_code %}
                      {% else %}
                        {% set iconCode = "fa-" ~ card.icon.icon_field.name|lower|replace(" ", "-") %}
                      {% endif %}
                      {% if card.icon.sizing == "inherit" %}
                        {% set sizing = globalSizing %}
                      {%elif card.icon.sizing == "relative" %}
                        {% set sizing = card.icon.relative_icon_size %}
                      {% elif card.icon.sizing == "absolute" %}
                        {% set sizing = card.icon.absolute_icon_size %}
                      {% endif %}
                      {% if card.icon.icon_style != "inherit" %}
                        {% set iconStyle = card.icon.icon_style %}
                      {% else %}
                        {% set iconStyle = module.style.icon.icon_style %}
                      {% endif %}
                    <i class="text-{{iconColour}} fa-fw {{ "lh-base" if module.style.icon.sizing == "relative" }} {{ iconStyle }} {{ sizing }} {{ iconCode }}" style="{{ "line-height: " + (card.icon.icon_height * 4) + "px;" if card.icon.custom_icon_height }}"></i>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endif %}
  
        {% if card.text %}
          <div class="card-text flex-grow-1">
          {{ card.text }}
          </div>
        {% endif %}
        {% if card.link.url.href %}
          {% if card.cta_style %}
            {% if card.cta_style != "text-" %}
              {% set ctaClasses = card.cta_size ~ " " ~ card.cta_style ~ card.cta_colour ~ " mt-3" %}
            {% else %}
              {% set ctaClasses = "text-" ~ card.cta_colour ~ " mt-3 text-decoration-none fw-semibold" %}
            {% endif %}
          {% else %}
            {% set ctaClasses = "text-reset text-decoration-none fw-semibold mt-2" %}
          {% endif %}
          {% if (card.cta_alignment) && (card.cta_alignment != "inherit") %}
            {% if card.cta_alignment == "center" %}
              {% set ctaClasses = ctaClasses ~ " mx-auto" %}
            {% elif card.cta_alignment == "end" %}
              {% set ctaClasses = ctaClasses ~ " ms-auto" %}
            {% elif card.cta_alignment == "start" %}
              {% set ctaClasses = ctaClasses ~ " me-auto" %}
            {% endif %}
          {% else %}
            {% if module.styles.textalignment == "center" %}
              {% set ctaClasses = ctaClasses ~ " mx-auto" %}
            {% elif module.styles.textalignment == "end" %}
              {% set ctaClasses = ctaClasses ~ " ms-auto" %}
            {% elif module.styles.textalignment == "start" %}
              {% set ctaClasses = ctaClasses ~ " me-auto" %}
            {% endif %}
          {% endif %}
          <a href="{{card.link.url.href}}" 
          class="{{ "stretched-link" if card.stretched_link }} {{ ctaClasses }}"
          {% if card.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if card.download %}
            {% if card.download_file %}
              download="{{card.download_file}}"
            {% else %}
                download
            {% endif %}
          {% endif %}
          >
          {% if (card.link_label|striptags) is string_containing "->" %}
            {% set linkLabel = card.link_label|replace('->','<i class="fa fa-arrow-right"></i>') %}
          {% elif (card.link_label|striptags) is string_containing " >" %}
            {% set linkLabel = card.link_label|replace(' >',' <i class="fa fa-chevron-right"></i>') %}
          {% else %}
            {% set linkLabel = card.link_label %}
          {% endif %}
          {{linkLabel}}</a>
        {% endif %}
  
       </div>
    </div>
  </div>
  
  {% endmacro %}


{% if module.slide|length == 0 %}

    {% if is_in_page_editor %}
        {% editor_placeholder %}
    {% endif %}

{% endif %}

    <div class="carousel-container " id="slick-{{name}}">

    {% if module.style.controls %}
        <div class="slider-arrow-container align-self-center text-center">
            <a class="" aria-label="Previous" type="button" style="" aria-disabled="false" id="prevArrow-{{name}}">
                <span class="fa-stack fa-2x fs-6 {{module.style.dark_or_light}}">
                <i class="fal fa-circle fa-stack-2x"></i>
                <i class="fas fa-chevron-left fa-stack-1x"></i>
                </span>
            </a>
        </div>
        {%endif%}
        
    <div class="{{module.style.dark_or_light}} carousel-slider {{ module.style.shadow if module.style.shadow is string_containing "filter" }} {{ "section-shadow" if module.style.shadow == "section-shadow" }}" style="{{ "transform-style: preserve-3d; position: relative; z-index: 2;" if module.style.shadow == "section-shadow" }}" id="{{ module.new_id if module.custom_id else "carousel_" ~ name}}">

      {% for item in module.slide %}
        
        {% if item.background.background_type != "inherit" %}
            {% if item.background.background_type == "color" and item.background.color.color %}
              {% set slideStyles = "background-color: rgba({{ item.background.color.color|convert_rgb }}, {{ item.background.color.opacity / 100 }});" %}
            {% elif item.background.background_type == "gradient" %}
              {% set slideStyles = "background: {{ item.background.gradient.css }};" %}
            {% elif item.background.background_type == "image" %}
              {% set slideStyles = "background-image: url({{ item.background.image.src }}); background-size: cover;" %}
            {% else %}
              {% set slideStyles = "" %}
            {% endif %}
          {% else %}
            {% set slideStyles = "" %}
        {% endif %}
        
          <div class="slide">
            {%- if module.style.responsive.mobile.slides_per_row|default(0) != 0  %}
              <div>
            {% endif -%}
                <div class="row g-0 w-100" style="">
                    <div class="col-12 {{item.slide_class}}" style="{{ slideStyles }} {{module.style.slide.spacing_field.css}}">
                        <div class="row g-0 w-100">
                            {% for item2 in item.column %}
                                <div class="{{ item2.column_classes }}">
                                {{ item2.content }}
                                </div>
                            {% endfor %}
                        </div>
                        {% if item.card|length > 0 %}
                        <div class="row row-cols-{{module.style.responsive.mobile.cards}} row-cols-md-{{module.style.responsive.tablet.cards}} row-cols-lg-{{module.style.responsive.desktop.cards}} g-3 justify-content-{{module.style.row_alignment}}">
                        {% for item2 in item.card%}
                
                            {{ card(item2) }}
                
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>    
            </div>
          {%- if module.style.responsive.mobile.slides_per_row|default(0) != 0  %}
          </div>
        {% endif -%}
      {% endfor %}
    </div>

    {% if module.style.controls %}
        <div class="slider-arrow-container align-self-center text-center">
            <a class="" aria-label="Next" type="button" style="" aria-disabled="false" id="nextArrow-{{name}}">
                <span class="fa-stack fa-2x fs-6 {{module.style.dark_or_light}}">
                <i class="fal fa-circle fa-stack-2x"></i>
                <i class="fas fa-chevron-right fa-stack-1x"></i>
                </span>
            </a>
        </div>
        {%endif%}

    </div>

<script>
document.addEventListener("DOMContentLoaded", () => {
        var smallBreakpoint = window.getComputedStyle(document.documentElement).getPropertyValue('--q-breakpoint-sm');
        var largeBreakpoint = window.getComputedStyle(document.documentElement).getPropertyValue('--q-breakpoint-lg');
    $('#{{ module.new_id if module.custom_id else "carousel_" ~ name}}').slick({
        dots: {{ module.style.indicators }},
        infinite: {{ module.style.infinite_scrolling }},
        speed: 300,
        autoplay: {{ module.style.autoplay }},
        {%- if module.style.autoplay %} autoplaySpeed: {{ module.style.interval }}, {% endif -%}
        {%- if module.style.center_mode %} centerMode: {{ module.style.center_mode }}, 
          centerPadding: '{{ module.style.responsive.mobile.center_padding }}%',{% endif -%}
        arrows: {{ module.style.controls }},
        prevArrow: '#prevArrow-{{name}}',
        adaptiveHeight: {{ module.style.adaptive_height }},
        nextArrow: '#nextArrow-{{name}}',
        {% if module.as_nav_for -%}
        asNavFor: '{{module.nav_id}}',
        {%- endif %}
        {%- if module.style.slide_or_fade == "carousel-fade" %}
        fade: true,
        {% endif -%}
        {%- if module.style.focus_on_select %}
          focusOnSelect: true,
        {% endif -%}
        dotsClass: "slider-indicators",
        mobileFirst: true,
        slidesToShow: {{ module.style.responsive.mobile.slides_to_display }},
        slidesToScroll: {{ module.style.responsive.mobile.slides_to_slide }},
        {%- if module.style.responsive.mobile.slides_per_row != 0 %}
        rows: {{ (module.slide|length / module.style.responsive.mobile.slides_per_row)|int|round(0, "ceil") }},
        slidesPerRow: {{module.style.responsive.mobile.slides_per_row}},
        {% else %}
        rows: 1,
        {% endif -%}
        responsive: [
            {
                breakpoint: parseInt(largeBreakpoint),
                settings: {
                  slidesToShow: {{ module.style.responsive.desktop.slides_to_display }},
                  {%- if module.style.responsive.desktop.slides_per_row != 0 %}
                    rows: {{ (module.slide|length / module.style.responsive.desktop.slides_per_row)|int|round(0, "ceil") }}
                  {% else %}
                    rows: 1,
                  {% endif -%}
                  {%- if module.style.center_mode %} centerMode: {{ module.style.center_mode }}, 
                    centerPadding: '{{ module.style.responsive.desktop.center_padding }}%',{% endif -%}
                  slidesToScroll: {{ module.style.responsive.desktop.slides_to_slide }},
                }
            },
            {
                breakpoint: parseInt(smallBreakpoint),
                settings: {
                  slidesToShow: {{ module.style.responsive.tablet.slides_to_display }},
                  {%- if module.style.responsive.tablet.slides_per_row != 0 %}
                  rows: {{ (module.slide|length / module.style.responsive.tablet.slides_per_row)|int|round(0, "ceil") }},
                  {% else %}
                  rows: 1,
                  {% endif -%}
                  centerMode: false,
                  slidesToScroll: {{ module.style.responsive.tablet.slides_to_slide }},
                }
            }
        ]
    });

    {% if module.style.normalise_heights -%}
        
        window.addEventListener('load', function(){
          normaliseHeights("##slick-{{ name }} .slick-slide", "xs");
        });

    {%- endif %}

});
</script>