<!--
  templateType: page
  isAvailableForNewContent: true
  label: Linewize US Content Aware LP
  screenshotPath: ../../images/template-previews/landing-page.png
-->
  
{% extends "../landing-page-no-navigation.html" %}


{% block body %}
{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-hidden"
%}
    {% dnd_section
    full_width=true
    %}
        {% dnd_column
        offset=0,
        width=12
        %}
            {% dnd_row %}
                {% dnd_module
                path="/q-theme/modules/hero",
                offset=0,
                width=12,
                cta=[ ],
                header="Content-aware Module: <br><strong>Image Blurring</strong>",
                hero_type="full-image",
                image={
                    "alt" : "imageblur-module-banner",
                    "height" : 1000,
                    "loading" : "disabled",
                    "max_height" : 1000,
                    "max_width" : 1500,
                    "size_type" : "auto",
                    "src" : "https://www.linewize.com/hubfs/imageblur-module-banner.png",
                    "width" : 1500
                },
                menu=115248177746,
                page_contents=[ {
                    "anchor" : "#book-meeting",
                    "content_label" : "Request information"
                }, {
                    "anchor" : "#video",
                    "content_label" : "Video: How it works"
                }, {
                    "anchor" : "#image-blurring",
                    "content_label" : "Feature overview: Image Blurring"
                }, {
                    "anchor" : "#filter",
                    "content_label" : "Linewize Filter"
                } ],
                pre_header="",
                show_breadcrumbs=false,
                show_share_price=false,
                style={
                    "heading_location" : "bottom-left"
                },
                video=""
                %}
                {% end_dnd_module %}
            {% end_dnd_row %}
        {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
    background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : "https://www.linewize.com/hubfs/Rebrand%20-%20Email%20Assets/US_QORIA_Email_background.jpg"
    },
    padding={
        "default" : {
        "bottom" : "-11px",
        "left" : "16px",
        "right" : "16px",
        "top" : "34px"
        },
        "mobile" : {
        "bottom" : "32px",
        "top" : "32px"
        }
    },
    margin={
        "default" : {
        "top" : "0px"
        }
    }
    %}
    {% dnd_column
        offset=0,
        width=10
    %}
        {% dnd_row %}
            {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
            %}
                {% module_attribute "html" %}
                <p class="intro" style="text-align: left;">&nbsp;</p>
                <p class="intro" style="text-align: left;"><span style="color: #ffffff;">Don't let inappropriate images reach students.</span></p>
                <p class="intro" style="text-align: left;">&nbsp;</p>
                {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
        offset=10,
        width=2
    %}
        {% dnd_row %}
            {% dnd_module
                path="@hubspot/horizontal_spacer",
                offset=0,
                width=12
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
    {% end_dnd_column %}
{% end_dnd_section %}
{% dnd_section
  background_color="rgba(238, 238, 238, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "36px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false
%}
  {% dnd_column
    offset=0,
    width=6,
    padding={
      "default" : {
        "bottom" : "0px",
        "right" : "2rem",
        "top" : "0px"
      },
      "mobile" : {
        "bottom" : "32px",
        "right" : "0px"
      }
    },
    margin={
      "default" : {
        "top" : "-2rem"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h3",
        style={
          "heading_underline" : true,
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 42
              },
              "top" : { }
            },
            "padding" : {
              "bottom" : { },
              "left" : { },
              "right" : { },
              "top" : {
                "units" : "px",
                "value" : 20
              }
            }
          },
          "textalignment" : "start"
        }
      %}
        {% module_attribute "heading" %}
          <strong>Harmful &amp; inappropriate imagery puts your students and district at risk.</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p class="lead" style="font-size: 22px; line-height: 1.5;">In a fast-evolving digital space, your filter should respond just as quickly to shifting district needs.</p>
          <p class="lead" style="font-size: 22px; line-height: 1.5;">Upgrade your filter and look beyond the URL to provide a safer, more compliant digital experience in real-time.</p>
          <p class="lead" style="font-size: 22px; line-height: 1.5; font-weight: bold;">Request a demo to learn more <span style="font-weight: normal;">and try Content-aware Image Blurring in your district.</span></p>
          <p class="lead" style="font-size: 20px; line-height: 1.5;"><span style="color: #272727;">&nbsp;</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=6,
    padding={
      "default" : {
        "left" : "2rem"
      },
      "mobile" : {
        "left" : "0px"
      }
    },
    margin={
      "default" : {
        "top" : "5rem"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="book-meeting"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/form",
        offset=0,
        width=12,
        form={
          "form_id" : "fa7f387f-fe41-4abc-aa87-882dfb7d49d5",
          "form_type" : "HUBSPOT",
          "message" : "<p>Thanks for requesting more information! Our team will reach out to you shortly. </p>\n<p>In the meantime, <a href=\"https://www.linewize.com/hubfs/Data%20Sheets%20%2B%20Brochures%202024/Linewize%20School%20Manager%20Content-aware%20Module%20-%20Image%20Blurring%20-%20Solution%20Sheet.pdf\" rel=\"noopener\">learn more about Content-aware Module Image Blurring here</a>. </p>",
          "response_type" : "inline"
        },
        style={
          "background_colour" : "bg-gradient-primary text-white",
          "button_colour" : "primary",
          "form_style" : "form-light",
          "rounded_corners" : "rounded-2",
          "shadow" : "shadow-sm",
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : {
                "units" : "px",
                "value" : -10
              }
            },
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 32
              },
              "left" : {
                "units" : "px",
                "value" : 32
              },
              "right" : {
                "units" : "px",
                "value" : 32
              },
              "top" : {
                "units" : "px",
                "value" : 32
              }
            }
          }
        },
        title="Meet with me"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="newfeature"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h5",
        style={
          "heading_underline" : false,
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          NEW FEATURE
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h1",
        heading_underline="true",
        style={
          "colour" : " ",
          "heading_underline" : false,
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          <strong>Content-aware Module: </strong>Image Blurring
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h3",
        style={
          "heading_underline" : true,
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            },
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 10
              },
              "left" : { },
              "right" : { },
              "top" : {
                "units" : "px",
                "value" : 5
              }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          <span style="font-weight: bold;">Blur inappropriate images</span> on new, uncategorized, or proxy sites in real time.
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=6,
        padding={
          "mobile" : {
            "bottom" : "32px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/icon-and-text-group",
            offset=0,
            width=12,
            icon_and_text=[ {
              "icon" : {
                "absolute_icon_size" : "fa-2x",
                "custom_image" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "icon_code" : "check",
                "icon_colour" : "inherit",
                "icon_field" : {
                  "name" : "Check Circle",
                  "type" : "REGULAR",
                  "unicode" : "f058"
                },
                "icon_shape" : "icon-only",
                "icon_style" : "fas",
                "max_width" : 52,
                "relative_icon_size" : "fa-xl",
                "sizing" : "inherit"
              },
              "icon_alignment" : "align-items-center",
              "text" : "<h6>Prevent students from viewing harmful images</h6>\n<p>Reinforce compliance &amp; instantly block inappropriate images, including those that slip past Google SafeSearch.</p>"
            }, {
              "icon" : {
                "absolute_icon_size" : "fa-2x",
                "custom_image" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "icon_code" : "check",
                "icon_colour" : "inherit",
                "icon_field" : {
                  "name" : "Check Circle",
                  "type" : "REGULAR",
                  "unicode" : "f058"
                },
                "icon_shape" : "icon-only",
                "icon_style" : "fas",
                "max_width" : 52,
                "relative_icon_size" : "fa-xl",
                "sizing" : "inherit"
              },
              "icon_alignment" : "align-items-center",
              "text" : "<h6>Avoid over-censoring your academic environment</h6>\n<p>Customize \"blur\" sensitivity levels across different safety categories.</p>"
            }, {
              "icon" : {
                "absolute_icon_size" : "fa-2x",
                "custom_image" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "icon_code" : "check",
                "icon_colour" : "inherit",
                "icon_field" : {
                  "name" : "Check Circle",
                  "type" : "REGULAR",
                  "unicode" : "f058"
                },
                "icon_shape" : "icon-only",
                "icon_style" : "fas",
                "max_width" : 52,
                "relative_icon_size" : "fa-xl",
                "sizing" : "inherit"
              },
              "icon_alignment" : "align-items-center",
              "text" : "<h6>Support diverse curriculum needs</h6>\n<p>Use custom exclusion lists to allow access to pre-approved content — so you don't have to compromise your students' classroom experience.</p>"
            }, {
              "icon" : {
                "absolute_icon_size" : "fa-2x",
                "custom_image" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "icon_code" : "check",
                "icon_colour" : "inherit",
                "icon_field" : {
                  "name" : "Check Circle",
                  "type" : "REGULAR",
                  "unicode" : "f058"
                },
                "icon_shape" : "icon-only",
                "icon_style" : "fas",
                "max_width" : 52,
                "relative_icon_size" : "fa-xl",
                "sizing" : "inherit"
              },
              "icon_alignment" : "align-items-center",
              "text" : "<h6>Protect youth from risky AI-generated images</h6>\n<p>Take your filtering capabilities to the next level in a digital world with the ability to instantly blur harmful AI-generated photos.</p>"
            } ],
            style={
              "absolute_icon_size" : "fa-2x",
              "display_as_list" : true,
              "icon_alignment" : "align-items-start",
              "icon_arrangement" : "inline",
              "icon_colour" : "primary",
              "relative_icon_size" : "fa-2xl",
              "responsive" : {
                "desktop" : {
                  "cards" : 4
                }
              },
              "sizing" : "absolute",
              "spacing_field" : {
                "margin" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 8
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 10
                  }
                },
                "padding" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 5
                  },
                  "left" : {
                    "units" : "px",
                    "value" : 5
                  },
                  "right" : {
                    "units" : "px",
                    "value" : 70
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 5
                  }
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/cta",
            offset=0,
            width=12,
            alignment="start",
            button_colour="primary",
            button_text="Try Content-Aware",
            link={
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "content_id" : 13047864353,
                "type" : "CONTENT"
              }
            },
            styles={
              "spacing_field" : {
                "margin" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 10
                  }
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/fancy-image",
            offset=0,
            width=12,
            image={
              "alt" : "content-aware-mockup-animated",
              "height" : 412,
              "loading" : "lazy",
              "max_height" : 383,
              "max_width" : 650,
              "size_type" : "auto_custom_max",
              "src" : "https://www.linewize.com/hubfs/Mockups/content-aware-mockup-animated.gif",
              "width" : 700
            },
            style={
              "alignment" : {
                "horizontal_align" : "LEFT",
                "vertical_align" : "MIDDLE"
              },
              "greyscale_filter" : false,
              "spacing_field" : {
                "margin" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 0
                  }
                },
                "padding" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 16
                  },
                  "left" : { },
                  "right" : { },
                  "top" : { }
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(255, 255, 255, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "64px"
    }
  },
  full_width=false
%}
  {% dnd_column
    offset=0,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=1,
    width=10
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="video"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h2",
        style={
          "heading_underline" : false,
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 32
              },
              "top" : { }
            },
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "left" : {
                "units" : "px",
                "value" : 0
              },
              "right" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px",
                "value" : 0
              }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          <p><strong>Video Overview: How It Works</strong></p>
          <p>Content-aware Image Blurring</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/video",
        offset=0,
        width=12,
        custom_thumbnail={
          "alt" : "Screenshot 2024-09-12 at 2.20.38 PM",
          "height" : 938,
          "max_height" : 938,
          "max_width" : 1692,
          "src" : "https://www.linewize.com/hubfs/Screenshot%202024-09-12%20at%202.20.38%20PM.png",
          "width" : 1692
        },
        style={
          "loop" : true
        },
        video_file="https://www.linewize.com/hubfs/Content-aware%20Video.mp4"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/cta",
        offset=0,
        width=12,
        button_colour="secondary",
        button_text="Learn more",
        link={
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "#book-meeting",
            "type" : "EXTERNAL"
          }
        },
        styles={
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px",
                "value" : 16
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=11,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false
%}
  {% dnd_column
    offset=0,
    width=6,
    padding={
      "default" : {
        "bottom" : "0px",
        "right" : "16px",
        "top" : "-10px"
      },
      "mobile" : {
        "bottom" : "32px",
        "right" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="school-manager"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h2",
        style={
          "heading_underline" : true,
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            }
          }
        }
      %}
        {% module_attribute "heading" %}
          <strong>Linewize Filter</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12,
        hidden={
          "default" : false
        }
      %}
        {% module_attribute "html" %}
          <p class="lead" style="font-size: 16px; font-weight: normal;"><span style="background-color: transparent; text-align: var(--q-body-text-align);">Linewize Filter is a content-aware hybrid filter de</span><span style="background-color: transparent; text-align: var(--q-body-text-align);">signed with the future of filtering in mind.</span></p>
          <p class="lead" style="font-size: 16px; font-weight: normal;"><span style="background-color: transparent; text-align: var(--q-body-text-align);">Linewize Filter enables you to spot trends and patterns — and take proactive action to meet current and future challenges.</span></p>
          <p class="lead" style="font-size: 16px; font-weight: normal;"><span style="background-color: transparent; text-align: var(--q-body-text-align);">Our solution-oriented filter approach is just one reason why our partner school districts have made the switch.</span></p>
          <p class="lead" style="font-size: 16px; font-weight: normal;"><span style="background-color: transparent; text-align: var(--q-body-text-align);">But don't take our word for it. See the Linewize difference yourself.&nbsp;</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/cta",
        offset=0,
        width=12,
        alignment="start",
        button_style="-",
        button_text="Try our hybrid filter for free",
        link={
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "#book-meeting",
            "type" : "EXTERNAL"
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=6,
    padding={
      "default" : {
        "top" : "-8px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/linked_image",
        offset=0,
        width=12,
        horizontal_alignment="CENTER",
        img={
          "alt" : "School Manager User Journey (1)",
          "height" : 1224,
          "loading" : "lazy",
          "max_height" : 341,
          "max_width" : 500,
          "size_type" : "auto_custom_max",
          "src" : "https://www.linewize.com/hubfs/fz19_assets/files/product_guides/School%20Manager%20User%20Journey%20(1).png",
          "width" : 1794
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "16px"
    }
  },
  full_width=false
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="testimonials"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        style={
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          What our <strong>customers say</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/testimonial-carousel",
            offset=0,
            width=12,
            slide=[ {
              "accent_colour" : "primary",
              "author" : "Will Brueggeman",
              "image" : {
                "loading" : "lazy",
                "size_type" : "auto",
                "src" : ""
              },
              "image_fit" : "cover",
              "quote" : "Having a physical on-premise box and cloud-based solution allows us to filter both in-house and at home for student devices that are taken home. For us, that is a big piece of the pie. And, whether we make a change on the cloud or on the appliance, the changes are transmitted simultaneously.&nbsp;",
              "read_more_url" : {
                "href" : "",
                "type" : "EXTERNAL"
              },
              "role" : "District Technology Coordinator, Mount Horeb School District"
            } ],
            style={
              "cards_settings" : {
                "cards_responsive" : {
                  "desktop" : {
                    "cards" : 1
                  },
                  "tablet" : {
                    "cards" : 1
                  }
                }
              },
              "carousel" : false,
              "greyscale_images" : false,
              "quote_size" : "80",
              "testimonial_style" : "2"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}

{% block footer %}
    {% global_partial path="../partials/footer.html" %}
{% endblock footer %}
