<!--
templateType: global_partial
label: Linewize NZ Footer
description: "Footer section including address, footer navigation menu and social links."
screenshotPath: ../images/section-previews/screenshot_Footer.png
-->

<footer class="footer px-0 text-light bg-gradient-primary-reverse">
  <div class="container-xxl pb-4 position-relative">
    <div class="row">
      <div class="col-12">
        <div class="position-relative">
          <div class="cursor-pointer d-flex position-absolute top-0 end-0 translate-middle-y bg-secondary align-items-center justify-content-center" style="width: 3rem; height: 3rem;" onclick="topFunction()">
            <i class="fas fa-chevron-up"></i>
          </div>
        </div>
      </div>
    </div>
    <hr class="opacity-100 my-6">
    <div class="row text-start">
      <div class="col-12 col-lg-3 mb-4 me-auto">
          {% module "module_16793700538024" path="/q-theme/modules/logo", label="logo", no_wrapper=True, override_default_logo=True, logo={"src" : "{{get_asset_url('../../images/qoria/Qoria_Logo_White.svg')}}", "alt": "Qoria Logo", "size_type" : "auto_custom_max", "max_width" : "128"} %}
      </div>
      <div class="col-12 col-sm-5 col-lg-3 mb-5">
            <p class="mb-3">
            {% text "address_heading" label="Address heading", value="Registered Office", no_wrapper=True %}
            </p>
            {% text "address_line_1" label="Address Line 1", value="945 Wellington Street, West Perth", export_to_template_context=True %}
            {% text "address_line_2" label="Address Line 2", value="WA, Australia, 6005", export_to_template_context=True %}            
            {% module "address_multiline" path="../../../modules/plaintext-multiline", label="Address Multi-line", export_to_template_context=True %}
            {% text "phone_number" label="Phone", value="08 9322 7600", export_to_template_context=True %}
            {% text "email" label="Email", value="info@qoria.com", export_to_template_context=True %}
            {# Prevent the auto-linking of phone numbers on iPhone #}
            {% if widget_data.phone_number.value != "" %}
              {% set phoneList = widget_data.phone_number.value|list %}
              {% set newPhone = [] %}
              {% for number in phoneList %}
                {% if loop.index == (loop.length/2)|round(0, "floor") %}
                  {% do newPhone.append(number~'&#8203;') %}
                {% else %}
                  {% do newPhone.append(number) %}
                {% endif %}
              {% endfor %}
            {% endif %}
            <p>
            {% if widget_data.address_multiline.plaintext_multiline != "" %}
              {% for line in widget_data.address_multiline.plaintext_multiline %}
                  {{line}}{{"<br>" if !loop.last}}
              {% endfor %}
            {% endif %}
            </p>
            {{ "<p>" if (widget_data.phone_number.value != "" || widget_data.email.value != "") }}
              {% if widget_data.phone_number.value != "" %}
                Phone: {{newPhone|join}}
              {% endif %}
              {{ "<br>" if (widget_data.phone_number.value != "" && widget_data.email.value != "") }}
              {% if widget_data.email.value != "" %}
                Email: {{widget_data.email.value}}
              {% endif %}
            {{ "</p>" if (widget_data.phone_number.value != "" || widget_data.email.value != "") }}
            <p>
            {% text "registered_heading" label="Registered in", value="Registered in Australia", no_wrapper=True %}<br>
            {% text "business_number" label="Business Number", value="ABN 331 675 09177", no_wrapper=True %}</p>
      </div>
      <div class="col-12 col-sm-4 col-lg-2 mb-5">
        <p class="h6 mb-3">{% text "menu_heading" label="Menu heading", value="Useful Links", no_wrapper=True %}</p>
        {% module_block module "module_16795362141501" path="/q-theme/modules/simple_menu", orientation="vertical", label="Useful Links", no_wrapper=True %}
          {% module_attribute "menu_tree" is_json=True %}[
            {
                "contentType": null,
                "subCategory": null,
                "pageLinkName": null,
                "pageLinkId": null,
                "isPublished": false,
                "categoryId": null,
                "linkParams": null,
                "linkLabel": "Site Map",
                "linkTarget": null,
                "linkUrl": "/sitemap",
                "children": [],
                "isDeleted": false
            },
            {
                "contentType": null,
                "subCategory": null,
                "pageLinkName": null,
                "pageLinkId": null,
                "isPublished": false,
                "categoryId": null,
                "linkParams": null,
                "linkLabel": "Contact Us",
                "linkTarget": null,
                "linkUrl": "/contact",
                "children": [],
                "isDeleted": false
            },
            {
                "contentType": null,
                "subCategory": null,
                "pageLinkName": null,
                "pageLinkId": null,
                "isPublished": false,
                "categoryId": null,
                "linkParams": null,
                "linkLabel": "Investors",
                "linkTarget": null,
                "linkUrl": "qoria.com/investors",
                "children": [],
                "isDeleted": false
            }
        ]{% end_module_attribute %}
        {% end_module_block %}
      </div>
      <div class="col-12 col-sm-3  col-lg-2 mb-5">
        <p class="h6 mb-3">{% text "legal_heading" label="Legal heading", value="Legal information", no_wrapper=True %}</p>
          
        {% module_block module "legal_menu" path="/q-theme/modules/simple_menu", orientation="vertical", label="Legal links", no_wrapper=True %}
          {% module_attribute "menu_tree" is_json=True %}[
            {
                "contentType": null,
                "subCategory": null,
                "pageLinkName": null,
                "pageLinkId": null,
                "isPublished": false,
                "categoryId": null,
                "linkParams": null,
                "linkLabel": "Privacy Policy",
                "linkTarget": null,
                "linkUrl": "/privacy",
                "children": [],
                "isDeleted": false
            },
            {
                "contentType": null,
                "subCategory": null,
                "pageLinkName": null,
                "pageLinkId": null,
                "isPublished": false,
                "categoryId": null,
                "linkParams": null,
                "linkLabel": "Terms & Conditions",
                "linkTarget": null,
                "linkUrl": "/legal",
                "children": [],
                "isDeleted": false
            }
        ]{% end_module_attribute %}
        {% end_module_block %}
      </div>
      <div class="col-12 col-sm-3  col-lg-2 mb-5">
        <p class="h6 mb-3">{% text "social_heading" label="Social heading", value="Follow us", no_wrapper=True %}</p>
        {% module "module_16793732914955" path="/q-theme/modules/social-follow", label="social-follow", no_wrapper=True %}
      </div>
    </div>
  </div>
  <div class="bg-dark text-light small py-3">
    <div class="container-xxl">
      <div class="row d-flex align-items-center">
        <div class="col">
          <span>&copy; {{year}} Linewize. All rights reserved.</span>
        </div>
        <div class="col text-end">
        <a class="text-reset text-decoration-none" href="https://qoria.com" target="_blank"><span class="align-middle">Linewize New Zealand is part of the Qoria family</span> <img src="{{get_asset_url('../../../images/qoria/Q-Colour.svg')}}" alt="Qoria Q" style="width: 30px;" class="ms-3 align-middle"></a>
        </div>
      </div>
    </div>
  </div>
</footer>