<!--
  templateType: page
  isAvailableForNewContent: true
  label: Linewize NZ Strengthen Digital Safety
  screenshotPath: ../../images/template-previews/landing-page.png
-->

{% extends "../layouts/base.html" %}


{% block body %}
{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-hidden"
%}


{% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/hero",
        offset=0,
        width=12,
        cta=[ ],
        header="<b>Enhance Your Digital Safeguarding Provisions</b><br> With Linewize",
        hero_type="full-image",
        image={
          "alt" : "LinewizeAug12th-153",
          "height" : 1366,
          "loading" : "disabled",
          "max_height" : 1333.984375,
          "max_width" : 2000,
          "size_type" : "auto_custom_max",
          "src" : "https://qoria.com/hubfs/LinewizeAug12th-153.jpg",
          "width" : 2048
        },
        menu="115248177746",
        page_contents=[ ],
        pre_header="",
        show_breadcrumbs=true,
        show_share_price=false,
        style={
          "heading_location" : "bottom-left"
        },
        video=""
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p class="intro" style="font-size: 24px; text-align: center;"><span style="font-weight: bold;">Prioritising students’ digital safety, while supporting learning is one of the most pressing challenges for New Zealand schools. At Linewize, we work alongside schools to close gaps in online safety and provide solutions that go beyond basic filtering.<br></span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="exist"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h1",
        heading_underline="true",
        style={
          "heading_underline" : true,
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : {
                "units" : "px",
                "value" : 8
              }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          <p>Safe device use in schools:<strong> <br>Lessons learned from 2024</strong></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p style="text-align: center;" class="lead">Last year, a gap in digital safety was exposed when some parents were able to access explicit and harmful content on school-issued iPads despite web filtering technology being in place. This experiment, which made national headlines, exposed the limitations of basic filtering and raised concerns about student digital safety. &nbsp;<br><br><span style="font-weight: bold;">Many schools are unaware of these vulnerabilities, leaving students exposed to online threats.</span></p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=12,
            padding={
              "default" : {
                "right" : "16px"
              },
              "mobile" : {
                "bottom" : "32px",
                "right" : "0px"
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
              %}
                {% module_attribute "html" %}
                  <h6 style="font-size: 30px; text-align: center;"><span style="color: #515ba5;">The need for better online safety is clear. This is what we've seen in New Zealand in the past 12 months:</span></h6>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="/FZ19/au/modules/local/generic/module_arrowbox",
                offset=0,
                width=12
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="/q-theme/modules/rich-text",
                offset=0,
                width=12,
                style={
                  "background_colour" : "bg-secondary text-white"
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/icon-and-text-group",
        offset=0,
        width=12,
        icon_and_text=[ {
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_icon_height" : false,
            "custom_image" : {
              "src" : ""
            },
            "icon_code" : "",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : ""
            },
            "icon_shape" : "icon-only",
            "icon_style" : "inherit",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "text" : "<h3 class='text-primary mb-4' style='text-align: center;'><strong>46 Children</strong></h3><p class='m-0 lead' style='text-align: center;'>Schools were alerted to <strong>46 children suspected to be at extreme risk</strong>, including to health or life. For children suspected to be at the highest risk, schools are notified immediately by phone to eliminate delay.</p><p class='m-0 lead' style='text-align: center;'>&nbsp;</p>"
        }, {
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_icon_height" : false,
            "custom_image" : {
              "src" : ""
            },
            "icon_code" : "",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : ""
            },
            "icon_shape" : "icon-only",
            "icon_style" : "inherit",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "text" : "<h3 class='text-primary mb-4' style='text-align: center;'><strong>Every 2 Hours</strong></h3><p class='m-0 lead' style='text-align: center;'>A child was found<strong> suspected to be involved in a serious cyberbullying, or violent incident.</strong> &nbsp;In many cases, the bullying itself originated through emails or collaborative documents directed at an individual within the school.</p>"
        }, {
          "icon" : {
            "absolute_icon_size" : "fa-3x",
            "custom_icon_height" : false,
            "custom_image" : {
              "src" : ""
            },
            "icon_code" : "",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : ""
            },
            "icon_shape" : "icon-only",
            "icon_style" : "inherit",
            "max_width" : 84,
            "relative_icon_size" : " ",
            "sizing" : "inherit"
          },
          "text" : "<h3 class='text-primary mb-4' style='text-align: center;'><strong>Every 3 Minutes</strong></h3><p class='m-0 lead' style='text-align: center;'><strong>A search was made for adult content every 3 minutes.</strong> The 'Adult Content' category is the most flagged search category by Linewize solutions compared to bullying, violence, substances, or depression.&nbsp;</p><p class='m-0 lead' style='text-align: center;'>&nbsp;</p>"
        } ],
        style={
          "icon_arrangement" : "stacked",
          "separators" : true,
          "spacing_field" : {
            "css" : "padding: px;",
            "margin" : {
              "bottom" : { },
              "top" : { }
            },
            "padding" : {
              "bottom" : {
                "units" : "px"
              },
              "left" : {
                "units" : "px"
              },
              "right" : {
                "units" : "px"
              },
              "top" : {
                "units" : "px"
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/rich-text",
        offset=0,
        width=12,
        row=[ {
          "advanced" : { },
          "column" : [ {
            "advanced" : { },
            "responsive" : {
              "desktop" : { },
              "mobile" : { },
              "tablet" : { }
            },
            "text" : "<p>This situation underscores the need for schools to reassess their approach to device safety and address evolving online risks. Watch the full interview where Saunil Hagler, NZ Education Director discusses the issue of inappropriate content being accessed on devices in primary schools.<br><a href='https://www.youtube.com/watch?v=VECikRCYWsI' rel='noopener' target='_blank'><span style='text-decoration: underline;'><strong>Watch the interview for yourself here.&nbsp;</strong></span></a></p>"
          } ]
        } ],
        style={
          "background_colour" : "bg-indigo text-white",
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px",
                "value" : 0
              }
            },
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 30
              },
              "left" : {
                "units" : "px",
                "value" : 30
              },
              "right" : {
                "units" : "px",
                "value" : 30
              },
              "top" : {
                "units" : "px",
                "value" : 30
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "bottom" : "34px",
      "left" : "16px",
      "right" : "16px",
      "top" : "30px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=1,
    width=10
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="benefits"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_underline="true",
        style={
          "heading_underline" : true
        }
      %}
        {% module_attribute "heading" %}
          Put your <strong>digital safety provisions to the test</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p class="lead">To enhance digital safety while avoiding over-blocking, it's crucial to assess whether your current measures are effective without restricting access to valuable educational resources. Consider these questions: :</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row
      padding={
        "default" : {
          "bottom" : "30px",
          "top" : "30px"
        }
      }
    %}
      {% dnd_module
        path="/q-theme/modules/icon-and-text-group",
        offset=0,
        width=6,
        icon_and_text=[ {
          "icon" : {
            "absolute_icon_size" : "fa-2x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "check",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Check Circle",
              "type" : "REGULAR",
              "unicode" : "f058"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fas",
            "max_width" : 52,
            "relative_icon_size" : "fa-xl",
            "sizing" : "inherit"
          },
          "icon_alignment" : "align-items-center",
          "text" : "<p><strong>Teacher visibility&nbsp;<br></strong>Would your teachers benefit from being able to see what students are doing on devices during lessons, to ensure effective and safe use?&nbsp;</p>"
        }, {
          "icon" : {
            "absolute_icon_size" : "fa-2x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "check",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Check Circle",
              "type" : "REGULAR",
              "unicode" : "f058"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fas",
            "max_width" : 52,
            "relative_icon_size" : "fa-xl",
            "sizing" : "inherit"
          },
          "icon_alignment" : "align-items-center",
          "text" : "<p><strong>Timely help&nbsp;<br></strong>Are there students in your school that you wish would reach out for help but they don’t?</p>"
        } ],
        style={
          "absolute_icon_size" : "fa-2x",
          "icon_alignment" : "align-items-start",
          "relative_icon_size" : "fa-2xl",
          "sizing" : "absolute"
        }
      %}
      {% end_dnd_module %}
      {% dnd_module
        path="/q-theme/modules/icon-and-text-group",
        offset=6,
        width=6,
        icon_and_text=[ {
          "icon" : {
            "absolute_icon_size" : "fa-2x",
            "custom_image" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "icon_code" : "check",
            "icon_colour" : "inherit",
            "icon_field" : {
              "name" : "Check Circle",
              "type" : "REGULAR",
              "unicode" : "f058"
            },
            "icon_shape" : "icon-only",
            "icon_style" : "fas",
            "max_width" : 52,
            "relative_icon_size" : "fa-xl",
            "sizing" : "inherit"
          },
          "icon_alignment" : "align-items-center",
          "text" : "<p><strong>Alerts to the right people&nbsp;<br></strong>Would it be valuable to receive alerts when students do things on devices that might harm them or others?</p>"
        } ],
        style={
          "absolute_icon_size" : "fa-2x",
          "icon_alignment" : "align-items-start",
          "relative_icon_size" : "fa-2xl",
          "sizing" : "absolute"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=9
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <h2 style="font-weight: bold;">Take the 'Safe Search' challenge</h2>
              <p><span>A good way to determine whether digital safety provisions are up to scratch is to take our ‘Safe Search’ Challenge. We're inviting schools to follow some simple steps with a Chromebook or iPad and see just what sort of content you are able to access.&nbsp;<br><br>This test might feel uncomfortable, but it’s the most effective way to assess your filtering system<br><br>Download a copy of our guide - <a href="https://www.qoria.com/hubfs/NZ%20-%20Linewize%20-%20Product%20Brochures%20(keep)/NZ-LNW-2025-Safe%20Search%20Challenge%20Guide.pdf" rel="noopener"><span style="font-weight: bold;">Safe Search Challenge: Testing Your School Web Filter</span></a> to get started.&nbsp;</span></p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=9,
        width=3
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/linked_image",
            offset=0,
            width=12,
            horizontal_alignment="RIGHT",
            img={
              "alt" : "Safe-Search-Thumbnail (1)",
              "height" : 650,
              "loading" : "lazy",
              "max_height" : 650,
              "max_width" : 488,
              "size_type" : "auto",
              "src" : "https://www.qoria.com/hubfs/Safe-Search-Thumbnail%20(1).png",
              "width" : 488
            },
            link="https://www.qoria.com/hubfs/NZ%20-%20Linewize%20-%20Product%20Brochures%20(keep)/NZ-LNW-2025-Safe%20Search%20Challenge%20Guide.pdf"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=11,
    width=1
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12,
        hidden={
          "mobile" : true
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}



{% dnd_section
  background_color="rgba(238, 238, 238, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h2",
        heading_underline="true",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 58
              },
              "top" : { }
            }
          }
        }
      %}
        {% module_attribute "heading" %}
          A smarter approach to digital safety:<strong> beyond basic blocking</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p style="font-size: 22px;">We've seen firsthand the vulnerabilities that can leave students exposed, even with well-intentioned efforts. It's clear that relying on outdated or limited protection is no longer sufficient to meet the realities of online risks. <br><br>Recognising the varying degrees of digital safety is crucial for schools. <br>Digital safety can be categorised into <span style="font-weight: bold;">three levels:</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/card",
        offset=0,
        width=12,
        card=[ {
          "accent_colour" : "bg-red text-white",
          "image" : {
            "loading" : "lazy"
          },
          "text" : "<p>Basic protection involves blocking harmful or inappropriate websites in their entirety, typically through a firewall or free/low-cost filtering tool.<br><br>For schools, this is the most straightforward and budget-friendly approach. While this provides a first line of defence, it does not address the full range of online risks that students face today. Firewalls can block known harmful websites, but new content is emerging every second and they generally lack the flexibility that schools need to make changes on the fly to their filtering requirements. There is a significant time lag between harmful content going live and the firewall's ability to recognise and block it - leaving children exposed to risk. It's not uncommon for children who come across inappropriate content to share it amongst their friends - exacerbating the risk.</p><p style='text-align: center;'>&nbsp;</p>",
          "title" : "<p>Basic</p>"
        }, {
          "accent_colour" : "bg-secondary text-white",
          "image" : {
            "loading" : "lazy"
          },
          "text" : "<p>Schools with a &nbsp;Better level of protection, are able to see risks and block harmful content as they emerge. Real-time, content aware filtering, real-time alerts and human moderated digital monitoring combine also to give schools a deeper insight into risks and their causes enabling faster and more appropriate interventions and a decrease in the likelihood of escalation.<br><br>At the Better level, digital safety provision is no longer a tick-in-a-box exercise but becomes more embedded in the school culture. The scope of risk detection is much wider now and takes into account student searches, app usage, and online interactions as well as deeper visibility into supposedly safe platforms like YouTube, Google Docs, email and Microsoft Teams.</p><p style='text-align: center;'>&nbsp;</p>",
          "title" : "<p>Better</p>"
        }, {
          "accent_colour" : "bg-primary text-white",
          "image" : {
            "loading" : "lazy"
          },
          "text" : "<p>The Best provision sees the responsibiity for digital safety shared across the school community, including IT teams, teachers, and parents. It ensures that students are protected on any network, on any device, at any time, at school and at home - as well as supporting teachers in managing distractions in the classroom. Best provision sees a level of protection far more aligned to the digital risks we see today.<br><br>Implementing this level of digital safety requires a whole-school approach that integrates advanced filtering, real-time monitoring, and classroom management tools. IT teams deploy and maintain a unified platform, while teachers gain the tools needed to manage student device use and respond to risks as they arise. Beyond the classroom, parents are provided with similar tools to ensure consistent digital safety at home. This approach requires investment in technology, training, and clear policies to ensure its effectiveness.</p>",
          "title" : "<p>Best</p>"
        } ],
        styles={
          "responsive" : {
            "breakpoints" : {
              "mobile" : 1,
              "tablet" : 3
            }
          },
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 15
              },
              "top" : {
                "units" : "px",
                "value" : 15
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=5
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/linked_image",
            offset=0,
            width=12,
            horizontal_alignment="CENTER",
            img={
              "alt" : "The 3 Bs of Digital Safety Thumbnail",
              "height" : 600,
              "loading" : "lazy",
              "max_height" : 400,
              "max_width" : 300,
              "size_type" : "auto_custom_max",
              "src" : "https://www.qoria.com/hubfs/The%203%20Bs%20of%20Digital%20Safety%20Thumbnail.png",
              "width" : 450
            },
            link="https://www.qoria.com/hubfs/NZ_2025_The%203%20B%E2%80%99s%20of%20Digital%20Safety-n2%20(2).pdf"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=5,
        width=7
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p style="font-size: 18px;">By understanding these different levels of digital safety, schools can better recognise the varying degrees of protection and support needed to create a safer digital environment for their students. Download a copy of our Guide - <a href="https://www.qoria.com/hubfs/NZ_2025_The%203%20B%E2%80%99s%20of%20Digital%20Safety-n2%20(2).pdf" rel="noopener"><span style="font-weight: bold;">The 3 B's of Digital Safety</span></a> to learn more.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}




{% dnd_section
  background_color="rgba(250, 250, 250, 1)",
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=6,
    padding={
      "default" : {
        "bottom" : "0px",
        "right" : "16px"
      },
      "mobile" : {
        "bottom" : "32px",
        "right" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12
      %}
        {% module_attribute "heading" %}
          <span>Get in<strong> touch</strong></span>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p class="lead">Let us know what your 'Safe Search' challenge findings are</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p>We’re keen to learn what gaps our Safe Search challenge reveals at your school and discuss how you can close them to ensure students are protected on all side. Get in touch using the form provided.&nbsp;</p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=6,
    padding={
      "default" : {
        "left" : "16px"
      },
      "mobile" : {
        "left" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/divider",
        offset=0,
        width=12,
        styles={
          "line" : {
            "style" : "gradient",
            "thickness" : 12
          },
          "size" : {
            "width" : 100
          },
          "spacing" : {
            "spacing" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/form",
        offset=0,
        width=12,
        form={
          "form_id" : "206cc1eb-cbde-4b5c-866e-9375c741ec53",
          "form_type" : "HUBSPOT",
          "redirect_url" : "https://linewize.co.nz/contact/thank-you",
          "response_type" : "redirect"
        },
        style={
          "background_colour" : "bg-white text-dark",
          "form_style" : " ",
          "shadow" : "shadow-lg",
          "spacing_field" : {
            "margin" : {
              "bottom" : {
                "units" : "px",
                "value" : 0
              },
              "top" : {
                "units" : "px",
                "value" : 0
              }
            },
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 32
              },
              "left" : {
                "units" : "px",
                "value" : 32
              },
              "right" : {
                "units" : "px",
                "value" : 32
              },
              "top" : {
                "units" : "px",
                "value" : 32
              }
            }
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}




{% dnd_section
  padding={
    "default" : {
      "bottom" : "64px",
      "left" : "16px",
      "right" : "16px",
      "top" : "64px"
    },
    "mobile" : {
      "bottom" : "32px",
      "top" : "32px"
    }
  },
  full_width=false,
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/anchor",
        offset=0,
        width=12,
        anchor="furtherReading"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h2",
        heading_underline="true",
        style={
          "spacing_field" : {
            "margin" : {
              "bottom" : { },
              "top" : { }
            }
          },
          "textalignment" : "center"
        }
      %}
        {% module_attribute "heading" %}
          <div>Further <strong>reading<br></strong></div>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=2
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=2,
        width=8
      %}
        {% dnd_row %}
          {% dnd_module
            path="/q-theme/modules/pdf-list",
            offset=0,
            width=12,
            card=[ {
              "download_link" : true,
              "image" : {
                "alt" : "AU_LWZ_whitepaper_guides_thumbnails-Self Assessment-Digital Wellbeing",
                "height" : 782,
                "loading" : "lazy",
                "max_height" : 782,
                "max_width" : 553,
                "src" : "https://qoria.com/hubfs/AU-Linewize-Whitepaper%20Guide%20and%20Video%20Thumbnails%20(KEEP)/Whitepapers%20and%20%20Guides/AU_LWZ_whitepaper_guides_thumbnails-Self%20Assessment-Digital%20Wellbeing.jpg",
                "width" : 553
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "href" : "https://qoria.com/hubfs/NZ_Wellbeing%20Framework%20Self-Assessment%20(1).pdf",
                  "type" : "FILE"
                },
                "user_generated_content" : false
              },
              "link_label" : "Download PDF >",
              "open_in_new_window" : true,
              "stretched_link" : true,
              "text" : "Digital Safety and Wellbeing Framework&nbsp;",
              "title" : "Guide"
            }, {
              "image" : {
                "alt" : "Qoria-Thumbnail-NZ - How to make invisible digital risks visible-1",
                "height" : 782,
                "loading" : "lazy",
                "max_height" : 782,
                "max_width" : 553,
                "src" : "https://qoria.com/hubfs/Qoria-Thumbnail-NZ%20-%20How%20to%20make%20invisible%20digital%20risks%20visible-1.png",
                "width" : 553
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "href" : "https://qoria.com/hubfs/NZ%20-%20Linewize%20-%20Product%20Brochures/NZ%20-%20Linewize%20-%20Case%20studies/NZ%20-%20Linewize%20-%20Thumbnails/NZ%20-%20Linewize%20-%20Whitepaper/NZ_2023_How%20to%20make%20invisible%20digital%20risks%20visible.pdf",
                  "type" : "FILE"
                },
                "user_generated_content" : false
              },
              "link_label" : "Download PDF >",
              "stretched_link" : true,
              "text" : "<p>How to make invisible digital risks, visible</p>",
              "title" : "Guide"
            }, {
              "image" : {
                "alt" : "NZ_Monitor Without Surveillance_thumbnail",
                "height" : 782,
                "loading" : "lazy",
                "max_height" : 782,
                "max_width" : 553,
                "src" : "https://qoria.com/hubfs/NZ_Monitor%20Without%20Surveillance_thumbnail.png",
                "width" : 553
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "sponsored" : false,
                "url" : {
                  "content_id" : 185051258464,
                  "type" : "CONTENT"
                },
                "user_generated_content" : false
              },
              "link_label" : "Download PDF >",
              "stretched_link" : true,
              "text" : "How to Monitor Without Surveillance",
              "title" : "Guide"
            } ],
            styles={
              "card_style" : "1",
              "responsive" : {
                "desktop" : {
                  "cards" : 3
                },
                "mobile" : {
                  "cards" : 1
                },
                "tablet" : {
                  "cards" : 3
                }
              },
              "spacing_field" : {
                "margin" : {
                  "bottom" : { },
                  "top" : {
                    "units" : "px",
                    "value" : 0
                  }
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=10,
        width=2
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/horizontal_spacer",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}







{% end_dnd_area %}
{% endblock body %}

{% block footer %}
    {% global_partial path="../partials/footer.html" %}
{% endblock footer %}
