//
// Base styles
//

.hs-button {
  @extend .btn;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include transition($btn-transition);


  &.primary {
    @extend .btn-primary !optional;
  }

  &:hover {
    color: $body-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}

.btn-blog-filter-secondary {
  @include button-variant(
    $background: transparent,
    $border: transparent,
    $color: $dark,
    $hover-background: rgba($dark, 0.1),
    $hover-border: none,
    $hover-color: $dark,
    $active-background: $secondary,
    $active-border: none,
    $active-color: color-contrast($secondary)
  );
  
  --#{$prefix}btn-active-shadow: none;
  
  &.active {
    box-shadow: none !important;
  }
}

.btn-gradient {
  @extend .btn;
  background-image: var(--#{$prefix}btn-bg);

  &:hover {
    background-image: var(--#{$prefix}btn-hover-bg);
  }

  .btn-check + &:hover {
    // override for the checkbox/radio buttons
    background-image: var(--#{$prefix}btn-bg);
  }

  &:focus-visible {
    background-image: var(--#{$prefix}btn-hover-bg);
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    background-image: var(--#{$prefix}btn-active-bg);
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    background-color: var(--#{$prefix}btn-disabled-bg);
  }
}