// scss-docs-start custom-btn-outline-variant-mixin
@mixin custom-button-outline-variant(
  $color,
  $background,
  $border-color: $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $border-color,
  $active-color: color-contrast($active-background)
) {
  background-color: $background;
  color: color-contrast($background);
  border-color: $border-color;
  border-width: $outline-btn-border-width;

  &:hover {
    color: $color-hover;
    background-color: $active-background;
    border-color: $active-border;
  }

  .btn-check:focus + &,
  &:focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  &.dropdown-toggle.show {
    color: $active-color;
    background-color: $active-background;
    border-color: $active-border;

    &:focus {
      @if $enable-shadows {
        @include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5));
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
      }
    }
  }

  &:disabled,
  &.disabled {
    color: $color;
    background-color: transparent;
  }
}
// scss-docs-end custom-btn-outline-variant-mixin


// scss-docs-start btn-outline-variant-mixin
@mixin button-outline-variant(
  $color,
  $active-background: $color,
  $color-hover: color-contrast($active-background),
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-border-color: #{$color};
    --#{$prefix}btn-hover-color: #{$color-hover};
    --#{$prefix}btn-hover-bg: #{$active-background};
    --#{$prefix}btn-hover-border-color: #{$active-border};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
    --#{$prefix}btn-active-border-color: #{$active-border};
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
    --#{$prefix}btn-disabled-color: #{$color};
    --#{$prefix}btn-disabled-bg: transparent;
    --#{$prefix}btn-disabled-border-color: #{$color};
    --#{$prefix}gradient: none;

    border-width: $outline-btn-border-width;

  .btn-check:focus + &,
  &:focus {
    box-shadow: 0 0 0 $btn-focus-width rgba(var(--#{$prefix}btn-focus-shadow-rgb), .5);
  }

}
// scss-docs-end btn-outline-variant-mixin

// mixin add root variable
@mixin add-root-variable(
  $property,
  $value
)  {
    --#{$property}: --#{$value};
}


// mixin for generating CSS arrows 
@mixin box-arrow($arrowDirection, $arrowSize: 10px, $location: 50%) {
  position: relative;
  z-index: 10;

  &::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;    

    @if $arrowDirection == down or $arrowDirection == up {
      border-left: $arrowSize solid transparent;
      border-right: $arrowSize solid transparent;
      left: calc($location - $arrowSize);

      @if $arrowDirection == down {
        border-top: $arrowSize solid currentColor;
        bottom: -$arrowSize;
      }

      @if $arrowDirection == up {
        border-bottom: $arrowSize solid currentColor;
        top: -$arrowSize;
      }
    }

    @if $arrowDirection == left or $arrowDirection == right {
      border-top: $arrowSize solid transparent;
      border-bottom: $arrowSize solid transparent;
      top: calc($location - $arrowSize);

      @if $arrowDirection == left {
        border-right: $arrowSize solid currentColor;
        left: -$arrowSize;
      }

      @if $arrowDirection == right {
        border-left: $arrowSize solid currentColor;
        right: -$arrowSize;
      }
    }
  }
}



// scss-docs-start caret-mixins
@mixin caret-down($width: $caret-width) {
  content: "\f078";
}

@mixin caret-up($width: $caret-width) {
  content: "\f077";
}

@mixin caret-end($width: $caret-width) {
  content: "\f054";
}

@mixin caret-start($width: $caret-width) {
  content: "\f053";
}

@mixin caret(
  $direction: down,
  $width: $caret-width,
  $spacing: $caret-spacing,
  $vertical-align: $caret-vertical-align
) {
  @if $enable-caret {
    &::after {
      display: inline-block;
      margin-left: $spacing;
      vertical-align: $vertical-align;
      font-family: var(--fa-style-family,"Font Awesome 6 Pro");
      font-weight: var(--fa-style,900);
      font-size: $width;
      line-height: .08333em;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: var(--fa-display,inline-block);
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      @if $direction == down {
        @include caret-down($width);
      } @else if $direction == up {
        @include caret-up($width);
      } @else if $direction == end {
        @include caret-end($width);
      }
    }

    @if $direction == start {
      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
        margin-right: $spacing;
        vertical-align: $vertical-align;
        font-family: var(--fa-style-family,"Font Awesome 6 Pro");
        font-weight: var(--fa-style,900);
        font-size: $width;
        line-height: .08333em;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display,inline-block);
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        @include caret-start($width);
      }
    }

    &:empty::after {
      margin-left: 0;
    }
  }
}
// scss-docs-end caret-mixins

// scss-docs-start table-variant
@mixin table-variant($state, $background) {
  .table-#{$state} {
    $color: color-contrast(opaque($body-bg, $background));
    $hover-bg: mix($color, $background, percentage($table-hover-bg-factor));
    $striped-bg: mix($color, $background, percentage($table-striped-bg-factor));
    $striped-twice-bg: mix($color, $background, percentage($table-striped-twice-bg-factor));
    $active-bg: mix($color, $background, percentage($table-active-bg-factor));
    $table-border-color: mix($color, $background, percentage($table-border-factor));

    --#{$prefix}table-color: #{$color};
    --#{$prefix}table-bg: #{$background};
    --#{$prefix}table-border-color: #{$table-border-color};
    --#{$prefix}table-striped-bg: #{$striped-bg};
    --#{$prefix}table-striped-twice-bg: #{$striped-twice-bg};
    --#{$prefix}table-striped-color: #{color-contrast($striped-bg)};
    --#{$prefix}table-active-bg: #{$active-bg};
    --#{$prefix}table-active-color: #{color-contrast($active-bg)};
    --#{$prefix}table-hover-bg: #{$hover-bg};
    --#{$prefix}table-hover-color: #{color-contrast($hover-bg)};

    color: var(--#{$prefix}table-color);
    border-color: var(--#{$prefix}table-border-color);
  }
}
// scss-docs-end table-variant

// row overlap

@import "mixins/row-overlap";