//
// Base styles
//

.card-testimonial {
  // scss-docs-start card-css-vars
  --#{$prefix}testimonial-spacer-y: #{$testimonial-spacer-y};
  --#{$prefix}testimonial-spacer-x: #{$testimonial-spacer-x};
  --#{$prefix}testimonial-title-spacer-y: #{$testimonial-title-spacer-y};
  --#{$prefix}testimonial-title-color: #{$testimonial-title-color};
  --#{$prefix}testimonial-subtitle-color: #{$testimonial-subtitle-color};
  --#{$prefix}testimonial-border-width: #{$testimonial-border-width};
  --#{$prefix}testimonial-border-color: #{$testimonial-border-color};
  --#{$prefix}testimonial-border-radius: #{$testimonial-border-radius};
  --#{$prefix}testimonial-box-shadow: #{$testimonial-box-shadow};
  --#{$prefix}testimonial-inner-border-radius: #{$testimonial-inner-border-radius};
  --#{$prefix}testimonial-cap-padding-y: #{$testimonial-cap-padding-y};
  --#{$prefix}testimonial-cap-padding-x: #{$testimonial-cap-padding-x};
  --#{$prefix}testimonial-cap-bg: #{$testimonial-cap-bg};
  --#{$prefix}testimonial-cap-color: #{$testimonial-cap-color};
  --#{$prefix}testimonial-height: #{$testimonial-height};
  --#{$prefix}testimonial-color: #{$testimonial-color};
  --#{$prefix}testimonial-bg: #{$testimonial-bg};
  --#{$prefix}testimonial-img-max-height: #{$testimonial-img-max-height};
  --#{$prefix}testimonial-img-overlay-padding: #{$testimonial-img-overlay-padding};
  --#{$prefix}testimonial-group-margin: #{$testimonial-group-margin};
  // scss-docs-end card-css-vars
  

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: var(--#{$prefix}testimonial-height);
  padding: var(--#{$prefix}testimonial-spacer-y) var(--#{$prefix}testimonial-spacer-x);
  word-wrap: break-word;
  background-color: var(--#{$prefix}testimonial-bg);
  background-clip: border-box;
  border: var(--#{$prefix}testimonial-border-width) solid var(--#{$prefix}testimonial-border-color);
  @include border-radius(var(--#{$prefix}testimonial-border-radius));
  @include box-shadow(var(--#{$prefix}testimonial-box-shadow));

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
      @include border-top-radius(var(--#{$prefix}testimonial-inner-border-radius));
    }

    &:last-child  {
      border-bottom-width: 0;
      @include border-bottom-radius(var(--#{$prefix}testimonial-inner-border-radius));
    }
  }

  // Due to specificity of the above selector (`.card > .list-group`), we must
  // use a child selector here to prevent double borders.
  > .card-header + .list-group,
  > .list-group + .card-footer {
    border-top: 0;
  }

  
.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: var(--#{$prefix}testimonial-spacer-y) var(--#{$prefix}testimonial-spacer-x);
  color: var(--#{$prefix}testimonial-color);
  background-color: $testimonial-body-bg;
}

.card-title {
  padding-bottom: $testimonial-title-spacer-y;
  padding-top: $testimonial-title-spacer-y;
  padding-left: calc($testimonial-spacer-x/2);
}

.card-subtitle {
  margin-top: calc(-.5 * var(--#{$prefix}testimonial-title-spacer-y)); // stylelint-disable-line function-disallowed-list
  margin-bottom: 0;
  color: var(--#{$prefix}testimonial-subtitle-color);
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  &:hover {
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  + .card-link {
    margin-left: var(--#{$prefix}testimonial-spacer-x);
  }
}

//
// Optional textual caps
//

.card-header {
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color: var(--#{$prefix}testimonial-cap-color);
  background-color: var(--#{$prefix}testimonial-bg);
  border-bottom: var(--#{$prefix}testimonial-border-width) solid var(--#{$prefix}testimonial-border-color);
  display: flex;

  &:first-child {
    @include border-radius(var(--#{$prefix}testimonial-inner-border-radius) var(--#{$prefix}testimonial-inner-border-radius) 0 0);
  }
}

.card-footer {
  padding: var(--#{$prefix}testimonial-cap-padding-y) var(--#{$prefix}testimonial-cap-padding-x);
  color: var(--#{$prefix}testimonial-cap-color);
  background-color: var(--#{$prefix}testimonial-cap-bg);
  border-top: var(--#{$prefix}testimonial-border-width) solid var(--#{$prefix}testimonial-border-color);

  &:last-child {
    @include border-radius(0 0 var(--#{$prefix}testimonial-inner-border-radius) var(--#{$prefix}testimonial-inner-border-radius));
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: calc(-.5 * var(--#{$prefix}testimonial-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  margin-bottom: calc(-1 * var(--#{$prefix}testimonial-cap-padding-y)); // stylelint-disable-line function-disallowed-list
  margin-left: calc(-.5 * var(--#{$prefix}testimonial-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  border-bottom: 0;

  .nav-link.active {
    background-color: var(--#{$prefix}testimonial-bg);
    border-bottom-color: var(--#{$prefix}testimonial-bg);
  }
}

.card-header-pills {
  margin-right: calc(-.5 * var(--#{$prefix}testimonial-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  margin-left: calc(-.5 * var(--#{$prefix}testimonial-cap-padding-x)); // stylelint-disable-line function-disallowed-list
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--#{$prefix}testimonial-img-overlay-padding);
  @include border-radius(var(--#{$prefix}testimonial-inner-border-radius));
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.card-img,
.card-img-top {
  @include border-top-radius(var(--#{$prefix}testimonial-inner-border-radius));
}

.card-img,
.card-img-bottom {
  @include border-bottom-radius(var(--#{$prefix}testimonial-inner-border-radius));
}

.card-img-cover {
  flex: 0 0 auto;
  width: calc(50% + $testimonial-cap-padding-x);
  margin-bottom: calc(0px - $testimonial-cap-padding-y);
  margin-top: calc(0px - $testimonial-cap-padding-y);
  margin-left: calc(0px - $testimonial-cap-padding-x);
  align-self: stretch;
  object-fit: cover;
  object-position: center center;
  padding-right: calc($testimonial-spacer-x/2);
}

.card-img-contain {
  flex: 0 0 auto;
  width: 50%;
  padding: 0;
  align-self: stretch;
  object-fit: contain;
  object-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: calc($testimonial-spacer-x/2);
  padding-bottom: calc($testimonial-cap-padding-y);

  img {
    object-fit: contain;
  }
}

.card-author {
  @include font-size($h6-font-size);
  font-weight: $font-weight-bold;
  margin-bottom: 0;
  line-height: $line-height-sm;
}

.card-role {
  @include font-size($h6-font-size);
  margin-top: map-get($spacers, 3);
  margin-bottom: 0;
  line-height: $line-height-sm;
}

@include media-breakpoint-down(sm) { 

  .card-title {
    padding-top: 0;
    padding-left: 0;
  }

  .card-header {
    flex-direction: column;
  }

  .card-img-cover {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: $testimonial-cap-padding-y;
    margin-top: 0;
    margin-left: 0;
    padding-right: 0;
    max-height: var(--#{$prefix}testimonial-img-max-height);
  }

  .card-img-contain {
    flex: 0 0 auto;
    width: 100%;
    padding-bottom: 0;
  }
  

 }
}



//
// Card groups
//

.card-group {
  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: var(--#{$prefix}testimonial-group-margin);
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:not(:last-child) {
          @include border-end-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-right-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-start-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-left-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}
