// scss-docs-start import-stack
// Configuration
@import "_functions";

// Custom variables
@import "_custom-fonts";
@import "_custom-variables";

// scss-docs-start import-stack 
// Configuration
@import "_variables";
@import "_custom-variables";
@import "variables-dark"; 
@import "maps";
@import "mixins";
@import "utilities";
@import "forms/form-control";
@import "forms/form-select";
@import "buttons";

  // easywebinar form style
  
  .ewp-widget {

    .ew-register_btn {
        background-color: transparent !important;
    }

    font-family: $font-family-sans-serif !important;
    //* { all: revert; }
    .ewp_grey_column, h5 {
        display: none;
    }

    * { border: 0 !important;}

    .ewp_submit, .ewp_btn_green {
        @extend .btn;
        @extend .btn-primary;
        font-family: inherit;
        background-color: $primary !important;
        color:  var(--#{$prefix}btn-color) !important;
        display: block;
        &:hover{
            @extend :hover;
            @extend :hover;
        }
    }

    .widgetform-group {
        input {
            @extend .form-control;
            border: $input-border-width solid $input-border-color !important;
        }

        select {
            @extend .form-select;
        }
    }

    .widgetform-group input {
        padding: $form-select-padding-y $form-select-padding-x !important;
        border: $form-select-border-width solid $form-select-border-color !important;
    }
    
    .widgetform-group.ewp_icon.recurr-date.ewp-cutom-select select {
        padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x !important;
        font-size: $form-select-font-size !important;
        color: $form-select-color !important;
        border-radius: $form-select-border-radius !important;
    }
    
    .ewp_popup_container .ew_webinar_dates, .webinar_time_split, .webinar_customfield_select {
        width: 100% !important;
        
        border: $form-select-border-width solid $form-select-border-color;
        background: $form-select-bg var(--#{$prefix}form-select-bg-img), var(--#{$prefix}form-select-bg-icon, none) no-repeat $form-select-bg-position $form-select-bg-size !important;
        
        background-color: $form-select-bg !important;
        background-image: var(--#{$prefix}form-select-bg-img), var(--#{$prefix}form-select-bg-icon, none) !important;
        background-repeat: no-repeat !important;
        background-position: $form-select-bg-position !important;
        background-size: $form-select-bg-size !important;

        box-shadow: $form-select-box-shadow !important;

        font-size: $form-select-font-size !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        height: auto !important;
        color: $form-select-color !important;
        display: block !important;
    }
}