<section class="{{ module.style.shadow_style if module.style.shadow }}" style="transform-style: preserve-3d; -webkit-transform-style: preserve-3d; position-relative; {{"position: relative; z-index: 2; margin-top: -24px;" if module.style.overlay }}">
    <div style="{{module.style.spacing_field.css}}" class="container-fluid g-0 position-relative {{ module.style.background_colour if module.style.background_colour != "none" }}{{ (" bg-" ~ module.style.background_image) if module.style.background_image != "none" && module.style.background_image != "custom" }}" 
    style="{{ "background-image: url('" ~ module.style.background_image_file.src ~ "'); background-size: " ~ module.style.background_size ~ "; background-position: center center;" if module.style.background_image == "custom" }}">
        {% for row in module.row %}
            <div class="row g-0 {{row.advanced.additional_classes}}" style="{{ "z-index: 1;" if module.style.background_image != "none" }}">
                {% for col in row.column %} 
                    {% if col.column_styles.background_image == "custom" %}
                        {% set bgCode = "background-image: url('" + col.column_styles.background_image_file.src + "'); background-size: " + col.column_styles.background_size + "; background-position: center center;" %}
                    {% else %}
                        {% set bgCode = "" %}
                    {% endif %}
                    <div class="col {{ col.advanced.additional_col_classes }} {{ "position-relative" if col.link_stretched }} {{ col.column_styles.background_colour }}{{ " bg-q-tail-1" if col.column_styles.background_image == "q-tail-1" }}" style="{{bgCode}}">
                        <div class="content-container {{ col.advanced.additional_classes }}">
                        {{ col.text }}
                        {% if (col.link.url.href) && (col.link_label) %}
                            <a href="{{ col.link.url.href }}" class="text-reset text-decoration-none fw-semibold {{ "stretched-link" if col.link_stretched }}">{{ col.link_label }}</a>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>