{% if module.blog_entry %}
    
{% set article = content_by_id(module.blog_entry) %}

<style>
.bg-image-{{name}}:after{
    background-image: url("{{article.featured_image}}");
    filter: grayscale(1) contrast(0.9) brightness(1.1);
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}
</style>

<section class="{{ module.style.shadow_style if module.style.shadow }} bg-image-{{name}}" style="transform-style: preserve-3d; {{"position: relative; z-index: 2; margin-bottom: -24px; transform: translateY(-24px);" if module.style.overlay }} {{module.style.spacing_field.css}}">
    <div class="{{ module.style.background_colour if module.style.background_colour != "none" }} fade-45 position-absolute top-0 h-100 w-100 d-block" style=""></div>
    <div class="container-fluid g-0 position-relative {{ "text-white" if module.style.background_colour != "none" }}" style="">
        <div class="row g-0">
            <div class="col p-3 p-md-5 px-4 px-md-6">
                <div class="content-container">
                    <h3><strong>Featured article</strong></h3>
                    <hr>
                    {% if article.post_body %}
                    <p class="mt-7"><i class="fa fas fa-pencil me-1"></i> {{ ((article.post_body|regex_replace("{%.*%}", "")|striptags|wordcount)/225)|round(0, "ceil") }} min read | By {{article.blog_post_author.display_name}}</p>
                    {% endif %}
                    <div class="{{ module.heading_width }}"><h2><strong>{{article.name}}</strong></h2></div>
                    <a href="{{ article.absolute_url }}" class="btn btn-outline-light mt-3">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}