
{% set logoMaxWidth = 180 %}
{% if module.region == "nz" %}
    {% set brandName = "Linewize New Zealand" %}
    {% set logoWhiteSrc = get_asset_url('../../images/qoria/by-qoria-logos/email-Linewize_byqoria_white.png') %}
    {% set footerText = module.nz_footer_copy %}
{% elif module.region == "au" %}
    {% if module.type == "ysafe" %}
        {% set brandName = "ySafe" %}
        {% set logoWhiteSrc = get_asset_url('../../images/qoria/by-qoria-logos/ysafe_byqoria_inline_white.png') %}
        {% set footerText = module.ysafe_footer_copy %}
        {% set logoMaxWidth = 130 %}
    {% elif module.type == "ysafe-2" %}
        {% set brandName = "ySafe" %}
        {% set logoWhiteSrc = get_asset_url('../../images/qoria/by-qoria-logos/ysafe_byqoria_inline_white.png') %}
        {% set footerText = module.ysafe_footer_copy %}
    {% elif module.type == "success" %}
        {% set brandName = "Linewize Australia" %}
        {% set logoWhiteSrc = get_asset_url('../../images/qoria/by-qoria-logos/email-Linewize_byqoria_white.png') %}
        {% set footerText = "<p style='color: inherit;'>linewize.io</p>" %}
        {% set logoMaxWidth = 130 %}
    {% else %}
        {% set brandName = "Linewize Australia" %}
        {% set logoWhiteSrc = get_asset_url('../../images/qoria/by-qoria-logos/email-Linewize_byqoria_white.png') %}
        {% set footerText = module.au_footer_copy %}
    {% endif %}
{% elif module.region == "us" %}
    {% set brandName = "Linewize" %}
    {% set logoWhiteSrc = get_asset_url('../../images/qoria/by-qoria-logos/email-Linewize_byqoria_white.png') %}
    {% set footerText = module.us_footer_copy %}
{% elif module.region == "uk" %}
    {% set brandName = "Smoothwall" %}
    {% set logoWhiteSrc = get_asset_url('../../images/qoria/by-qoria-logos/email-smoothwall__byqoria_white.png') %}
    {% set footerText = module.uk_footer_copy %}
{% elif module.region == "eu" %}
    {% set brandName = "Qoria Europe" %}
    {% set logoWhiteSrc = get_asset_url('../../images/qoria/qoria-europe-logo-white.png') %}
    {% set footerText = module.eu_footer_copy %}
    {% set logoMaxWidth = 146 %}
{% elif module.region == "global" %}
    {% set brandName = "Qoria" %}
    {% set logoWhiteSrc = get_asset_url('../../images/qoria/Qoria_Logo_White.png') %}
    {% set footerText = module.global_footer_copy %}
{% endif %}

{% set bgSrc = get_asset_url('../../images/backgrounds/email-footer-bg-qoria.png') %}
{% set bgColour = "#58b78e" %}

{% set Qicon = get_asset_url('../../images/qoria/Q-Colour.png') %}

<div style="background-color:{{bgColour}}; width: 100%;" class="footer">
<!--[if gte mso 9]>
<v:rect style="width:540px;height:150px;" strokecolor="none">
    <v:fill type="tile" color="{{bgColour}}" src="{{ bgSrc }}" /></v:fill>
</v:rect>
<v:shape id="FooterBG" style="position:absolute;width:540px;height:300px;">
<![endif]-->
<table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse !important;">
  <tr>
    <td valign="top" align="center" background="{{ bgSrc }}" style="background-image:url('{{ bgSrc }}');background-size: cover;background-position: center right;padding: 0 32px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt; font-family: Quicksand, Verdana, sans-serif;">
      <div style="color: #fff; max-width: 700px; text-align: center; padding-top: 24px;">
        <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse !important;">
            {% if module.region == "au" && (module.type == "ysafe" || module.type == "success") %}
                {% if module.type == "ysafe" %}
                    {% set profiles = module.profiles_ysafe %}
                {% elif module.type == "success" %}
                    {% set profiles = module.profiles_success %}
                {% endif %}
                {% if profiles|length > 0 %}
                    <tr>
                    <td class="" style="font-size:0; text-align: left;" align="center" valign="top">
                    <!--[if (gte mso 9)|(IE)]>
                    <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="width: 100%;">
                    <tr>
                    <![endif]-->
                    {% set colWidth = ((600 - 64) / profiles|length)|round(0, "floor") %}
                        {% for profile in profiles %}
                            <!--[if (gte mso 9)|(IE)]>
                            <td valign="top" style="width:{{colWidth}}px;">
                            <![endif]-->
                            <div class="hs_padded_0" style="display:inline-block;vertical-align:top;width: 100%; max-width: {{colWidth}}px;">
                                <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="width: 100%;" dir="ltr">
                                    <tr>
                                        <td align="left" valign="top" style="padding-right: 12px; padding-top: 4px; padding-bottom: 4px; color: #FFF;">
                                            {% if profile.image.src != "" %}    
                                                {% set imgSrc = profile.image.src %}
                                                    {% set sizeAttrs = 'width="{{ profile.image.width }}" height="{{ profile.image.height }}"' %}
                                                    {% if profile.image.size_type == 'auto' %}
                                                        {% set sizeAttrs = 'width="{{ profile.image.width }}" height="{{ profile.image.height }}"' %}
                                                        {% set sizeCSS = "max-width: 100%; height: auto;" %}
                                                        {% set imgSrc = resize_image_url(profile.image.src, profile.image.width, profile.image.height) %}
                                                    {% elif profile.image.size_type == 'auto_custom_max' %}
                                                        {% set sizeAttrs = 'width="{{ profile.image.max_width }}" height="{{ profile.image.max_height }}"' %}
                                                        {% set sizeCSS = "max-width: 100%; height: auto;" %}
                                                        {% set imgSrc = resize_image_url(profile.image.src, profile.image.max_width, profile.image.max_height) %}
                                                    {% endif %}
                                                    {% set loadingAttr = profile.image.loading != 'disabled' ? 'loading="{{ profile.image.loading }}"' : '' %}
                                                
                                                <img src="{{imgSrc}}" alt="{{ profile.image.alt }}" style="{{ sizeCSS }} border-radius: 4px;" class="filter-grayscale" {{ loadingAttr }} {{ sizeAttrs }}>
                                                
                                            {% endif %}
                                            {{ profile.profile_copy }}                                        
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <![endif]-->
                        {% endfor %}
                    <!--[if (gte mso 9)|(IE)]>
                    </tr>
                    </table>
                    <![endif]-->
                 </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <hr style="margin: 12px 0; border: 0; border-top: 1px solid #ffffff;">
                        <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse !important;">
                            <tr>
                                <td style="padding-top: 0px; vertical-align: middle; text-align: left; font-family: Quicksand, Verdana, sans-serif;">
                                    <img src="{{logoWhiteSrc}}" alt="{{brandName}} Logo" width="{{logoMaxWidth}}" height="auto" style="width: 100%;max-width: {{logoMaxWidth}}px;height: auto;display: inline-block;color: #ffffff;vertical-align: bottom;-ms-interpolation-mode: bicubic;">
                                </td>
                                <td style="padding-top: 0px; padding-left: 16px; vertical-align: middle; color: #ffffff; text-align: right; font-family: Quicksand, Verdana, sans-serif; white-space: nowrap;">
                                    {{footerText}}
                                </td>
                            </tr>
                        </table>
                        <hr style="margin: 12px 0; border: 0; border-top: 1px solid #ffffff;">
                    </td>
                </tr> 
            {% else %}              
                <tr>
                    <td>
                        <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse !important;">
                            <tr>
                                <td style="padding-top: 0; vertical-align: middle; text-align: left; font-family: Quicksand, Verdana, sans-serif;">
                                    <img src="{{logoWhiteSrc}}" alt="{{brandName}} Logo" width="{{logoMaxWidth}}" height="auto" style="width: 100%;max-width: {{logoMaxWidth}}px;height: auto;display: inline-block;color: #ffffff;vertical-align: bottom;-ms-interpolation-mode: bicubic;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr> 
                <tr>
                    <td style=" font-family: Quicksand, Verdana, sans-serif; color: #FFFFFF; font-size: 20px; font-weight: 300; font-family: Quicksand, Verdana, sans-serif; text-align: left; line-height: 1.2em;"> 
                        <hr style="margin: 24px 0; border: 0; border-top: 1px solid #ffffff;">
                            {{ footerText }}
                        <hr style="margin: 24px 0 16px; border: 0; border-top: 1px solid #ffffff;">
                    </td>
                </tr>        
            {% endif %}
            <tr>
                <td>
                    <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse !important;">
                        <tr>
                            <td style="vertical-align: middle; color: #ffffff; padding-bottom: 16px; font-family: Quicksand, Verdana, sans-serif; text-align: left;">
                                    {% if module.region != "eu" %} 
                                        {% if module.social_links %}
                                            {% for link in module.social_links %}
                                                {% if link.social_account == "li" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/linkedin-in-20.png') %}
                                                    {% set socialName = "LinkedIn" %}
                                                {% elif link.social_account == "fb" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/facebook-f-20.png') %}
                                                    {% set socialName = "Facebook" %}
                                                {% elif link.social_account == "tw" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/twitter-x-20.png') %}
                                                    {% set socialName = "Twitter / X" %}
                                                {% elif link.social_account == "in" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/instagram-20.png') %}
                                                    {% set socialName = "Instagram" %}
                                                {% elif link.social_account == "yt" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/youtube-20.png') %}
                                                    {% set socialName = "YouTube" %}
                                                {% elif link.social_account == "custom_icon" %}
                                                    {% set iconSrc = link.custom_image.src %}
                                                    {% set socialName = "Custom" %}
                                                {% endif %}
                                                <a href="{{link.social_link.url.href}}" target="_blank" style="display: inline-block; margin-right: 5px;"><img alt="{{socialName}} icon" src="{{iconSrc}}" width="16" height="16" style="height: 16px; width: auto; max-width: 24px; object-fit: contain; vertical-align: bottom; object-position: bottom;"></a>
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        {% if module.social_links_eu %}
                                            {% for link in module.social_links_eu %}
                                                {% if link.social_account == "li" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/linkedin-in-20.png') %}
                                                    {% set socialName = "LinkedIn" %}
                                                {% elif link.social_account == "fb" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/facebook-f-20.png') %}
                                                    {% set socialName = "Facebook" %}
                                                {% elif link.social_account == "tw" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/twitter-x-20.png') %}
                                                    {% set socialName = "Twitter / X" %}
                                                {% elif link.social_account == "in" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/instagram-20.png') %}
                                                    {% set socialName = "Instagram" %}
                                                {% elif link.social_account == "yt" %}
                                                    {% set iconSrc = get_asset_url('../../images/qoria/email/youtube-20.png') %}
                                                    {% set socialName = "YouTube" %}
                                                {% elif link.social_account == "custom_icon" %}
                                                    {% set iconSrc = link.custom_image.src %}
                                                    {% set socialName = "Custom" %}
                                                {% endif %}
                                                <a href="{{link.social_link.url.href}}" target="_blank" style="display: inline-block; margin-right: 5px;"><img alt="{{socialName}} icon" src="{{iconSrc}}" width="16" height="16" style="height: 16px; width: auto; max-width: 24px; object-fit: contain; vertical-align: bottom; object-position: bottom;"></a>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                            </td>     
                            <td style="padding-left: 16px; vertical-align: middle;">
                                <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse !important;">
                                    <tr>    
                                        {% if module.region != "eu" && module.region != "global" %}     
                                        <td style="vertical-align: middle; color: #ffffff; padding-bottom: 16px; font-family: Quicksand, Verdana, sans-serif; text-align: right;">
                                            <p style="font-size: 12px;">{{brandName}} is part of Qoria</p>
                                        </td>  
                                        {% endif %}                          
                                        <td style="vertical-align: middle; color: #ffffff; padding-bottom: 16px; width: 28px; font-family: Quicksand, Verdana, sans-serif; text-align: right;">
                                            <img src="{{ Qicon }}" alt="Qoria icon" width="20" style="width: 20px; display: inline-block; vertical-align: middle;">
                                        </td>
                                    </tr>
                                </table>
                            </td>  
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<!--[if gte mso 9]>
</v:shape>
<![endif]-->
</div>
