{% if is_in_page_editor %}
  {% editor_placeholder %}
{% endif %}
{{ require_js("//js.hsforms.net/forms/embed/v2.js", "head") }}
<div class="modal fade" id="newsletterModal" tabindex="-1" aria-labelledby="newsletterModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-gradient-primary text-white">
        <div class="modal-header border-0 p-3">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-5 py-4 pt-2">
          {% if module.heading %}
          <h3 class="mb-6 border-top border-bottom border-dark py-3 border-2 fw-semibold px-2">
            {{ module.heading}}
          </h3>
          {% endif %}
          {% if module.sub_heading %}
          <p class="lead">
            {{ module.sub_heading }}
          </p>
          {% endif %}
          
            <script>
                hbspt.forms.create({
                portalId: "{{hub_id}}",
                formId: "{{module.form.form_id}}",
                submitButtonClass: "btn btn-light d-block ms-auto mt-2 rounded-0",
                cssClass: 'hs-form form-light'
                });
            </script>

        </div>
      </div>
  </div>
</div>

<script>

</script>