// sticky footer 

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer-wrapper {
    flex-shrink: 0;
}

.content-wrapper {
    flex: 1 0 auto;
}

footer.bg-gradient-primary a {
    color: #FFFFFF;
}

// Text

.heading-bg-gradient {
    display: inline;    
    padding: .06em 1.8em .15em 0;
    line-height: 1.6em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.bg-gradient-primary {
    background-color: #58b78e;
}

.bg-gradient-primary-reverse {
    background-color: #58b78e;
}

.bg-gradient-primary-transparent {
    background-color: #58b78e;
    background: linear-gradient(45deg, #58b78e 0%, transparent 100%) border-box;
}

.bg-gradient-secondary-transparent {
    background-color: #515ba5;
    background: linear-gradient(45deg, #515ba5 0%, transparent 100%) border-box;
}

.fade-45 {
    -webkit-mask-image: linear-gradient(45deg, rgb(0 0 0 / 90%) 24%, transparent 63%);
    mask-image: linear-gradient(45deg, rgb(0 0 0 / 90%) 24%, transparent 63%);
}

  .bg-image-faded:before {
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: luminosity;
    background-size: cover;
    content: "";
    opacity: 0.1;
}



h1, h2, h3 {
    font-weight: 300;
}

h6 {
    font-weight: 700;
}


p:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

.text-decoration-partial-underline {

    margin-bottom:1.5em;

        &:after {
        background: currentColor;
        bottom: -0.5em;
        content: "";
        display: block;
        height: 4px;
        position: relative;
        width: 40px;
    }

    &.text-center {
        &:after {
            margin: 0 auto;
        }
    }

    &.text-end {
        &:after {
            margin-left: auto;
        }
    }

}


.text-tilted{
    transform: rotate(-1.2deg);
  }

  p.intro {
    font-weight: normal;
  }

  blockquote {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #ebebeb;
  }


.x-small {
    font-size: 0.75rem
}

// layout


//hero styles

.hero-full-video, .hero-full-image {
    position: relative;
    background-color: black;
    width: 100%;
  /*  overflow: hidden; */
  }

  .video-bg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
  }
  
  .hero-full-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .hero-full-video .container, 
  .hero-full-video .container-fluid, 
  .hero-full-video .container-xxl, 
  .hero-full-video .container-xl, 
  .hero-full-video .container-lg, 
  .hero-full-video .container-md, 
  .hero-full-video .container-sm,
  .hero-full-image .container, 
  .hero-full-image .container-fluid, 
  .hero-full-image .container-xxl, 
  .hero-full-image .container-xl, 
  .hero-full-image .container-lg, 
  .hero-full-image .container-md, 
  .hero-full-image .container-sm  {
    position: relative;
    z-index: 2;
  }

  
  .hero-full-video .heading-location-bottom-left, .hero-full-image .heading-location-bottom-left {
    padding-top: 10rem;
    }
  
    .hero-full-video .heading-location-33-left, .hero-full-image .heading-location-33-left {
    padding-top: 3.3rem;
    padding-bottom: 6.6rem;
    }
  
    .hero-full-video .heading-location-middle-left, .hero-full-image .heading-location-middle-left  {
    padding-top: 5rem;
    padding-bottom: 5rem;
    }
  
    .hero-full-video .heading-location-top-left, .hero-full-image .heading-location-top-left {
    padding-bottom: 10rem;
    }
  
  
    .hero-full-video .heading-location-66-left, .hero-full-image .heading-location-66-left {
    padding-top: 6.6rem;
    padding-bottom: 3.3rem;
    }

    .hero-form {
      padding-top: 7rem;
    }


  @media (min-width: 768px) {

  
    .hero-full-video .heading-location-bottom-left, .hero-full-image .heading-location-bottom-left {
      padding-top: 30rem;
      }
    
      .hero-full-video .heading-location-33-left, .hero-full-image .heading-location-33-left {
      padding-top: 10rem;
      padding-bottom: 20rem;
      }
    
      .hero-full-video .heading-location-middle-left, .hero-full-image .heading-location-middle-left  {
      padding-top: 15rem;
      padding-bottom: 15rem;
      }
    
      .hero-full-video .heading-location-top-left, .hero-full-image .heading-location-top-left {
      padding-bottom: 30rem;
      }
    
    
      .hero-full-video .heading-location-66-left, .hero-full-image .heading-location-66-left {
      padding-top: 20rem;
      padding-bottom: 10rem;
      }

      .hero-form {
        padding-top: 10rem;
      }
    
  }

  .hero-full-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
.page-contents.arrow-down:after {
    left: 43px;
}



// blog

img.blog-featured-image {
    max-height:  300px;
    width:  100%;
    object-fit:  cover;
    object-position: center center;
}

.blog-listing img.featured-image {
        max-height: 200px;
        width: 100%;
}

.blog-post-body img {
    max-width: 100%;
}

.content-type-tag {
    position: absolute;
    bottom: 0;
    display: block;
    left: 0;
    padding: 0.5em 1em;
    line-height: 1em;
    font-size: 1rem;
}


//video 

.play-button {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    min-width: 50px;
    width: 10%;
}

.play-button:after {
    content: "";
    display: block;
    padding-top: 69.82759%;
}

.play-button-light {
mix-blend-mode: screen;
opacity: 70%;
}


  // map


    .q-icon {
        img {
            width: 0.6rem;
        }
    }




/* Blog post styles */

.blog-post {
    h3, .h3 {
        font-weight: bold;
    }
    h4, .h4 {
        font-weight: bold;
        color: #58b78e;
    }
    h5, .h5 {
        color: #58b78e;
    }
    h6, .h6 {
        font-weight: bold;
    }
    .blog-post-body {
        #hs_cos_wrapper_post_body {
            & > p:first-of-type {
                font-weight: bold;
            }
        }
    }
    hr {
        width: 50%;
        margin: 2rem auto;
        border-color: #b0b0b0;
    }
}

// Search results

.hs-search-results__listing li {
    margin-bottom: 0 !important;
}

.hs-search-results__title {
    color: #58b78e;
}

// additional font-awesome stylings
.fa-end {
vertical-align: 0;
}


// prevent odd button behaviour in safari 
button, [type=button],[type=reset],[type=submit] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    outline: none;
}




    // cursors
    

.cursor-alias {cursor: alias;}
.cursor-all-scroll {cursor: all-scroll;}
.cursor-auto {cursor: auto;}
.cursor-cell {cursor: cell;}
.cursor-col-resize {cursor: col-resize;}
.cursor-context-menu {cursor: context-menu;}
.cursor-copy {cursor: copy;}
.cursor-crosshair {cursor: crosshair;}
.cursor-default {cursor: default;}
.cursor-e-resize {cursor: e-resize;}
.cursor-ew-resize {cursor: ew-resize;}
.cursor-grab {cursor: grab;}
.cursor-grabbing {cursor: grabbing;}
.cursor-help {cursor: help;}
.cursor-move {cursor: move;}
.cursor-n-resize {cursor: n-resize;}
.cursor-ne-resize {cursor: ne-resize;}
.cursor-nesw-resize {cursor: nesw-resize;}
.cursor-ns-resize {cursor: ns-resize;}
.cursor-nw-resize {cursor: nw-resize;}
.cursor-nwse-resize {cursor: nwse-resize;}
.cursor-no-drop {cursor: no-drop;}
.cursor-none {cursor: none;}
.cursor-not-allowed {cursor: not-allowed;}
.cursor-pointer {cursor: pointer;}
.cursor-progress {cursor: progress;}
.cursor-row-resize {cursor: row-resize;}
.cursor-s-resize {cursor: s-resize;}
.cursor-se-resize {cursor: se-resize;}
.cursor-sw-resize {cursor: sw-resize;}
.cursor-text {cursor: text;}
.cursor-w-resize {cursor: w-resize;}
.cursor-wait {cursor: wait;}
.cursor-zoom-in {cursor: zoom-in;}
.cursor-zoom-out {cursor: zoom-out;}