{%set href = "" %}
{% if module.link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" ~ module.link.url.href %}
  {% else %}
    {% unless (module.link.url.href is string_containing "//") 
      or (!module.link is string_startingwith "tel:") 
      or !module.link.url.href 
    %}
      {% set href = "//" ~ module.link.url.href %}
    {% else %}
      {% set href = module.link.url.href || "" %}
    {% endunless %}
  {% endif %}
  
  {% if module.advanced.trigger_modal %}
    {% set href = "#" %}
  {% endif %}
  
  {% set rel = (module.link.open_in_new_tab ? "noopener " : null) ~ (module.link.no_follow ? "nofollow" : null) %}
  <div class="d-block text-md-{{ module.alignment }} text-center" style="{{module.styles.spacing_field.css}}">
    <a class="btn btn{{ module.button_style }}{{module.button_colour}} {{module.button_size}} {% if module.button_style != "-" %}{{module.text_colour}}{% endif %} {{ module.advanced.additional_classes }}" href="{{ href }}"
        id="button_{{ name }}"
       {% if module.advanced.trigger_modal %}
            data-bs-toggle="modal"
          data-bs-target="#{{ module.advanced.modal_id }}"
        {% endif %}
        {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.download %}
          {% if module.download_file %}
            download="{{module.download_file}}"
          {% else %}
              download
          {% endif %}
        {% endif %}
        rel="{{ rel }}">
      {{ module.button_text }}
    </a>
  </div>
  
{% if !is_in_editor %}
  {% if module.download_on_page_load %}
    <script>
      $(document).ready(function () {
        setTimeout(function(){
          document.getElementById("button_{{ name }}").click();
        }, 2000);
      });
    </script>
  {% endif %}
{% endif %}