
{% require_css %}
    <style>
    {% scope_css %}
.carousel-container {
  display: grid !important;
  {% if module.style.controls %}
  grid-template-columns: 60px 1fr 60px;
  margin: 0 -60px;
  {%else%}
    grid-template-columns: 1fr;
  {%endif%}
  {%if module.style.indicators %}
  padding-bottom: 2rem;
  {% endif %}
}

{% if module.style.normalise_heights %}

.slick-initialized .slick-slide {
    /* display: block; */
    display: flex;
    align-items: {{module.style.vertical_align}};
    justify-content: {{module.style.horizontal_align}};
}

{% endif %}


{% end_scope_css %}
</style>
{% end_require_css %}


{% if module.slide|length == 0 %}

    {% if is_in_page_editor %}
        {% editor_placeholder %}
    {% endif %}

{% endif %}

    <div class="carousel-container " id="slick-{{name}}">

    {% if module.style.controls %}
        <div class="slider-arrow-container align-self-center text-center">
            <a class="" aria-label="Previous" type="button" style="" aria-disabled="false" id="prevArrow-{{name}}">
                <span class="fa-stack fa-2x fs-6 {{module.style.dark_or_light}}">
                <i class="fal fa-circle fa-stack-2x"></i>
                <i class="fas fa-chevron-left fa-stack-1x"></i>
                </span>
            </a>
        </div>
        {%endif%}
        
    <div class="{{module.style.dark_or_light}} carousel-slider {{ "section-shadow" if module.style.shadow == "section-shadow" }}" style="{{ "transform-style: preserve-3d; position: relative; z-index: 2;" if module.style.shadow == "section-shadow" }}" id="carousel_{{name}}">
    {% for item in module.slide %}
        <div class="slide">
            <div class="row g-0 w-100">
                {% for item2 in item.column %}
                    <div class="{{ item2.column_classes }}">
                    {{ item2.content }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

    {% if module.style.controls %}
        <div class="slider-arrow-container align-self-center text-center">
            <a class="" aria-label="Next" type="button" style="" aria-disabled="false" id="nextArrow-{{name}}">
                <span class="fa-stack fa-2x fs-6 {{module.style.dark_or_light}}">
                <i class="fal fa-circle fa-stack-2x"></i>
                <i class="fas fa-chevron-right fa-stack-1x"></i>
                </span>
            </a>
        </div>
        {%endif%}

    </div>

<script>
document.addEventListener("DOMContentLoaded", () => {
        var smallBreakpoint = window.getComputedStyle(document.documentElement).getPropertyValue('--q-breakpoint-sm');
        var largeBreakpoint = window.getComputedStyle(document.documentElement).getPropertyValue('--q-breakpoint-lg');
    $('#carousel_{{name}}').slick({
        dots: {{ module.style.indicators }},
        infinite: {{ module.style.infinite_scrolling }},
        speed: 300,
        autoplay: {{ module.style.autoplay }},
        {% if module.style.autoplay %} autoplaySpeed: {{ module.style.interval }}, {% endif %}
        arrows: {{ module.style.controls }},
        prevArrow: '#prevArrow-{{name}}',
        adaptiveHeight: {{ module.style.adaptive_height }},
        nextArrow: '#nextArrow-{{name}}',
        dotsClass: "slider-indicators",
        slidesToShow: {{ module.style.responsive.desktop.slides_to_display }},
        slidesToScroll: {{ module.style.responsive.desktop.slides_to_slide }},
        responsive: [
            {
                breakpoint: parseInt(largeBreakpoint),
                settings: {
                    slidesToShow: {{ module.style.responsive.tablet.slides_to_display }},
                    slidesToScroll: {{ module.style.responsive.tablet.slides_to_slide }}
                }
            },
            {
                breakpoint: parseInt(smallBreakpoint),
                settings: {
                    slidesToShow: {{ module.style.responsive.mobile.slides_to_display }},
                    slidesToScroll: {{ module.style.responsive.mobile.slides_to_slide }}
                }
            }
        ]
    });

    {% if module.style.normalise_heights %}
        
        $(window).on(
        'load resize orientationchange', function () {
        normaliseHeights('#slick-{{ name }} .slick-slide');
        });

    {% endif %}

});
</script>