<section class="position-relative {{" section-shadow" if module.style.shadow }}" style="transform-style: preserve-3d; -webkit-transform-style: preserve-3d;">
   <div class="container-fluid g-0  {{module.style.background_colour}} {{ module.advanced.additional_classes }}" style="{{module.style.spacing_field.css}}">
        {% for item in module.row %}
            <div class="row {{ item.advanced.additional_classes }}">
            {% for item2 in item.column %}
                <div class="col {{ item2.advanced.additional_classes }}">
                <div class="h-100 w-100 css-col-count-lg-{{ item2.responsive.desktop.columns }} css-col-count-sm-{{ item2.responsive.tablet.columns }} css-col-count-{{ item2.responsive.mobile.columns }}">
                    {{ item2.text }}
                </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
   </div>
</section>