{% require_css %}
    <style>
        {% scope_css %}
            .videos-container {
                display: grid !important;
                {% if module.styles.carousel && module.styles.controls %}
                grid-template-columns: 60px 1fr 60px;
                margin: 0 -60px;
                {%else%}
                grid-template-columns: 1fr;
                {%endif%}
                {% if module.styles.carousel && module.styles.indicators %}
                padding-bottom: 2rem;
                {% endif %}
            }

            .slick-slide {
                margin: 0 1rem;
            }

            .slick-list {
                margin: 0 -1rem;
                padding-bottom: 1rem;
            }

            {% if module.styles.normalise_heights %}

                .slick-initialized .slick-slide {
                    /* display: block; */
                    display: flex;
                    align-items: {{module.styles.vertical_align}};
                    justify-content: {{module.styles.horizontal_align}};
                }

            {% endif %}
        {% end_scope_css %}
    </style>
{% end_require_css %}


{% if module.video_card|length == 0 %}

    {% if is_in_page_editor %}
        {% editor_placeholder %}
    {% endif %}

{% endif %}

{% macro videoCard() %}

    {% if module.styles.card.card_colour %}    
        {% set cardColour = module.styles.card.card_colour %}
    {% else %}
        {% set cardColour = "bg-light" %}
    {% endif %}

    <div class="{{ "card-video" if module.styles.card.overlay else "card" }} h-100 {{ cardColour }} {{ module.styles.card.shadow if module.styles.card.shadow != "section-shadow" && !module.styles.carousel }}">
        <div class="card-img-top">
            <img src="{{ item.video_settings.custom_thumbnail.src }}" class="img-fluid">
            <div class="play-button play-button-{{ item.video_settings.play_button_colour }}" data-bs-toggle="modal" data-bs-target="#videoModal-{{name}}-{{loop.index}}" onclick="playVideo('video{{name}}{{loop.index}}')">
            </div>
        </div>
        <div class="{{ module.styles.card.body_colour if module.styles.card.overlay }} card-body">
            {% if item.logo.src %}
                {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
                {% if item.logo.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif item.logo.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
                <img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="mb-3">
            {% endif %}
            
            {% if item.pre_heading is defined %}
                {% if item.pre_heading != "" %}
                    <span class="small  text-opacity-50 fw-bold">{{ item.pre_heading }}</span>
                {% endif %}
            {% endif %}
            {% if module.styles.card.title %}
                <h5 class="fw-bold">{{item.title}}</h5>
            {% endif %}
            {{ item.description }}
        </div>
        {% if item.link_label is defined %}
            
            {% if item.link_label != "" %}
                <div class="card-footer {{ module.styles.card.body_colour if module.styles.card.overlay }} ">
                    <button type="button" class="btn btn-link p-0 text-reset fw-semibold text-decoration-none" data-bs-toggle="modal" data-bs-target="#videoModal-{{name}}-{{loop.index}}" onclick="playVideo('video{{name}}{{loop.index}}')">{{ item.link_label }}</button>
                </div>
            {% endif %}
        {% else %}
                <div class="card-footer {{ module.styles.card.body_colour if module.styles.card.overlay }} ">
                    <button type="button" class="btn btn-link p-0 text-reset fw-semibold text-decoration-none" data-bs-toggle="modal" data-bs-target="#videoModal-{{name}}-{{loop.index}}" onclick="playVideo('video{{name}}{{loop.index}}')">Watch video ></button>
                </div>
        {% endif %}
    </div>

{% endmacro %}

<div class="videos-container" id="videos-{{name}}">

    {% if module.styles.carousel %}
        {% if module.styles.controls %}
            <div class="slider-arrow-container align-self-center text-center">
                <a class="" aria-label="Previous" type="button" style="" aria-disabled="false" id="prevArrow-{{name}}">
                    <span class="fa-stack fa-2x fs-6 {{module.styles.dark_or_light}}">
                    <i class="fal fa-circle fa-stack-2x"></i>
                    <i class="fas fa-chevron-left fa-stack-1x"></i>
                    </span>
                </a>
            </div>
        {% endif %}
            
        <div class="{{module.styles.dark_or_light}} carousel-slider {{ "section-shadow" if module.styles.shadow == "section-shadow" }}" style="{{ "transform-style: preserve-3d; position: relative; z-index: 2;" if module.styles.shadow == "section-shadow" }}" id="videos_{{name}}">
        {% for item in module.video_card %}
            <div class="slide {{ module.styles.shadow if module.styles.shadow != "section-shadow" }}">
                {{ videoCard() }}
            </div>
        {% endfor %}
        </div>

        {% if module.styles.carousel && module.styles.controls %}
            <div class="slider-arrow-container align-self-center text-center">
                <a class="" aria-label="Next" type="button" style="" aria-disabled="false" id="nextArrow-{{name}}">
                    <span class="fa-stack fa-2x fs-6 {{module.styles.dark_or_light}}">
                    <i class="fal fa-circle fa-stack-2x"></i>
                    <i class="fas fa-chevron-right fa-stack-1x"></i>
                    </span>
                </a>
            </div>
        {% endif %}

        
    {% else %}

        
        <div class="container-fluid g-0" style="{{module.styles.spacing_field.css}}">
            <div class="row row-cols-{{ module.styles.responsive.mobile.slides_to_display }} row-cols-md-{{ module.styles.responsive.tablet.slides_to_display }} row-cols-lg-{{ module.styles.responsive.desktop.slides_to_display }} g-3">

            {% for item in module.video_card %}

                <div class="col">
                {{ videoCard() }}
                </div>

            {% endfor %}
            </div>
        </div>
        
    {% endif %}

</div>

    {% for item in module.video_card %}

        <div class="modal fade" id="videoModal-{{name}}-{{loop.index}}" tabindex="-1" aria-labelledby="videoModal-{{name}}-{{loop.index}}" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content overflow-hidden">
                    <div class="modal-body p-0">
                        <div class="position-relative">
                            <video id="video{{name}}{{ loop.index }}" width="100%" class="d-block" preload="{{ item.video_settings.preload }}" {% if item.video_settings.loop %}loop{% endif %}{% if item.video_settings.autoplay %} autoplay{% endif %}{% if item.video_settings.muted %} muted{% endif %}{% if item.video_settings.custom_thumbnail.src %} poster="{{ item.video_settings.custom_thumbnail.src }}"{% endif %}  controlsList="nodownload noremoteplayback">
                            {% set videoUrl = item.video_settings.file|lower %}
                            {% if videoUrl is string_containing ".mp4" %}
                            {% set type = 'type="video/mp4"' %}
                            {% elif videoUrl is string_containing ".ogg" %}
                            {% set type = 'type="video/ogg"' %}
                            {% elif videoUrl is string_containing ".webm" %}
                            {% set type = 'type="video/webm"' %}
                            {% endif %}
                            <source src="{{ item.video_settings.file }}" {{ type }}>
                            {% for subtitle in item.video_settings.subtitles %}
                            <track label="{{ subtitle.subs_label }}" kind="captions" src="{{ subtitle.subtitle_file }}" {% if loop.first %}default{% endif %} />
                            {% endfor %}
                            Your browser does not support the video tag.
                            </video>                        
                            <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close" onclick="pauseVideo('video{{name}}{{loop.index}}')"></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


<script>
document.addEventListener("DOMContentLoaded", () => {

    {% if module.styles.carousel %}

        var smallBreakpoint = window.getComputedStyle(document.documentElement).getPropertyValue('--q-breakpoint-sm');
        var largeBreakpoint = window.getComputedStyle(document.documentElement).getPropertyValue('--q-breakpoint-lg');
    $('#videos_{{name}}').slick({
        dots: {{ module.styles.indicators }},
        infinite: {{ module.styles.infinite_scrolling }},
        speed: 300,
        autoplay: {{ module.styles.autoplay }},
        {% if module.styles.autoplay %} autoplaySpeed: {{ module.styles.interval }}, {% endif %}
        arrows: {{ module.styles.controls }},
        prevArrow: '#prevArrow-{{name}}',
        adaptiveHeight: {{ module.styles.adaptive_height }},
        nextArrow: '#nextArrow-{{name}}',
        dotsClass: "slider-indicators",
        slidesToShow: {{ module.styles.responsive.desktop.slides_to_display }},
        slidesToScroll: {{ module.styles.responsive.desktop.slides_to_slide }},
        responsive: [
            {
                breakpoint: parseInt(largeBreakpoint),
                settings: {
                    slidesToShow: {{ module.styles.responsive.tablet.slides_to_display }},
                    slidesToScroll: {{ module.styles.responsive.tablet.slides_to_slide }}
                }
            },
            {
                breakpoint: parseInt(smallBreakpoint),
                settings: {
                    slidesToShow: {{ module.styles.responsive.mobile.slides_to_display }},
                    slidesToScroll: {{ module.styles.responsive.mobile.slides_to_slide }}
                }
            }
        ]
    });
    
    
    {% endif %}

    {% if module.styles.card.equal_heights %}
        
        $(window).on(
        'load resize orientationchange', function () {
        normaliseHeights('#videos-{{ name }} .card-video ');
        });

    {% endif %}

    {% for item in module.video_card %}
    const videoModal{{name}}{{loop.index}} = document.getElementById('videoModal-{{name}}-{{loop.index}}');
    videoModal{{name}}{{loop.index}}.addEventListener('hide.bs.modal', event => {
        pauseVideo('video{{name}}{{loop.index}}');
    })
    {% endfor %}

});
</script>