{# Need help setting up site search?
   Start here: https://knowledge.hubspot.com/articles/kcs_article/cos-general/how-do-i-set-up-a-results-page-for-my-search-field-in-hubspot #}

{% set search_page = module.results.use_custom_search_results_template is truthy and module.results.path_id ? content_by_id(module.results.path_id).absolute_url : site_settings.content_search_results_page_path %}

{% unless (search_page is string_containing "://") %}
  {% set search_page = "/" ~ search_page %}
{% endunless %}

{% set search_page = search_page|regex_replace("http:", "") %}

<div class="hs-search-field">
    <div class="hs-search-field__bar">
      <form data-hs-do-not-collect="true" action="{{ search_page }}" class="d-flex {{ "page-search" if module.include_search_button }}">
        {% if module.field_label %}
          <label for="term">{{ module.field_label }}</label>
        {% endif %}
        <input type="text" class="hs-search-field__input border-0 {{module.style.rounded_corners}} {{ "border-bottom border-dark-subtle" if (module.include_search_button || module.style.baseline) }} " name="term" autocomplete="off" aria-label="{{ module.field_label || "Search" }}" placeholder="{{ module.placeholder }}" value="" style="{{ "background-color: #ffffffB3;" if module.style.background_colour == "white" }}">

        {% if module.content_types.website_pages %}
          <input type="hidden" name="type" value="SITE_PAGE">
        {% endif %}
        {% if module.content_types.landing_pages %}
          <input type="hidden" name="type" value="LANDING_PAGE">
        {% endif %}
        {% if module.content_types.blog_posts %}
          <input type="hidden" name="type" value="BLOG_POST">
          <input type="hidden" name="type" value="LISTING_PAGE">
        {% endif %}
        {% if module.content_types.knowledge_articles %}
          <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
        {% endif %}
        {% if module.domains %}
          {% for domain in module.domains %}
          <input type="hidden" name="domain" value="{{domain}}">
          {% endfor %}
        {% endif %}

        {% if module.languages %}
          {% for language in module.languages %}
            <input type="hidden" name="language" value="{{language}}">
          {% endfor %}
        {% endif %}
        {% if module.content_types.blog_posts %}
          {% if module.blogs %}
            {% for blog in module.blogs %}
            <input type="hidden" name="groupId" value="{{blog}}">
            {% endfor %}
          {% endif %}
        {% endif %}

        {% if module.include_search_button %}
          <button aria-label="Search" class="btn btn-secondary ms-md-3 d-none d-sm-block">Search</button>
          <button aria-label="Search" class="btn btn-secondary ms-md-3 d-block px-4 d-sm-none"><i class="fa fa-arrow-right"></i></button>
        {% endif %}
      </form>
      
    <ul class="hs-search-field__suggestions"></ul>
    </div>
</div>
