<!--
  templateType: page
  isAvailableForNewContent: false
  label: Linewize NZ Home
  screenshotPath: ../../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{% dnd_area "dnd_area"
label="Body"
class="main p-0 overflow-clip"
%}

{# hero banner #}
{% include_dnd_partial path="../../sections/hero-banner.html"
context={
  "heroType": "full-video",
  "videoSrc": get_asset_url("../../videos/iStock-1337197059-RT.mp4"),
  "header": "Helping every child to <br><strong>thrive in their digital life</strong>",
  "preHeader": "Our purpose",
  "breadcrumbs": false,
  "sharePrice": true,
  "pageContents": [],
  "cta": [{
    "colour" : "light",
    "cta_label" : "Read our story",
    "cta_link" : {
      "no_follow" : false,
      "open_in_new_tab" : false,
      "url" : {
        "href" : "/our-story",
        "type" : "EXTERNAL"
      }
    },
    "size" : "btn-lg",
    "style" : "-outline-"
  }]
} %}

{# stats pullout #}
{% include_dnd_partial path="../../sections/pullout-stats.html" %}

{# welcome to Qoria #}
{% dnd_section
  background_color="rgba(235, 235, 235, 1)",
  padding={
    "default" : {
      "bottom" : "80px",
      "top" : "80px"
    }
  },
  max_width=1280
%}
  {% dnd_column
    offset=0,
    width=4
  %}
    {% dnd_row %}
      {% dnd_module
        path="/q-theme/modules/heading",
        offset=0,
        width=12,
        heading_tag="h1",
        heading_underline=true
      %}
        {% module_attribute "heading" %}
          Welcome to <br><strong>Qoria</strong>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=4,
    width=8,
    background_color="rgba(255, 255, 255, 1)",
    padding={
      "default" : {
        "bottom" : "50px",
        "left" : "50px",
        "right" : "50px",
        "top" : "50px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <h4 style="font-weight: bold;">Our mission is to close the digital wellbeing gaps that children fall through.</h4>
          <p class="lead">We do it by harnessing the power of connection to ensure children are seamlessly supported on all sides; at school, at home and everywhere in between. Our connections define us.</p>
          <p class="lead"><img src="{{ get_asset_url('/q-theme/images/qoria/logos/Q-Colour.svg') }}" alt="Qoria_Logo_White" width="84" loading="lazy" style="height: auto; max-width: 100%; width: 84px; float: right; margin: 0px 0px 0px 10px;">We’re uniting stakeholders to advance child digital wellbeing to levels never before seen. <span style="font-weight: bold;">Because none of us is as powerful as all of us.</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{# video #}
{% include_dnd_partial path="../../sections/video.html" %}

{# cards #}
{% include_dnd_partial path="../../sections/cards.html" %}

{# blog #}
{% include_dnd_partial path="../../sections/blog-display.html" %}

{% end_dnd_area %}
{% endblock body %}
