{% if module.style.nav_styles.appearance != "none" %}
<nav>
    <ul class="nav {{module.style.nav_styles.appearance}}" id="tabs-{{name}}" role="tablist">
    
        {% for item in module.content_block %}
        <li class="nav-item " role="presentation">
            <button class="nav-link {{"active" if loop.first}}" id="link-{{loop.index}}-{{name}}" data-bs-toggle="tab" data-bs-target="#tab-{{loop.index}}-{{name}}" type="button" role="tab" aria-controls="#tab-{{loop.index}}-{{name}}" aria-selected="{{ "true" if loop.first else "false" }}">{{item.link_label}}</button>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}


<div class="tab-content" id="tabContent-{{name}}">
    {% for item in module.content_block %}
    <div class="tab-pane fade{{" active show" if loop.first}} {{item.advanced.additional_classes}}" id="tab-{{loop.index}}-{{name}}" role="tabpanel" aria-labelledby="tab-{{loop.index}}-{{name}}" tabindex="0">
    
    {% for row in item.row %}
        <div class="row {{ row.advanced.additional_classes }} row-cols-lg-{{ row.responsive.desktop.columns }} row-cols-sm-{{ row.responsive.tablet.columns }} row-cols-{{ row.responsive.mobile.columns }}">
        {% for column in row.column %}
            <div class="col {{ column.advanced.additional_classes }}">
            <div class="">
                {{ column.text }}
            </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}


    </div>
    {% endfor %}
</div>