<!-- module html  -->
{% macro menu_items2() %}
  
    {% set menu = menu(module.menu, "site_root").children %}
  
    {% macro render_link_item(link) %}
        {% if link.url %}
        <a class="h6 mb-2" href="{{link.url}}">{{ link.label|replace(" ","&nbsp;") }}</a>
        {% else %}
            
        <h6 class="mb-2">{{ link.label|replace(" ","&nbsp;") }}</h6>
        {% endif %}
      
        {% if link.children %}
            <ul class="list-unstyled">
            {% for sublink in link.children %}
                {{ render_dropdown_links(sublink) }}
            {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

  {% macro render_dropdown_links(link) %}
    <li class="mb-2">
        <a class="p" href="{{link.url}}">{{ link.label|replace(" ","&nbsp;") }}</a>
    </li>
  {%endmacro%}
  
    {% for link in menu %}
        <div class="col pb-4">
            {{ render_link_item(link) }}
        </div>
    {% endfor %}
  
  {% endmacro %}
  
  {# Desktop menu #}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {{ menu_items2() }}
      </div>