<!-- module html  -->
{% if module.style.nav_styles.appearance == "btn-group" %}
    {% require_css %}
        <style>
            {% scope_css %}
                nav .btn.active, nav .btn:active {
                    z-index: 1;
                    position: relative;
                }

                nav .btn {
          /*          --q-btn-color: #fff;
                    --q-btn-bg: #58b78e;
                    --q-btn-border-color: var(--q-{{ module.style.nav_styles.active_colour }});
                    --q-btn-hover-color: #fff;
                    --q-btn-hover-bg: #4b9c79;
                    --q-btn-hover-border-color: #469272; */
                    --q-btn-active-color: var(--q-{{ "dark" if module.style.nav_styles.active_colour == "light" else "white"}});
                    --q-btn-active-bg: var(--q-{{ module.style.nav_styles.active_colour }});
                    --q-btn-active-border-color: var(--q-{{ module.style.nav_styles.active_colour }});
                    --q-btn-active-shadow: none;
                    box-shadow: none;
                    z-index: 0;
                    position: relative;
                }

                .pillar-anchor {
                    position: relative;
                    top: -200px;
                }
            {% end_scope_css %}
        </style>
    {% end_require_css %}
{% endif %}

<div id="pillars_{{name}}" class="sticky-nav-container" data-bs-spy="scroll" data-bs-target="#tabs-{{name}}" data-bs-root-margin="40% 0 10% 0" data-bs-threshold="[0.0 ... 1.0]">
    {% if module.style.nav_styles.appearance != "none" %}
    <nav class="sticky-top d-flex flex-column" style="top: 150px; z-index: 1019;">
        {% if module.style.nav_styles.appearance != "btn-group" %}
            <ul class="nav {{module.style.nav_styles.appearance}} {{module.style.nav_styles.alignment}}" id="tabs-{{name}}" role="tablist">
                {% for item in module.content_block %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {{"active" if loop.first}}" id="link-{{loop.index}}-{{name}}" href="#tab-{{loop.index}}-{{name}}" type="button" role="tab" aria-controls="#tab-{{loop.index}}-{{name}}" aria-selected="{{ "true" if loop.first else "false" }}">{{item.link_label}}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="nav {{module.style.nav_styles.appearance}} {{module.style.nav_styles.shadow}} {{module.style.nav_styles.alignment}}" id="tabs-{{name}}" role="tablist">
                {% for item in module.content_block %}
                    <a class="btn {{module.style.nav_styles.button_size}} {{module.style.nav_styles.inactive_style}}{{ "-" ~ module.style.nav_styles.active_colour if module.style.nav_styles.inactive_colour == " " else "-" ~ module.style.nav_styles.inactive_colour }} {{"active" if loop.first}}" id="link-{{loop.index}}-{{name}}" type="button" aria-controls="#tab-{{loop.index}}-{{name}}" aria-selected="{{ "true" if loop.first else "false" }}" href="#tab-{{loop.index}}-{{name}}">
                        {{item.link_label}}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </nav>
    {% endif %}


    <div class="" id="tabContent-{{name}}" style="{{module.style.spacing_field.css}}">
        {% for item in module.content_block %}
        <div class="{{item.advanced.additional_classes}}" role="tabpanel" id="tab-{{loop.index}}-{{name}}" aria-labelledby="tab-{{loop.index}}-{{name}}" tabindex="0" style="padding-top:200px; margin-top: -200px;">
        
        {% for row in item.row %}
            <div class="row mx-0 {{ row.advanced.additional_classes }} row-cols-lg-{{ row.responsive.desktop.columns if row.responsive.desktop.columns else "1" }} row-cols-sm-{{ row.responsive.tablet.columns if row.responsive.tablet.columns else "1" }} row-cols-{{ row.responsive.mobile.columns if row.responsive.mobile.columns else "1" }}">
            {% for column in row.column %}
                <div class="col {{ column.advanced.additional_classes }}">
                <div class="{{ column.advanced.additional_div_classes }}">
                    {{ column.text }}
                </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}


        </div>
        {% endfor %}
    </div>
</div>


