<!--
templateType: global_partial
label: Regional Selection Modal
description: "Regional selection modal"
screenshotPath: ../images/section-previews/screenshot_Footer.png
-->

{{ require_js(get_asset_url("../../js/custom-functions.js"), "footer") }}
{{ require_js(get_asset_url("../../js/region-redirect-rules.js"), "footer") }}
{{ require_js(get_asset_url("../../js/region-redirect.js"), "footer") }}

<div class="modal fade" style="" id="regionModal" tabindex="-1" aria-labelledby="Region Modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-gradient-primary text-bg-primary">
            <div class="modal-header border-0 ">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="setCookie('closedRegionModal','true',7)"></button>
            </div>
            <div class="modal-body pt-md-5 px-md-5 ">
                <p class="h3" dir="ltr"><strong>This <span data-site-name></span> site doesn't match your location</strong></p>
                <p class="lead" dir="ltr">Based on your location, we think you may prefer the <span data-region-name></span> website.</p>
            </div>
            <div class="modal-footer border-0 pt-0 pb-md-5 px-md-5">
                <a class="ms-auto btn btn-light" data-region-link href="#" id="button_Region_Select_Modal_" rel="">
                Visit <span data-region-name></span>
                </a>
                <a class=" btn btn-outline-light ms-0" href="#" id="button_Region_Select_Modal_" data-bs-dismiss="modal" onclick="setCookie('closedRegionModal','true',7)" rel="" target="_self">
                Stay on <span data-site-name></span>
                </a>
            </div>
        </div>
    </div>
</div>
{% unless is_in_editor %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        initRegionRedirectModal();
    });
</script>
{% endunless %}
