{% if module.event|length == 0 %}
    {% if is_in_page_editor %}
        {% editor_placeholder %}
    {% endif %}
{% else %}

  
  <div id="{{name}}">
    {% if module.style.include_filter %}
      {% if module.style.filter_type == "month" %}

        {# get list of months #}
        {% set monthList = [] %}

        {% for event in module.event %}
          {% if event.calendar_object.event_start %}
          {% set startDate = event.calendar_object.event_start|format_datetime("MMMM yyyy") %}
            {% if monthList is not containing startDate  %}
              {% do monthList.append(startDate) %}
            {% endif %}
          {% endif %}
          {% if event.calendar_object.event_end %}
            {% set endDate = event.calendar_object.event_end|format_datetime("MMMM yyyy") %}
          {% if monthList is not containing endDate  %}
              {% do monthList.append(endDate) %}
            {% endif %}
          {% endif %}
        {% endfor %}

      <h4>Find an event</h4>
      <div class="hs-form mb-6">
        <select class="form-select hs-input" aria-label="Please select a month" id="{{name}}_selector">
          <option selected value="event">Please select a month</option>
          {% for month in monthList %}
          <option value="{{month|lower|replace(" ","-")}}">{{month}}</option>
          {% endfor %}
        </select>
      </div>
      <h4 id="monthLabel" class="mb-4"></h4>
      {% endif %}
    {% endif %}
    {% for event in module.event %}
      {% if module.style.event_style == "1" %}
        {% from '/q-theme/assets/macros.html' import eventStyle1 %}
        
          {{ eventStyle1(event) }}

      {% elif module.style.event_style == "2" %}
        {% from '/q-theme/assets/macros.html' import eventStyle2 %}
        
          {{ eventStyle2(event) }}
          
      {% endif %}
    {% endfor %}

    {% if module.style.include_filter %}
    <div class="event no-result">
      <p>Sorry, there are no events this month.</p>
    </div>
    {% endif %}
  </div>
{% endif %}

<script>

var eventsModule  = document.getElementById("{{name}}");

  function filter(container, parentClassToFilter, specificClassToShow, noResultsClass){
    var allItems     = container.querySelectorAll("." + parentClassToFilter);
    var filterItems  = container.querySelectorAll("." + specificClassToShow);
    var noResults  = container.querySelectorAll("." + noResultsClass);

    allItems.forEach((item) => {
      item.style.display = "none";
    });

    if (filterItems.length > 0) {
        filterItems.forEach((item) => {
          item.style.display = "block";
        });
      } else {
        noResults.forEach((item) => {
          item.style.display = "block";
        });
      }
  }

  document.getElementById('{{name}}_selector').addEventListener('change', function() {
    let monthCap = this.value.charAt(0).toUpperCase() + this.value.slice(1);
    document.getElementById("monthLabel").innerHTML = monthCap.replace("-", " ");
    filter(eventsModule, "event", this.value, "no-result");
  });

  {% if module.style.include_filter %}
    {% if module.style.filter_type == "month" %}
      document.addEventListener("DOMContentLoaded", function() {
      
      var today = new Date();
      today.setDate(today.getDate());
      var month = today.toLocaleString('en-US', { month: 'long', year: 'numeric' });
      var monthClass = month.replace(" ","-").toLowerCase();
      filter(eventsModule, "event", monthClass, "no-result");
      let monthCap = month.charAt(0).toUpperCase() + month.slice(1);
      document.getElementById("monthLabel").innerHTML = monthCap.replace("-"," ");
      });
    {% endif %}
  {% endif %}

</script>


