{% if module.override_default_logo %}
  <a href="{{ module.link_url.href }}" class="{{ module.expert_settings.custom_classes }}">
    {% if module.logo.src %}
      {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}"' %}
      {% set imgSrc = module.logo.src %}
    {% if module.logo.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}" style="max-width: 100%; height: auto;"' %}
      {% set imgSrc = resize_image_url(module.logo.src, module.logo.width, module.logo.height) %}
    {% elif module.logo.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.logo.max_width }}" height="{{ module.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% set imgSrc = resize_image_url(module.logo.src, module.logo.max_width, module.logo.max_height) %}
    {% endif %}
    {% set loadingAttr = module.logo.loading != 'disabled' ? 'loading="{{ module.logo.loading }}"' : '' %}
    <img src="{{ imgSrc }}" alt="{{ module.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
  </a>
{% else %}
  <a href="{{brand_settings.logo.link}}" class="{{ module.expert_settings.custom_classes }}">
    <img src="{{brand_settings.logo.src}}" alt="{{brand_settings.logo.alt}}" style="max-width: {{brand_settings.logo.width}}px; width: 100%; height: auto; max-height: {{brand_settings.logo.height}}px;" width="{{brand_settings.logo.width}}" height="{{brand_settings.logo.height}}">
  </a>
{% endif %}